[2017-06-02 10:09] dilwarhussain opened #1 "Create News content type"
- [ ] Confirm which fields are filterable
- [ ] Enable filtering by member or ALNAP news

[2017-06-02 10:17] dilwarhussain commented on #1
I'm going to type in here

[2017-06-02 14:16] angievanhegan opened #2 "Create news landing page"
- [ ] Build infinity scroll
- [ ] Add entity reference to other member(s)

[2017-06-02 14:26] angievanhegan opened #3 "Create member content type"

[2017-06-02 14:34] angievanhegan opened #4 "Review source resource database"
-  [ ] update content model with changes

[2017-06-02 14:37] angievanhegan opened #5 "Finalise content model"

[2017-06-02 14:37] angievanhegan opened #6 "(#210) Build and theme annual meetings landing page"
### Dependencies
- [ ] Link to #35

### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-02 14:41] angievanhegan opened #7 "Move repo to Github"

[2017-06-02 14:41] angievanhegan opened #8 "Theme setup"

[2017-06-02 14:43] angievanhegan opened #9 "Work out url structures for content types"
- [ ] decide if we're going to keep the url structure for resources
- [ ] redirects for blogs?
- [ ] redirects for resources?

[2017-06-02 14:47] angievanhegan opened #10 "Find out what the requirements are for time tracking"
- [ ] ask the team what they need
- [ ] ask Steve and Dave what they need

[2017-06-02 14:48] angievanhegan opened #11 "Investigate options for time tracking"

[2017-06-02 14:48] angievanhegan opened #12 "Setup time tracking with Toggl"
#### Requirements
-----
- [ ] Find a time management solution that does what we need
- [ ] Install it
- [ ] Make sure everyone knows what to do

[2017-06-02 14:51] angievanhegan opened #13 "Finalise design for team page"

[2017-06-02 14:51] angievanhegan opened #14 "Finalise design for event page"

[2017-06-02 14:53] angievanhegan opened #15 "(#213) Setup the taxonomy for tagging resources / events / news"
### Done criteria
- [x]  Resource type, category, tags and internal tags created
- [x] Events type taxonomy created
- [x] News taxonomy
- [x]  Blogs taxonomy
- [x]  Jobs taxonomy

---
### Designs
- [x] N/a
### ALNAP to check
- [x] Resources have all relevant tags and internal tags available
- [x] Resource type and category are correct on resource content type
- [x] Event types are available when a

[2017-06-02 14:54] angievanhegan opened #16 "Team spend time going through requirements and scoping documents together"

[2017-06-02 14:59] angievanhegan opened #17 "Clarify with ALNAP what process is for user registration"
Maria to send stuff over

[2017-06-02 15:53] #1 closed

[2017-06-02 15:53] #2 closed

[2017-06-02 15:54] #3 closed

[2017-06-02 17:13] angievanhegan opened #18 "Wireframe add an event node"
links to #24
Links to #30

[2017-06-02 17:13] angievanhegan opened #19 "(#240) Wireframe add a job page"
### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-02 17:13] angievanhegan opened #20 "Wireframe for list view for jobs/resources"
linked to #59 and #60

[2017-06-02 17:13] angievanhegan opened #21 "Wireframe contact us page"

[2017-06-02 17:14] angievanhegan opened #22 "Wireframe submit a resource page"

[2017-06-02 17:14] angievanhegan opened #23 "(#212) Build Portal pages"
### Done criteria
- [x] Setup domain access create 2 new domains eg. http://www.syrialearning.org/
- [x] Blogs, events, resources etc should use exisiting content types
- [x] Create new views if needed or add domain filter to views to display content on portals (added domain filter to existing views)
- [x] Create separate menus for each domain
- [x] New footer required
- [x] There are some resourc

[2017-06-02 17:14] angievanhegan opened #24 "Wireframe event coverage node"
Wireframe: https://invis.io/MTC3CTGWC

linked to #30 (build)
Linked to #18 (Wireframe add an event node)

### Notes
- __Plan is to keep the same page but modify the content__
- Add a checkbox to content type for event coverage, once checked will hide/show different fields in view when viewing and editing node.
- Don't add stuff for every event
- Dave also said that they could be uploaded to the HE

[2017-06-02 17:14] angievanhegan opened #25 "Wireframe member page"

[2017-06-02 17:14] angievanhegan opened #26 "Wireframe creating an account page"

[2017-06-02 17:14] angievanhegan opened #27 "Wireframe login page"

[2017-06-02 17:15] angievanhegan opened #28 "Wireframe become a member page"

[2017-06-02 17:22] angievanhegan commented on #24
Waiting for info from ALNAP to show what type of information they normally put on here

[2017-06-05 12:41] angievanhegan commented on #7
@dilwarhussain The first task is complete!! Who do you think would need to review this? @russ-manta Or should it just go straight into done? Thanks

[2017-06-05 12:44] dilwarhussain commented on #7
@angievanhegan I think this one is ok to go straight to done.

[2017-06-05 12:45] #7 closed

[2017-06-05 13:38] angievanhegan opened #29 "(#201) Modify resource content type"
Dependent on #4

### Done criteria
- [x] Add a custom card authors field which displays only if has content
- [x] If card authors field empty, display the regular authors truncated after a few characters.
- [x] NEW remove agencies taxonomy from content type once organisations are working correctly (depends #245)
- [x] Modify resource content type to user field_member organisation entity reference

[2017-06-05 13:39] angievanhegan commented on #29
We can't progress this until we've got a copy of the source data. @russ-manta sent a link to ALNAP. @melkers may have saved a copy of the network.

[2017-06-05 13:41] melkers commented on #29
@russ-manta to review data source and advise Nelle of changes to content model.

[2017-06-05 13:43] angievanhegan opened #30 "(#210) Build & theme event content type"
### Dependencies
- [x] BLOCKER: Twitter integration bug fix #126

### Done criteria
- [x] Find out what ALNAP modifications are
- [x] Add hashtag field
- [x] Replicate tweets by hashtag view from Research topics
- [x] includes taxonomy (we need to clarify what's needed here)
- [x]  Share icons
- [x] Node details view
- [x] ISSUE: Node details view should say Organisation not Member
- [x] Need to m

[2017-06-05 14:01] angievanhegan opened #31 "Build (modify) News content type"
Design https://invis.io/K3C0H5DZF

Content type additional fields:
- [ ] NOT REQUIRED Contributor taxonomy  values are ALNAP, Member
- [ ] NOT REQUIRED Member(s) entity reference

linked to #34 and #32

[2017-06-05 14:02] angievanhegan opened #32 "Build News landing page (search)"
Search options:
- [x] text search

Sorting options:
- [x] most recent
- [x] A - Z
- [x] Most popular - client hasn't asked for this, but if it's easy to do, no harm

Linked to #31 and #34

[2017-06-05 14:07] angievanhegan opened #33 "Sign up for update"

[2017-06-05 14:11] dave-manta opened #34 "(#209) Build and theme News node"
Link #30 #32 #31

### Done criteria
- [x] Check all required fields are present, add if needed
- [x] Theme to match wireframe/design
- [x] Member organisation (related) shown on RHS
---
### Designs
- [News node](https://invis.io/U4CKSQQ2W)

---
### ALNAP to check
[Example news page](http://alnap-dev.mrmdev.co.uk/news/english-accumsan-amet-cogo-fere-qui)
- [x] Page functionality matches the scope
-

[2017-06-05 14:12] angievanhegan opened #35 "(#210) Build & theme Annual meetings landing page"
### Dependencies
- [x]  Scoping annual meetings page needs to be done first  #65 / #30
---
### Done criteria
- [x] Expand/collapse more text nugget
- [ ] Show all sorted in reverse chronological order with load more
- [x] Promo
---
### Designs
- [Events wide](https://invis.io/VPC8MGQ6E)
- [Annual meetings landing](https://invis.io/T2C3JAS79)
---
### ALNAP to check
http://alnap-dev.mrmdev.co.uk/upc

[2017-06-05 14:39] melkers commented on #32
Blocked until the above questions are answered

[2017-06-05 14:40] melkers commented on #31
Awaiting on answers to linked card

[2017-06-05 14:45] angievanhegan opened #36 "Build blog CT"
- [x] add all the fields in the content model
- [x] Blog authors field see outcome of #45
- [x] Related/taxonomy (#15)

Wireframe #56 and #39

[2017-06-05 14:45] angievanhegan opened #37 "(#202) Theme blog node"
### Dependencies
- [x] Build completed first #164
---
### Done criteria
- [x] Theme views on RHS
- [x] Theme comment button
- [x] Theme main body content as per design
---
### Designs
- [Blog landing](https://invis.io/7CC18FLJ4)
- [Blog](https://invis.io/NJC8OGC2B)
- [Blog author](https://invis.io/SBCGDY838)
---
### ALNAP to check
[Sample blog](http://alnap-dev.mrmdev.co.uk/blogs/humanitarian-fina

[2017-06-05 14:45] angievanhegan opened #38 "(#202) Build blog landing page + search"
### Done criteria

- [x] Search with filters for: Text search, Author, Organisation, Topic (Keywords), Order by date
- [x] Create link/buttons for: Idea for blog, download guidelines, Signup for updates
- [x] Switch for grid/list
- [x] Card content for blog post
- [x] combine filters for sort/order by
- [x] grid view icon highlight

- [x] ISSUES: The cards that appear after clicking on the more ar

[2017-06-05 14:45] angievanhegan opened #39 "(#202) Theme blog landing page"
### Done criteria
Please add link to the blog page from each item in the view when theming
Card fields:
- [x] BLOCKER: AJAX to keep filters expanded after searching
- [x] Image (optional)
- [x] BLOG [label on views]
- [x] Date: 17 January 2017
- [x] Title 
- [x] Author name
- [x] Tags: ALNAP / MEMBER
- [x] Switch between list/card display
- [x] Search filters
- [x] Sort filter
- [x] Download butto

[2017-06-05 14:53] angievanhegan opened #40 "(#202) User account config"
### Done criteria
creating, editing, permissions etc
- [x] add custom fields
- [x]  Add any civi fields, employer may need to be a civi field
- [x] Configure role syncing with drupal/civi
---
### ALNAP to check
- [ ] ?

[2017-06-05 14:58] nadia847 opened #41 "(#208) Migrate users (trial)"
Probably for Russ, Arseni and Dave

- [x] Create importer for importing data into civi
- [ ] Test importing data into civi from current database
- [x] Test creating drupal accounts synced with civi accounts (see https://wiki.civicrm.org/confluence/display/CRMDOC/Creating+a+Drupal+user+for+every+CiviCRM+contact) OR (https://civicrm.org/blog/petednz/creating-drupal-users-made-easy-for-single-or-mult

[2017-06-05 15:02] dave-manta opened #42 "(#208) Review user migration"
#### Requirements
- [x] Gain access to user table
- [x] Assess migration and which fields we'll need for user accounts
- [x] Don't forget to consider Civi  in migration

Viewing current sign-up will shed some light. We also have accounts for Steve and Dave which we can edit to see the fields. http://www.alnap.org/account/create.aspx

[2017-06-05 15:03] melkers commented on #42
Don't forget to consider Civi  in migration

[2017-06-05 15:05] angievanhegan opened #43 "Build job content type"
Design https://invis.io/F3C0I5GAX

link to #46

[2017-06-05 15:05] angievanhegan opened #44 "(#208) Build & theme organisation content type and views"
### Dependencies
- [x] Can't be done until questions #66 resolved (Member CT vs Agency CT vs Civi data)
---
### Done criteria
Views to display on the node:
- [x] Events (upcoming. Should there be access to past events?)
- [x] Resources - they have uploaded and ones ALNAP tag for them
- [x] Blogs & News
- [ ] Webinars (update: these are events that are added as a resource and then shown in the reso

[2017-06-05 15:06] angievanhegan opened #45 "User account vs person content type face off"
#### Requirements
-----
- [x] decide if we'll build everything using person content for all people or user accounts

- [x] Blog authors will have user accounts with the profiles viewable. These need to be designed (#156)
- [x] Secretariat etc will use the Person and team content types
----

If we went with user accounts, would need to rebuild aspects of Remora that use the person content type, eg,

[2017-06-05 15:11] melkers commented on #40
Blocked until #42 is resolved

[2017-06-05 15:12] angievanhegan opened #46 "(#211) Build & theme jobs node"
### Dependencies
- [x] Job node built

### Done criteria
 - [x] Create job Type (Taxonomy: Consultancy, ToR, Job etc)
- [x]  Share icons
- [X] Build node view with job details (deadline, posted, org, contact etc)
- [x] ISSUE: Sidebar alignment
- [x] Add member view
- [x] ISSUE: Text white in node details box and also not floating properly
---
### Designs
- [Job page](https://invis.io/UZCLJXSAF)
--

[2017-06-05 15:16] angievanhegan opened #47 "(#240) Build jobs submission (DUPE?)"
Dependent on outcome of #76

------

From OneNote
- No limit to number of jobs a member can submit.
- Non-members have to submit and pay for a each job, one at a time for £45 each. Same for events.
 - WorldPay for transaction.
- All require approval by ALNAP before going live and usually same day.
- Need workflow from Maria.

Workflow:
1. Submit
2. Approval by ALNAP
3. ALNAP clicks a button to sen

[2017-06-05 15:16] angievanhegan opened #48 "Build news landing page (search)"

[2017-06-05 15:17] angievanhegan opened #49 "(#211) Build and theme jobs landing page / search"
### Done criteria
- [x] **Search with filters for:**
   - [x] Text search
   - [x] Organisation
   - [x] Type (Taxonomy: Consultancy, ToR, Job etc)
   - [x] Location (Country taxonomy)
   - [x] Tags (Keywords)
   - [ ] Role (title?)
   - [x] ISSUE: Responsive filters

- [x] **Buttons**
  - [x] SCOPING: How to add an "Add a job" button with special permissions
  - [x] Create link/buttons for: Add a

[2017-06-05 15:25] angievanhegan opened #50 "Build organisation/member content type"
- [ ] agree approach for this (can it be one content type?)
- [ ] build it/them

[2017-06-05 15:28] melkers commented on #44
Blocked until questions answered

[2017-06-05 15:32] angievanhegan opened #51 "Build research topics CT"
- [x] include sub-topics nugget

[2017-06-05 15:38] angievanhegan opened #52 "Build promo content type"
#### Requirements
-----

- [x] Scope complete
- [x] Create content type

[2017-06-05 15:55] #16 closed

[2017-06-05 16:04] angievanhegan commented on #44
@melkers Can you specify which questions and who's answering them please? This needs to be assigned to someone. Thanks

[2017-06-05 16:13] angievanhegan commented on #40
@melkers I don't think it's blocked, it just needs to be done in sequence. The backlog should be a prioritised/ordered list so as long as this sits under 42 we should be good. Basically, this is not an issue that we need to urgently sort to allow us to keep working. Does that  sound ok?

[2017-06-05 16:22] #14 closed

[2017-06-05 16:56] ican-icant commented on #23
Wireframe is done but chat is needed with Russ and Dave about what can be done to make the portals look different to the main site.

[2017-06-05 16:57] ican-icant commented on #28
This can be made / created from a standard content page. Wireframe is not needed

[2017-06-05 17:10] ican-icant commented on #20
@angievanhegan  Hoping a wireframe not needed as we have a design for resources on list view here https://projects.invisionapp.com/d/main#/console/10292473/236943102/preview and this could be the style for all list views. It was also verbally signed off by ALNAP

[2017-06-05 17:13] melkers commented on #40
@angievanhegan perfect

[2017-06-05 17:27] angievanhegan opened #53 "ALNAP feature"

[2017-06-05 17:28] angievanhegan commented on #53
@meldera Hello. Is this still in progress? If you could add an estimate that'd be great. Thank you.

[2017-06-05 17:36] ican-icant commented on #25
@angievanhegan - this already exists https://invis.io/4FC0LF7RE#/222960812_Member

[2017-06-05 17:46] angievanhegan opened #54 "DUPE? Build functionality for HELP advanced search"
Requirements here in wireframe: https://invis.io/2CC3EN2NH

[2017-06-05 17:50] angievanhegan opened #55 "Wireframe events landing page"
Serach criteria  agreed by client:
- Text
- Type (dropdown: lecture, launch, meeting, seminar, workshop, webinar, training course, conference, online event). ALNAP will be able to edit these categories.
- Agency (dropdown)
- Tags f (resource keywords)

No need for:
- location
- No need to search by member/non member

Linked to #75

[2017-06-05 17:52] angievanhegan commented on #55
@ican-icant There's a note on the Page status board that says that this is signed off but needs to show the search criteria. What needs doing? Thanks

[2017-06-05 17:53] angievanhegan opened #56 "Wireframe blog landing page"
Design here: https://invis.io/7CC18FLJ4

Search fields:
- Author
- Text
- Organisation
- Tag (using resources tag)

Linked to #36 and #39

[2017-06-05 17:54] angievanhegan commented on #56
@ican-icant There's a note on the page status board that says this needs some search criteria. What work actually needs doing here before we can say this is complete and ready for build to start on it?

[2017-06-05 17:55] angievanhegan opened #57 "(#202) Wireframe/scope for comments on blog post"
### Done criteria
- [x] Moderation required?
- [x] ALANP happy to use DISQUS if MRM recommend it
- [x] Requirements captured in #194

[2017-06-05 17:56] angievanhegan commented on #57
@ican-icant On the page status board it says that this still needs comments adding. Do they need a wireframe or a design? Thanks

[2017-06-05 17:59] angievanhegan opened #58 "Wireframe jobs landing page"
Search criteria:
- [ ] Text
- [ ] Type (job, consultancy)
- [ ] Organisation
- [ ] Location (country drop down)

[2017-06-05 18:01] angievanhegan commented on #58
@ican-icant  It says on the page status board that this needs search criteria before it's complete. Who needs to do what? Thanks

[2017-06-05 18:07] angievanhegan opened #59 "Build list view for jobs/resources"

[2017-06-05 18:07] angievanhegan opened #60 "Theme resources search"
linked to #20 and #59

[2017-06-05 18:11] angievanhegan commented on #20
@ican-icant  I've moved it over to signed off on the page status board and I'm moving this to done then.

[2017-06-05 18:11] #20 closed

[2017-06-05 18:22] angievanhegan commented on #25
@ican-icant I'm assuming it'll be ok for the client to sign off on the wireframe? I've optimistically moved it to the review column.

[2017-06-05 18:31] angievanhegan opened #61 "Wireframe add an event page"

[2017-06-05 18:33] angievanhegan commented on #61
@ican-icant Does this need a wireframe or any sign off? If not, I can move it to the right of the page status board. Ta

[2017-06-05 18:45] angievanhegan commented on #19
@ican-icant Does this need a wireframe? Or can we move it to signed off on the page status board? and move this to done?

[2017-06-05 18:46] #61 closed

[2017-06-05 18:46] angievanhegan commented on #18
@ican-icant Does this need a wireframe or any sign off? If not, I can move it to the right of the page status board. Ta

[2017-06-05 18:50] angievanhegan opened #62 "Design event page"
Done and ready for sign off https://invis.io/J4C0FZGGS

[2017-06-05 19:14] angievanhegan commented on #35
@melkers Sorry Dave, you're going to have to spell out for me what we needed to clarify with the client. Thanks.

[2017-06-05 19:15] angievanhegan commented on #31
@melkers Sorry, you'll need to clarify the client question for me on this one too. I suspect they're obvious :o(

[2017-06-05 19:36] angievanhegan commented on #15
@ican-icant Who's the best person/people to do this? Ta

[2017-06-05 19:36] melkers commented on #27
@angievanhegan @ican-icant I'm not sure this need a wireframe.  Fairly standard Drupal stuff that we can just make a call on I believe.

[2017-06-05 19:38] angievanhegan commented on #27
@melkers @ican-icant I'm going to move it to signed off on the page status board and move this to done.

[2017-06-05 19:38] #27 closed

[2017-06-05 19:39] dave-manta opened #63 "(#208) Editing Member org profile"
ALNAP have confirmed that they will edit profiles and the member will contact them to ask for changes, so no editing rights or workflow needed.

---

### Done criteria
- [ ] Give ALNAP permissions to edit member profiles
---
### ALNAP to check
- [ ] Are you able to edit member profiles and happy with the process

[2017-06-05 19:40] angievanhegan commented on #9
I'll ask the client if they need to keep the urls for these things

[2017-06-05 19:41] melkers commented on #22
Not sure this needs wireframing

[2017-06-05 19:42] melkers commented on #4
A previous export of the database is on the network

[2017-06-05 19:45] angievanhegan commented on #60
Should be 2 tasks (one for jobs and one for resources)

[2017-06-05 19:48] angievanhegan commented on #22
Do we just clarify the requirements when we're doing sprint planning?

[2017-06-05 19:49] melkers commented on #54
I've renamed the title of this card from wireframe.  @nadia847 I think you should discuss this one with some other devs including @meldera and decide the best way to present and then we'll just have to tell ALNAP that's the way it is.  UX is the most important thing here.

[2017-06-05 19:51] dave-manta opened #64 "(#216) Member only resources"
Requirement: Some resources need to be restricted to logged in members

### Done criteria
- [x] The display of members only resources needs fixing when logged out, and in see: http://alnap-dev.mrmdev.co.uk/help-library/evaluation-en-temps-r%C3%A9el-%C3%A0-mi-parcours-de-la-r%C3%A9ponse-doxfam-international-%C3%A0-la-crise
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-05 19:52] angievanhegan commented on #54
@ican-icant Can I move it to signed off on the page status board? They're going to see it again later, when it's built.

[2017-06-05 19:55] melkers commented on #64
I (Dave) think these should be show in list view for anonymous users and receive a member only stamp, then the node would require login and be restricted.  Even if they are hidden from anonymous users, I believe there should be a visual way to pull these out in the list view and perhaps they should also be a  filter on the search.  This needs discussing with ALNAP.

[2017-06-05 20:03] melkers commented on #35
@angievanhegan here's the annual meeting landing page which basically provides a link to to each previous annual meeting.  What we need to decide is how we deal with annual meetings, for which I'm going to create another card.

[2017-06-05 20:06] dave-manta opened #65 "(#210) Scope/Wireframe annual meeting page"
Linked to #6 (Theme annual meetings landing page) and #35 (Build Annual meetings landing page)

-----
### Before the meeting:
- [ ] Description
- [ ] Concept note
- [ ] Calls for proposals, cost and registration info.
- [ ] Programme
- [ ] Background paper,

### After the meeting:
- [ ] audio of the panel discussions
- [ ] YouTube playlist (opening panel, keynote speech, ted talk style presentatio

[2017-06-05 20:24] melkers commented on #31
Questions for ALNAP:

News items are tagged as either ALNAP or Member. For those that are tagged as Member:
1. Should they be linked to one or more specific members? And if so

a) Should those members be displayed on the node (page) and if so (b) Should there logos be used
c) Should the names of the member(s) be displayed on the cards in the news list view?
d) Should we add a search field on the n

[2017-06-05 20:25] melkers commented on #27
Cool @angievanhegan

[2017-06-05 20:27] melkers commented on #22
@angievanhegan here's the page on their current site and I think we need something fairly similar which we can work out at sprint planning. http://www.alnap.org/account/submitresource.aspx

[2017-06-06 06:04] dave-manta opened #66 "Organisation CT vs Civi data"
#### Requirements
-----

- [x]  decide how much of this data goes into CiVi
- [x] Add any civi fields required

----

There are members and non members - together they're all called agencies when it comes to resources, however we should call them Organisation and if ALNAP want to label them as agency on Resources, that's fine.
Civi records if they're a member or not
There are full and associate me

[2017-06-06 06:10] #50 closed

[2017-06-06 06:11] melkers commented on #50
This is a duplicate

[2017-06-06 06:15] melkers commented on #26
Don't need to wireframe this page. Standard stuff which we can see on their current site.

[2017-06-06 06:15] dave-manta opened #67 "(#234) Build and theme user registration"
## Scope
### Workflow for user registration:
1.  All users use the same form
2.  On the form the user will select their organisation, be that a member org or not and be able to add a new organisation if needed.
3.  This will create an 'inactive' employee relationship in CiviCRM and notify ALNAP of the new registration.
4.  The user will receive an email to confirm their new Drupal user account and

[2017-06-06 07:07] dave-manta commented on #23
@ican-icant aren't we waiting for approval of our quote to determine how we proceed with portals?

[2017-06-06 07:10] dave-manta commented on #9
@angievanhegan I think this is all been decided.

1. Resources - will have new URLs, but need to do redirects
2. Blogs - Ditto
3. News - ditto
4. etc etc.

[2017-06-06 08:19] dave-manta commented on #19
I don't think it needs a wireframe

[2017-06-06 08:20] dave-manta commented on #18
I don't think this needs a wireframe

[2017-06-06 08:48] dave-manta opened #68 "Wireframe jobs node"

[2017-06-06 08:49] dave-manta commented on #68
@ican-icant is this signed off? https://invis.io/UGC0Y73RJ#/235816406_Job

[2017-06-06 08:50] nadia847 opened #69 "(#215) Build RSS feeds"
Links to #142 - weekly email mailouts for jobs and events

---
### Done criteria
- [x] ALNAP general feed (all website updates) - use main content nuggets and truncate to 250/300 characters - may need to strip come tags
- [x] Events feed - use main content nuggets and truncate to 250/300 characters - may need to strip come tags
- [x] Jobs feed - should work with exisiting RSS displays

---
### ALN

[2017-06-06 08:54] nadia847 commented on #48
@angievanhegan isn't this a duplicate of #32? :o/

[2017-06-06 10:52] nadia847 opened #70 "(#214) Build and theme related content view"
depends on #15 - Setup the taxonomy for tagging resources / events / news

### Done criteria
- [x] Confirm scope (is remora functionality enough?)
- [x] Confirm which content types are included within the view and where this view is displayed (Blogs, jobs, news, events, resources?)

Related by Entity Ref
- [x] Rename Related entity ref field to Recommended (throughout site)
- [x] Change related en

[2017-06-06 10:53] dilwarhussain commented on #51
http://alnap-dev.mrmdev.co.uk/admin/structure/types/manage/research-topic/fields

[2017-06-06 11:46] nadia847 opened #71 "(#213) Build Resource management view"
some kind of big sortable, filterable table for web editors

### Done criteria
- [x] Create a VBO view of resources with filters as on help library to enable ALNAP to edit/delete resources in bulk
- [x] Bulk sticky (for promoted alnap resources)
---
### Designs
- [ ] N/a
---
### ALNAP to check
see http://alnap-dev.mrmdev.co.uk/admin/content/resources
- [x] Can filter and select resources to edit a

[2017-06-06 11:51] nadia847 commented on #69
Do we need all of the above views?

[2017-06-06 12:27] dave-manta commented on #67
Question for ALNAP.  A new user that selects a member organisation as their employer, by default will automatically gain access to the members area of the website.  If you need control, then are you happy to approve each new user registration?  I think we've discussed this, however I can't fine my notes on the outcome!

[2017-06-06 13:25] #17 closed

[2017-06-06 13:35] #26 closed

[2017-06-06 13:46] dave-manta opened #72 "Impact (M&E) log"
Monitoring and evaluation

[2017-06-06 13:56] dave-manta commented on #63
Confirmation required from ALNAP: That they will edit a member's profile, otherwise do we need to have workflow for edits?

[2017-06-06 13:56] nadia847 opened #73 "Build alternative translations entity reference field to other versions of a resource"
- titles and body/description only
- A resource may be available in 3 or 4 languages
- On current site, each translation is a separate node

google translation vs drupal?

- [x] Need to work out how we deal with translated version of a resource, particularly with regards to migration
- [x] Need to think about language expansion - currently out of scope but later this may include Arabic.

[2017-06-06 13:58] dave-manta commented on #22
I'm closing this.

[2017-06-06 13:59] #22 closed

[2017-06-06 14:00] nadia847 opened #74 "Build Mailchimp sign up w/ Civi"

[2017-06-06 14:00] nadia847 commented on #74
@russ-manta could you size this up please?

[2017-06-06 14:09] dave-manta commented on #15
1. Text
2. Type (conference, launch, lecture, meeting, seminar, workshop, training course, webinar, other)
3. Tags (the resource keywords)
4. Organisation (agency)
5. Member vs non-meb

[2017-06-06 14:10] dave-manta opened #75 "(#210) Build & theme events search"
### Done criteria
- [x] Add field for Event type Other (dependent on Type) This field will show when 'other' option is selected from event type list.
- [x] Add filter to filter ALNAP/Member/Other events
- [x] Display ALNAP or Member on events cards and if a member display org. And if contributer field is empty, still show the organisation.
- [x] Show all events in results inc. those tagged for ann

[2017-06-06 14:10] dave-manta commented on #75
1. Text
2. Type (conference, launch, lecture, meeting, seminar, workshop, training course, webinar, other)
3. Tags (the resource keywords)
4. Organisation (agency)
5. Member vs non-meb

[2017-06-06 14:22] dave-manta opened #76 "(#240) Scoping Payments for events & jobs"
### Requirements

Find out specific details how how this is built so that we can work around it and reuse as much of the current systems as possible.

Currently, ALNAP (via the website) can generate a payment request to WorldPay and once paid the items is automatically published.

From OneNote:
- Members post for free and non-members pay per post. 
- Can we take payment pending approval? 
- Curren

[2017-06-06 14:25] angievanhegan commented on #48
yup. I'm archiving it.

[2017-06-06 14:25] #48 closed

[2017-06-06 14:26] nadia847 opened #77 "Build iframe embed permissions - event brite"
Ensure editors have permissions to embed iframes eg https://www.eventbrite.co.uk/support/articles/en_US/How_To/how-to-sell-eventbrite-tickets-registrations-on-your-website-using-embeddable-widgets?lg=en_GB

[2017-06-06 14:28] dave-manta commented on #31
Answer is to get rid of of ALNAP / Member tag so all the questions above are not relevant.

[2017-06-06 14:39] dave-manta commented on #49
@cutlern we need a taxonomy for job type.

[2017-06-06 14:44] cutlern commented on #49
@dave-manta I've added it to the content model, and told dilwar (who's currently building Job CT)

[2017-06-06 14:45] angievanhegan commented on #25
Signed off! 6 June

[2017-06-06 14:45] #25 closed

[2017-06-06 14:47] dave-manta opened #79 "(#208) Build and theme member organisation search (listing page)"
### Done criteria
- [x] ISSUE: Remove sort by title (see comments below)
- [x] ISSUE: Change search blogs to Search Members
- [x] ISSUE: List view toggle looks a bit weird when there is a member with an image
- [x] BLOCKER: Keep the search box open on submit (see #193)
- [x] Sort by A - Z (only)
- [x] Search criteria: text search, constituency
- [x] Theme search page

---
### Designs
- [Members pa

[2017-06-06 14:49] dave-manta commented on #49
@cutlern could you check the other search criteria above and make sure they are covered in the content type. Many thanks for passing onto Dilwar.

[2017-06-06 14:50] dave-manta commented on #30
@dilwarhussain are you working on this?

[2017-06-06 14:52] cutlern commented on #49
@dave-manta Type, organisation and member are already included. Location is currently a text field,  do you think it should be a taxonomy like the country taxonomy? Will the location need to show cities or just countries?

[2017-06-06 14:57] dave-manta commented on #49
@cutlern I think location should be a taxonomy, listing all countries in the World.

[2017-06-06 14:58] angievanhegan commented on #21
Signed off!

[2017-06-06 14:58] #21 closed

[2017-06-06 14:58] dilwarhussain commented on #43
Location now needs to be a taxonomy at country level

[2017-06-06 15:00] cutlern commented on #49
@dave-manta Okie, added to content model and dilwar is going to change it

[2017-06-06 15:17] angievanhegan commented on #28
So we can consider this signed off. Great.

[2017-06-06 15:19] #28 closed

[2017-06-06 15:20] angievanhegan opened #80 "Wireframe portal landing page"

[2017-06-06 15:20] #10 closed

[2017-06-06 15:21] #11 closed

[2017-06-06 15:25] angievanhegan commented on #51
@russ-manta I suspect this is for you to review.

[2017-06-06 15:25] dave-manta commented on #66
Had a chat with Russ. He's going to explore creating entity in Drupal from Civi orgs.

[2017-06-06 15:27] angievanhegan commented on #54
Following client meeting on 6/6. They currently like the tab, but they're expecting to see something different when it's built!

[2017-06-06 15:28] dilwarhussain commented on #43
http://alnap-dev.mrmdev.co.uk/admin/structure/types/manage/job/fields

[2017-06-06 15:29] dilwarhussain commented on #36
http://alnap-dev.mrmdev.co.uk/admin/structure/types/manage/blog/fields

[2017-06-06 15:29] angievanhegan commented on #75
I thought they said they don't want to search on member. I'll check with them.

[2017-06-06 15:30] angievanhegan commented on #55
Signed off by client on 6/6

[2017-06-06 15:30] #55 closed

[2017-06-06 15:32] angievanhegan commented on #31
ALNAP said they don't actually need a search. Unless we think they should have one for consistency,  it can go.

[2017-06-06 15:39] angievanhegan commented on #36
@dilwarhussain Did you need to know the search criteria for this? They're now confirmed on #56 if you do. Otherwise, do you want to allocate it to Russ for sign off? Ta

[2017-06-06 15:45] #68 closed

[2017-06-06 15:46] #56 closed

[2017-06-06 15:47] ican-icant commented on #56
Signed off by client in meeting 6/6/17

[2017-06-06 16:05] angievanhegan opened #81 "(#213) Build and theme submit a resource page"
This is a dupe of #243 - moving to archive

### Done criteria
- [ ] for members and non-members - Non members will still need to login to submit.
- [ ] With basic workflow to send notifications on submission
- [ ] We need to clarify how the PDF cover is automatically used as the image for the page.
- [ ] ?

See notes on wireframe #22

---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?

[2017-06-06 16:09] angievanhegan commented on #45
@dave-manta What's blocking you from doing this?

[2017-06-06 16:14] angievanhegan commented on #65
Annual meetings require a substantial post-event page (eg. http://www.alnap.org/what-we-do/effectiveness/meeting-2015).  How will we deal with this?  A separate content type?

[2017-06-06 16:16] #18 closed

[2017-06-06 16:18] angievanhegan commented on #15
@dave-manta I think the requirement for tagging events is just to use the resources taxonomy?

[2017-06-06 16:28] angievanhegan commented on #9
FYI @dilwarhussain @meldera @nadia847 @pipemanta @cutlern @ican-icant. I'll confirm with the client that this is what we're doing.

[2017-06-06 16:31] angievanhegan commented on #54
This task was just to confirm the functionality. It's been agreed with the client on 6/6 to I'm moving to done.

[2017-06-06 16:37] angievanhegan commented on #52
@nadia847 Is this assigned to you are you're going to do the scoping? Thanks

[2017-06-06 16:38] angievanhegan commented on #19
@ican-icant If you agree with Dave, can you move it over to done? Thanks

[2017-06-06 16:41] angievanhegan commented on #58
@ican-icant I'm moving this to done now that we have the search criteria.

[2017-06-06 16:41] #58 closed

[2017-06-06 16:44] angievanhegan commented on #65
@ican-icant Can we take this into account when we do the event coverage page, or do you think they need to be different?

[2017-06-06 16:49] angievanhegan commented on #35
@dave-manta Do we need to know what goes on the annual meeting page before we can build this? Also, if it's a landing page, should it be in this sprint or can we pop it back into the backlog for now?

[2017-06-06 16:49] angievanhegan commented on #13
This was signed off today! 6/6

[2017-06-06 16:49] #13 closed

[2017-06-06 16:53] angievanhegan commented on #44
I need to clarify what constituency was. It came up at the client meeting on 6/6

[2017-06-06 17:00] angievanhegan commented on #47
@dave-manta Action from client  meeting on 6/6 - you need to talk to Phil at ALNAP to understand more how this is working. Do you want to leave it to the sprint when we work on it,  or do it now in case it's a fiend?

[2017-06-06 17:38] angievanhegan commented on #23
Yeah - good point. This is blocked until we've got answer from ALNAP

[2017-06-06 18:46] dave-manta commented on #49
Thanks @cutlern. Top comms :)

[2017-06-06 18:49] dave-manta commented on #75
@angievanhegan - searching on member -I think that was for jobs, but you might be right with Events as well.

[2017-06-06 18:50] dave-manta commented on #31
@angievanhegan I believe they wanted a text search - see #32

[2017-06-06 18:53] dave-manta commented on #45
@angievanhegan Nadia marked it as blocked. I don't think it should be and me & Russ can work it out.

[2017-06-06 18:58] dave-manta commented on #15
@angievanhegan I think Steve and I just need to go through and confirm exactly what we need. Probably solvable with 10 min conversation.

[2017-06-06 19:03] dave-manta commented on #54
@angievanhegan I still think Nadia and Arseni et al need to discuss the implementation of this before it is implemented.  Not sure if that means this should be re-opened?

[2017-06-06 19:06] dave-manta commented on #35
@angievanhegan yes, I think we do need to decide on how we approach the annual meetings.  I would put it in the backlog.

[2017-06-06 19:11] dave-manta commented on #44
@angievanhegan you can see the consituency list (which is essentially type of org) here: http://www.alnap.org/members/full-associate.

This data will be in CiviCRM and Russ and I are in discussion about how to deal with that on #66

[2017-06-06 19:12] dave-manta commented on #47
@angievanhegan have assigned this to Russ on #76

[2017-06-07 07:31] dave-manta commented on #52
@angievanhegan I thought @nadia847 could do the scoping with Steve.

[2017-06-07 08:12] dave-manta commented on #69
@nadia847 have asked the client on the slack channel.  Pasting the link for reference. http://www.alnap.org/feeds

[2017-06-07 08:14] dave-manta commented on #67
Awaiting client response in the slack channel

[2017-06-07 08:22] dave-manta commented on #64
Awaiting client response on slack channel

[2017-06-07 14:38] nadia847 opened #82 "Scope member updates"
New content type. Same as news but only visible to members on log in.

[2017-06-07 15:52] ican-icant commented on #23
I've added a wireframe to invision for the new look portal and quote based on £7K, based on the requirements:
1. Setup each sub-domain
2. Resource/events and other content are assigned to a sub-domain
3. New portal theme and then each portal can have some customisation of the theme.
4. Portal home page content type
5. New header inc. Nav.

 Can have a sub-domain or have its own domain.  One would

[2017-06-08 08:00] nadia847 commented on #9
FROM ONENOTE: For the portals, can we keep the URLs (and not redirect) and/or how would sub-domains work?

@dave-manta @angievanhegan how does this fit in?

[2017-06-08 08:03] nadia847 opened #83 "Explore longform Drupal template"
Can this be used for their massive EHA guide. Content would be copied over.

[2017-06-08 08:10] nadia847 opened #84 "Card titles"
From onenote: All content types that are displayed in feeds need 'card' titles

[2017-06-08 08:11] nadia847 commented on #84
@dave-manta @ican-icant does this mean we need a separate card title so they can have shorter titles from the node title? Because this will need to be added to the content model

[2017-06-08 08:15] nadia847 opened #85 "Photo captions"
These are part of remora but we just need to make sure as part of QA that they work as they are a client requirement

### Done criteria
- [x] Client can add captions
- [x] Captions look ok and work on every palette
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-08 08:17] nadia847 opened #86 "(#247) Setup https"
### Done criteria
- [ ] Obtain SSL certificate
- [ ] Install SSL certificate on server for alnap site
---
### ALNAP to check
- [ ] Show ALNAP this has been done

[2017-06-08 08:31] nadia847 opened #87 "Languages / Translation"
### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-08 08:36] nadia847 commented on #87
The whole site will need Google translation like on the current site, right? Looks like that can support Arabic fine or is it just resources that need translation? We have a separate card for resource node translation (#73) @dave-manta @ican-icant @russ-manta

[2017-06-08 08:44] nadia847 commented on #29
@dave-manta From onenote

_Taxonomies_
- Agency - is this a better name than "Members"?
- Topics
- Regions
- Type - in content model

They want to be able to filter by alnap/member

[2017-06-08 08:48] nadia847 opened #88 "Resource card content"
Dependant on #29

Card fields to include (as in design):
- [x] Image [front cover]
- [x] Published date
- [x] Title
- [x] Authors
- [x] Organisation
- [x] Members only tag
- [x] Content Type
------

We also need to discuss how we deal with images. Currently when a resource is added, the front cover of the PDF is used as the image for the resource. (see card #96)

[2017-06-08 08:49] nadia847 commented on #29
All non-ALNAP resources need to display the organisation on the card and node

For ALNAP resources, display the author(s) on cards. Either 1 x author et al or 2 x authors. Authors can be a text field

[2017-06-08 08:54] nadia847 commented on #59
ALNAP resources to come up first in results
Sorting of results - @dave-manta is this just another way of saying they need to be able to sort results?

[2017-06-08 09:47] dave-manta commented on #59
@nadia847 I'm not sure it is. They asked for ALNAP resources to be prioritised above others, however I'm not sure that works.  Another one to be asked on Slack.... (I'll ask now).

[2017-06-08 09:55] dave-manta commented on #59
Awaiting client repsonse.

[2017-06-08 10:05] dave-manta commented on #64
Client wants to indicate member only resources, both on the list view and on a node (for logged in members). For those not logged in, the node needs to prompt them to login.

[2017-06-08 10:23] dave-manta commented on #63
ALNAP have confirmed that are happy to edit profiles, so no workflow needed.

[2017-06-08 10:40] dave-manta commented on #87
Yes, whole site need Google Translate although Arseni has said several times it won't work.  Resource title and description translation is a separate issue and we have said we're not supporting Arabic.

[2017-06-08 10:43] dave-manta commented on #59
Order of default search results... ALNAP, then Member, then others marked with neither.

[2017-06-08 10:44] dilwarhussain commented on #31
@dave-manta With the removal of the member/ALNAP tag, the 'News article' content type doesn't need to be modified anymore, is that correct?

[2017-06-08 11:08] nadia847 commented on #59
@dave-manta don't think that'll work, because when all resources appear at first on the search page, all alnap ones will be first, by date, then after all of those, the members ones descending order  by date and then after that the rest of the resources.

so we could have the search page display nothing but filters until they search, ie it's a separate page that you go to only after you have run a

[2017-06-08 12:27] nadia847 commented on #75
@dave-manta there is mention of Sponsored events in OneNote. What do we do about that?

[2017-06-08 12:54] dave-manta commented on #31
@dilwarhussain I believe so.

[2017-06-08 12:57] dave-manta commented on #59
@nadia847 not sure I follow, but please read the thread Q6 on client-alnap channel in slack to see if that helps.

[2017-06-08 13:10] dave-manta commented on #44
@angievanhegan Panel list... not sure we can do this one, except maybe putting it in the body.

[2017-06-08 13:24] angievanhegan commented on #44
@dave-manta Do we have enough design patterns already to put the panelist in the body?

[2017-06-08 13:26] angievanhegan commented on #76
@dave-manta Can we be more specific on what this task is? Is it to scope or to build? Thanks

[2017-06-08 13:27] ican-icant commented on #64
This needs some discussion before design can commence @dave-manta as there is already a MEMBER tag sitting on the cards and adding another will be confusing  to say the least. I suggest dropping the MEMBER tag for a MEBER ONLY tag. Your thoughts?

[2017-06-08 13:39] angievanhegan commented on #31
@russ-manta I think this is with you for review/sign off

[2017-06-08 13:59] dave-manta commented on #84
@nadia847 I thought we already hard separate titles for cards, but perhaps I'm not remembering Remora right.  I would go with what we have in Remora cos it's going to be a bit of work to implement an additional field and put that on cards isn't it?

[2017-06-08 14:00] nadia847 commented on #84
@dave-manta yeah it'll be much more work than leaving it as is in any case :oD

[2017-06-08 14:00] nadia847 commented on #84
@dave-manta so do we block this?

[2017-06-08 14:00] dave-manta commented on #83
@nadia847 we have agreed that we don't need to look into this for them.  If they do want, it would be the future.  Not sure what this means for the EHA guide.

[2017-06-08 14:02] dave-manta commented on #9
@nadia847 there have been discussions about Portal URLs with Russ and it's all good.  Waiting for ALNAP to accept our quote.  Not relevant for URL redirects.

[2017-06-08 14:02] nadia847 commented on #83
@dave-manta i don't even know what that means but I'll just block this card then. From what I saw, EHA's didn't look different from a regular resource. Unless they want to be able to embed content in which case we'd need nuggets.

[2017-06-08 14:05] dave-manta commented on #44
@angievanhegan I'm afraid I'm not close to design patterns or what they want to show with panel lists.  This data may be housed in Civi, but it won't be exposed to Drupal and providing anything more than an ability for them to edit the body of text for an org, I would say is outside of scope.

[2017-06-08 14:07] dave-manta commented on #64
Confirming that I have discussed this with Steve, and we're going to try dropping the MEMBER and ALNAP stamps and replace with a member only stamp.

[2017-06-08 14:11] dave-manta commented on #75
@nadia847 good question!  Erm... I don't know :(  Ask @ican-icant ?!  We may have to ask ALNAP, I suggest you or Steve does that on the Slack channel using my numbering system... ya?

[2017-06-08 14:12] nadia847 commented on #82
@dave-manta @ican-icant what are the requirements for members update? does it need any special fields? that news doesn’t? otherwise we can handle it same as members only resources with a tick box on the content type  this wills till allow us to put them on different pages

dave's gut feels it is a separate content type which is probably 1 day of work more than just adding a tick box?

[2017-06-08 14:14] angievanhegan commented on #9
@dave-manta So this can go back to the review column? I was only going to confirm with ALNAP what the plan was.

[2017-06-08 14:15] angievanhegan commented on #44
@dave-manta Would you like me to just confirm that with the client, or can we just go ahead with it?

[2017-06-08 14:16] angievanhegan commented on #75
@dave-manta Can I suggest we leave it in here with the 'Needs ALNAP input' tag and ask them when we meet them? We're going to go through all these questions with them. I don't think we need an answer soon do we? Thanks

[2017-06-08 14:17] dave-manta commented on #84
@nadia847 perhaps check with Angie about what do with this in waffle, but agreed not do it.

[2017-06-08 14:19] dave-manta commented on #82
@nadia847 Make it a tick box if you can control access and set the URL (and exclude from the main news feed).

[2017-06-08 14:20] dave-manta commented on #9
@angievanhegan no harm in confirming redirects with the client.

[2017-06-08 14:21] dave-manta commented on #44
@angievanhegan probably worth telling them that will have to put panel info in a wysiwyg and that we're not doing anything 'clever'.

[2017-06-08 14:22] dave-manta commented on #75
@angievanhegan sure, good with me.

[2017-06-08 14:22] nadia847 commented on #82
@dave-manta er that's def a new content type

[2017-06-08 14:24] nadia847 commented on #82
@cutlern could you add Member update to the content model, please?

[2017-06-08 14:30] nadia847 commented on #84
@dave-manta is this future or closed?

[2017-06-08 14:30] nadia847 commented on #83
@dave-manta is this future or closed?

[2017-06-08 14:32] angievanhegan commented on #69
@russ-manta Is there any urgency to know the answer to this? Just wondering if it would be better to know earlier in the build process, or we can park it for later? Thanks

[2017-06-08 14:33] dave-manta commented on #82
This is becoming my most frustrated ALNAP discussion, so let me confirm requirements and then the dev team can decide the implementation.

1. These are updates from ALNAP to members.
2. They will not be displayed in the main news feed and instead I reckon they will be on some kind of members home page [@angie this needs adding as a work package. I believe that it won't have much on it besides the

[2017-06-08 14:34] dave-manta commented on #82
@nadia847 in addition if Nelle does need to add it to the content model, I think that should be a separate task. I'm going to rename this one to scope.

[2017-06-08 14:36] dave-manta commented on #83
@nadia847 future.

[2017-06-08 14:36] dave-manta commented on #69
@angievanhegan I don't believe there is any urgency for this.

[2017-06-08 14:42] angievanhegan opened #89 "(#240) Editing of submitted jobs, resources, events (after submission)"
Dupe of #242 moved to archive
Current scope:
- All newly submitted resources, jobs and events to require ALNAP approval.
-  Ideally some basic email sent to ALNAP to notify them of new submissions and perhaps the user confirming submissions

To quote for
-  Submitter (author) can edit their content at any time and their edits require approval by ALNAP, along with necessary workflow (version contro

[2017-06-08 14:43] angievanhegan commented on #89
@dave-manta Do you mind putting the requirements notes in here please? Just so we have a record and they're not just in your big head? Ta

[2017-06-08 14:44] russ-manta commented on #69
@angievanhegan let's park it for now

[2017-06-08 14:48] nadia847 opened #90 "Member updates into content model"
#### Requirements
-----
- [ ] Same fields as news for now then we see based on #82
-----

[2017-06-08 14:49] dave-manta commented on #89
Sure @angievanhegan

1. All newly submitted resources, jobs and events to require ALNAP approval.
2. Ideally some basic email sent to ALNAP to notify them of new submissions and perhaps the user confirming submissions
1 & 2 part of current scope
3. Submitter (author) can edit their content at any time and their edits require approval by ALNAP, along with necessary workflow (version control etc) an

[2017-06-08 14:50] nadia847 commented on #82
@dave-manta @ican-icant does it got nuggets?

[2017-06-08 14:53] dave-manta commented on #84
@nadia847 closed.

[2017-06-08 14:55] #84 closed

[2017-06-08 15:04] dave-manta commented on #82
@nadia847 if it's easier without nuggets, let's go without.

[2017-06-08 15:15] russ-manta commented on #89
@dave-manta @angievanhegan do i put my quote on this card?

[2017-06-08 15:33] angievanhegan commented on #24
Angie to look up what they have on their current site so that this can be scoped.

[2017-06-08 15:35] dave-manta commented on #89
@russ-manta let's discuss the price on our slack channel and then we can post here as a record, ok?

[2017-06-08 15:38] angievanhegan commented on #89
@russ-manta Can you @ me when you add the quote and I can make sure it's stored on the RT board with the others.

[2017-06-08 16:07] angievanhegan commented on #19
This doesn't need looking at until it's in the sprint

[2017-06-08 16:32] angievanhegan commented on #89
From onenote: What if one person submits a job. Can someone else in that org edit it? Might need organic groups

[2017-06-08 17:45] angievanhegan opened #91 "(#216) Book marking resources"
Estimated at 2 days (£1,120)

### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-08 17:47] angievanhegan opened #92 "Search based recommendations"

[2017-06-08 17:48] angievanhegan opened #93 "Monthly topic specific notification"

[2017-06-08 17:51] angievanhegan opened #94 "(#213) Bulk editing of tags"
2 days = £1120

Bulk editing of tags #94 - Russ asked how ALNAP would like to choose which pages they would like to change the tags for. Maria gave two scenarios:
Simple: It might be that a new ‘sub category’ tag needs to be created. They’d need to search on the parent category then go through them manually one by one and select manually which ones need the new sub category tag. This is probably t

[2017-06-08 17:51] angievanhegan opened #95 "(#201) Migrate/Bulk upload of resources"
### Done criteria
- [x] Import existing resources and populate title field
 - [x] Consider how to import Crisis Category (used on portals)
 - [x] Consider content which should only be available within portals and not main resource search
- [x] Need to import Internal tags for each resource mapped to the same term in our taxonomy

__Internal tags to migrate__
- [x] ALNAP Steering Committee
- [x] EC

[2017-06-08 17:51] angievanhegan opened #96 "(#201) Automatic capture of PDF front cover for resource"
### Done criteria
- [x] Add to resource view and node displays
- [x] When a resource is added, the front cover of the PDF is used as the image for the resource.
- [x] Image crop working as Steve wants it to work!
----
### Designs
- <a href="https://invis.io/ANC0GIX8Q">Resources wide</a>
- <a href="https://invis.io/ZTCBNO4N6">Resources mobile</a>
----
### ALNAP to check
[PDF front cover - example](

[2017-06-08 17:53] angievanhegan opened #97 "Payment system for jobs/events"
From OneNote:
- Members post for free and non-members pay per post. 
- Can we take payment pending approval? 
- Currently, automated email upon being approved with payment request.

Needs to use WorldPay
May have a manual process

[2017-06-08 17:54] angievanhegan opened #98 "Member to member news"

[2017-06-08 17:54] angievanhegan opened #99 "User submitted blog"

[2017-06-08 17:55] angievanhegan opened #100 "Blog comment migration"
From OneNote

Currently those who make comments have a click through profile page.  We still want people to comment, however no need to have a profile page

Duplication of #206

[2017-06-08 17:56] angievanhegan opened #101 "Non english job submission"

[2017-06-08 17:58] angievanhegan opened #102 "Member rep table"

[2017-06-09 10:25] ican-icant commented on #75
@dave-manta  @angievanhegan From memory, sponsored events are paid for by non-members, but let's ask them later

[2017-06-09 11:51] ican-icant commented on #80
There are two versions of this page. One as separate site and one as internal to the main ALNAP site. Both are in invision @angievanhegan

[2017-06-09 11:52] ican-icant commented on #57
@angievanhegan No wireframes or design for this. Think discussion needs to be had whether we use Drupal comments or DISQUS. What do we think? @russ-manta @dave-manta

[2017-06-09 13:37] angievanhegan commented on #44
Maria is fine with doing this in text.

[2017-06-09 13:44] angievanhegan commented on #62
Signed off by Maria, but we need to review the text on the 'register' button.

[2017-06-09 13:45] #62 closed

[2017-06-09 13:55] nadia847 opened #103 "(#211) Build Jobs card"
### Done criteria
Fields for display:
- [ ] Title
- [ ] Agency / member
- [ ] Posted 
- [ ] Deadline

---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-09 14:00] angievanhegan commented on #9
Maria is happy to have the redirects and to lose the old uls (she didn't like them anyway)

[2017-06-09 14:03] nadia847 commented on #43
@ican-icant Do we also need the following fields (from OneNote)?

- Topic
- Role
 - Types of opportunities (taxonomy)
-- Jobs (permanent)
-- Consultancy
-- Call for experts
-- Advisory committee call
-- Emergency deployment opportunity

[2017-06-09 14:06] nadia847 opened #104 "Check first version of each content type exists"
#### Requirements
As well as checking content types, add the following content types:
- [x] Resource series (#112)
- [x] Member updates (#113)
- [x] Promo (advert) (#52)

[2017-06-09 14:07] nadia847 opened #105 "(#203) Build Our topic landing page"
### Done criteria
- [x]  Create as standard page and use box links for topics
- [x] Create research topic teaser if required
---
### Designs
- [Landing page](https://invis.io/K5CGE4K9M)
- [Our topic](https://invis.io/WTCJKJ4PA) and [another topic](https://invis.io/42CJKJH5B)
---
### ALNAP to check
Don't need to sign off the build, just the theming.

[2017-06-09 14:24] angievanhegan commented on #69
On this page http://www.alnap.org/feeds you have a number of RSS feeds. Are they all needed? Do you have a feel for how much they are used? Could we just get away with a single feed? (edited)

mgili [2 days ago]
dave: I need to ask Phil about this, as I assume these feeds are the ones that populate our automatised jobs and vacancies mailouts...

mgili [2 days ago]
Which is what I was thinking to g

[2017-06-09 14:31] #9 closed

[2017-06-09 14:43] angievanhegan opened #106 "Check to see if we have a first version of all content types"

[2017-06-09 14:54] ican-icant commented on #64
@angievanhegan  this needs sign off from client. https://invis.io/32BYCG1CW#/235626263_Homepage_Wide
We also need to sort this for the node too.  Cat needs to do this

[2017-06-09 14:58] angievanhegan commented on #67
@Maria-alnap Are you able to answer this one for us?

[2017-06-09 15:05] nadia847 opened #107 "Build Blog author user profile"
- [ ] Add views to user profile page to achieve this (await wireframe)

- Currently those who make comments have a click through profile page.
- Blog authors do need a profile page, but don't need to list comments

This will probably be a mix of Drupal and Civi fields.
Depends on #156  Wireframe blog author profile
Linked to #40

[2017-06-09 15:05] ican-icant commented on #88
Where does this field list come from @nadia847 ?

Resource cards should have:

[2017-06-09 15:16] nadia847 commented on #88
@ican-icant from OneNote.

[2017-06-09 15:32] nadia847 commented on #93
From OneNote (are these still relevant?) @ican-icant @dave-manta
- Explore monthly notifications for resources based on people's preferences.  The preferences would be half a dozen keywords for example.
- Record people's interest. How can this can be recorded in Civi?  Sync mailchimp sign-up groups to Civi groups?

From Tim
At ALNAP Annual Meeting, one person (FB) commented that it would be useful

[2017-06-09 15:37] nadia847 opened #108 "Webforms"
They have some webforms, eg. request a resource
From OneNote: Request a report @dave-manta?

---
### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-09 15:42] angievanhegan commented on #24
Don't require info form ALNAP - wireframe is signed off.

[2017-06-09 15:42] #24 closed

[2017-06-09 15:44] nadia847 opened #109 "Embedded content"
- [ ] Youtube
- [ ] Loudcloud
- [ ] Prezi
- [ ] Slideshare

[2017-06-09 15:45] angievanhegan commented on #15
@dave-manta Please can you make sure you clarify the requirements in the description field

[2017-06-09 15:49] nadia847 opened #110 "About / What we do page"

[2017-06-09 15:56] nadia847 opened #111 "Community of Practice"
Display on ALNAP Research topic and Portal

[2017-06-09 15:56] nadia847 commented on #111
Is this just a matter of them adding a box link to a page? Or is there more to this? @dave-manta @ican-icant

[2017-06-09 17:33] #5 closed

[2017-06-12 08:56] nadia847 opened #112 "(#201) Build + Theme resource series nugget"
### Dependancies
-  [x] Scope resource series #141
---
### Done criteria

- [x] Use nugget already created in Resource series content type and the existing entity reference to Resource series from a resource
- [x] Rabbit hole Resource series nodes
- [x] Change view on the resource node so it it only shows 1 resource series and instead of showing a link to the resource series node it shows all the

[2017-06-12 09:54] #90 closed

[2017-06-12 09:55] nadia847 opened #113 "(#209) Build and theme Member update CT"
### Done criteria
- [x] Same fields as news for now then we see based on #82
- [x] Build and theme according to design
- [x] Card content fieldset description
- [x] Language selection field - do we need this?
- [x] Add field for Organisation (entity ref)
- [x] Add associated organisation to the RHS of member updates in the same way as  news [example](http://alnap-dev.mrmdev.co.uk/omnis-enim-est-na

[2017-06-12 10:25] ican-icant commented on #65
@dave-manta @angievanhegan  @nadia847  The only difference I can see between a normal event coverage page and the annual meeting is the addition of sessions / timetable. Maybe we could just add this to the coverage content type?

[2017-06-12 10:36] nadia847 commented on #32
@dave-manta this looks OK to me except it's a custom view and not a type of nugget feed view.

That's probably fine as this is not a Remora site but just wanted to confirm that this is what you expected.

[2017-06-12 10:40] nadia847 opened #114 "Build promo nugget"
The promo content type should be referenced via a nugget so it can appear anywhere

See content model for fields

- [ ] Add paragraph type
- [ ] Add to sections views

[2017-06-12 11:16] nadia847 commented on #114
@ican-icant this method might not work when we have a page (such as the news landing page) which is a View page not a content page with views (see comments on card #32 to address how we build search pages)

[2017-06-12 11:23] nadia847 commented on #32
the current build approach means you can't add nuggets to the news landing page (e.g. an advert, or an intro at the top etc etc) @dave-manta

Instead I suggest we just add the filters to he existing remora all-news view?

[2017-06-12 11:57] nadia847 opened #115 "Civi integration"
- [x] Install CiviCRM
- [x] Test CiviCRM entity
- [x] Copy config over from ALNAP test civi site
- [x] Configure role syncing with Drupal
- [x] Integration of Organisation nodes with CiviCRM Memberships

[2017-06-12 12:36] dilwarhussain commented on #113
http://alnap-dev.mrmdev.co.uk/admin/structure/types/manage/member-update/fields

[2017-06-12 12:43] nadia847 commented on #113
@dilwarhussain

Missing:
- [ ] Card content fieldset description
- [ ] Language selection field - do we need this?
- [ ] Privacy settings (only members can see this)

[2017-06-12 13:09] dave-manta commented on #32
@nadia847 I think this should be discussed with the wider dev team and Steve should be assigned to check this page, rather than me?

[2017-06-12 13:10] dave-manta commented on #65
@ican-icant Can it be achieved with nuggets?

[2017-06-12 13:18] angievanhegan commented on #65
@Maria-alnap @ican-icant
Copied from Slack

SL: We need to know what you'd like to add to the coverage after an annual event and how it might differ from a normal event that is covered.

MG: What we do is that we create a basic content page (the only ones we have at the moment, tbh) and pre meeting we put a description, concept note, calls for proposals, cost and registration info. As the meeting

[2017-06-12 13:20] angievanhegan opened #116 "(#201) Building resources feed importers"
### Done criteria
- [x] Complete import feed
- [x] Run test import
- [x] Ensure regions are imported for resources
---
### ALNAP to check
- [ ] Check resource content is imported as expected?

[2017-06-12 13:29] dave-manta commented on #65
@angievanhegan I think this task needs renaming or the text about coverage moved elsewhere as it's current title relates to the landing page that lists all annual meetings, not the individual meeting pages.

[2017-06-12 13:50] nadia847 opened #117 "(#211) Build Job tagging"
Add to content type.Same as News, events, etc

### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-12 13:53] dave-manta commented on #67
https://mantaraymedia.slack.com/archives/C5Q7FV3K9/p1496823229458274

[2017-06-12 13:54] angievanhegan commented on #59
Q6
@mgili you have asked for ALNAP resources to come up in first in results.  Does that mean you want ALL ALNAP resources followed by external resources?

19 replies
mgili [4 days ago]
dave: Yes, all relevant ALNAP resources to that particular search, of course

dave [4 days ago]
And what if you search for All resources, have all those marked as ALNAP first? @mgili

mgili [4 days ago]
Yep

dave
[4

[2017-06-12 13:58] angievanhegan commented on #59
@russ-manta @nadia847 I copied across some requirements from the work package on the RT board and put them at the top. I'm not sure they belong in this task though. Please can you check? Thank you.

[2017-06-12 14:01] angievanhegan commented on #89
@dave-manta @russ-manta This costing is going to need doing for tomorrow (Tuesday 13 June) as Dave and Steve are having a meeting with the client at 2 to discuss what's going to be added into scope. Thanks

[2017-06-12 14:03] nadia847 commented on #59
@angievanhegan @russ-manta Translation is it's own card so I took that bit out. It's more to the content type build than the search.

[2017-06-12 14:08] dave-manta opened #118 "(#208) Editing user account"
### Done criteria
- [x] build my account page to match wireframe from #159
- [x] ensure employer field is only editable via ALNAP
- [x] Build forms/civi profiles to enable editing of account details
- [x] Check with Cat if further design required beyond default form display
---
### Designs
- [ ] Forms for editing user profile info - if default form needs further design
- [ ] ?
---
### ALNAP to che

[2017-06-12 14:13] angievanhegan commented on #67
Copied from Slack

DAVE: A new user that selects a member organisation as their employer, by default will automatically gain access to the members area of the website. If you need control, then are you happy to approve each new user registration? I think we've discussed this, however I can't fine my notes on the outcome!

MARIA:  I don't think we would need control over this if we enable the funct

[2017-06-12 14:21] angievanhegan commented on #67
@russ-manta Do you need more client input on this? Also, would it be possible to make the task title a bit more specific, and to estimate it please? Thank you.

[2017-06-12 15:30] dave-manta commented on #89
Over to @russ-manta to cost I believe.

[2017-06-12 15:34] dave-manta commented on #57
@ican-icant this perhaps needs to be discussed in a meeting as part of a sprint, rather than here.

[2017-06-12 15:40] dave-manta commented on #15
@angievanhegan the title is confusing me. Is this for Resources?

[2017-06-12 15:58] russ-manta opened #119 "Build Standard/Landing page"
Verify that the Remora landing page fits ALNAP requirements

[2017-06-12 17:47] angievanhegan commented on #15
@dave-manta I'm not sure. I think it should cover the full extent of the taxonomy.  That'd seem most useful?

[2017-06-13 11:16] Maria-alnap commented on #97
We need clarity on the costing of this for the meeting at 2 today as well. This is a key functionality on our current site which needs to be enabled in new one from the moment we launch it.

[2017-06-13 11:16] Maria-alnap commented on #97
(or at least a ball park figure)

[2017-06-13 12:50] dave-manta commented on #97
@Maria-alnap I'm not sure we can give you a costing for this until we have clarification from Phil on how this works / what coding he has done for the integration?

[2017-06-13 13:03] Maria-alnap commented on #97
Of course, @dave-manta. Have you reached out to him on this? Would you like me to chase him?

We'd be happy to change the workflow for the approval/payment of these to make it happen. I spoke to our ops team earlier and they confirmed the world pay set up is just a link. The complicated bit would be automatising the publication of the job/event once payment has come through, but we'd be happy to c

[2017-06-13 14:44] russ-manta commented on #89
@angievanhegan @dave-manta Costing now done

[2017-06-13 14:52] dave-manta commented on #97
@Maria-alnap I'm going to move this discussion over to #76 as this is where we are scoping the requirements and will cost the implementation of this.  I will post your messages and respond on that thread.

[2017-06-13 14:53] dave-manta commented on #76
Here's Maria's comment from #97

"Of course, @dave-manta. Have you reached out to him on this? Would you like me to chase him?

We'd be happy to change the workflow for the approval/payment of these to make it happen. I spoke to our ops team earlier and they confirmed the world pay set up is just a link. The complicated bit would be automatising the publication of the job/event once payment has co

[2017-06-13 14:54] dave-manta commented on #76
@Maria-alnap Russ is going to contact Phil and then we can discuss requirements/options with you and cost the work.

[2017-06-13 14:57] russ-manta commented on #76
I have contacted Phil, awaiting a response

[2017-06-13 15:12] nadia847 opened #120 "(#250) Build & theme teams view and node"
###Done criteria
- [x] Build and theme team node (for staff members) #146
- [x] Can add multiple people to a team
- [x] Can add team as a nugget on another page
- [x] Team nugget works as grid
- [x] Team nugget works as slideshow
- [x] Team nugget works as list (1 item per row)

### ALNAP review criteria
[team page](http://alnap-dev.mrmdev.co.uk/about/meet-our-team/london-team)
- [ ] Can add multi

[2017-06-13 15:12] nadia847 commented on #120
@ican-icant @dave-manta Is there anything non-remora to do with these?

[2017-06-13 15:16] nadia847 opened #121 "Build & theme blog commenting"
Depends on #57 wireframe blog post / comments
- [ ] confirm what fields should be displayed

### Blog designs
- [Blog landing](https://invis.io/7CC18FLJ4)
- [Blog](https://invis.io/NJC8OGC2B)
- [Blog author](https://invis.io/SBCGDY838)

[2017-06-13 15:21] nadia847 opened #122 "(#201) Build resource node views"
### Done criteria
- [x] Related resources view
- [x] View of fields in the design and file download
- [x] Research series (#112)
----
### Designs
- <a href="https://invis.io/ANC0GIX8Q">Resources wide</a>
- <a href="https://invis.io/ZTCBNO4N6">Resources mobile</a>
---
### ALNAP to check
ALNAP only need to review this once it's been themed (see #172)
- [ ] Check lists/displays of related resources o

[2017-06-13 15:40] nadia847 opened #123 "(#217) Build Share widget"
and ensure it works on each shareable content type (news, blocks, etc)

### Done criteria
- [x] Share widgets on: News, events, blogs, jobs, resources
- [x] Can share content on each social network
---
### Designs
- [ ] https://projects.invisionapp.com/share/ANC0GIX8Q#/screens
---
### ALNAP to check
e.g. http://alnap-dev.mrmdev.co.uk/blogs/blog-4

![Screen Shot 2017-08-22 at 17.54.13.png](https://

[2017-06-13 15:43] nadia847 opened #124 "(#200) Header"
### Done criteria
- [x] Add logo
- [x] Add facebook, twitter and youtube icon and link
- [x] Add Login/Register links
- [x] Add google translate (showing outline)
- [x] Nav/ menu
- [x] Including search
- [x] Mobile version
- [x] Theme
----
### Designs
- [Homepage wide](https://invis.io/NSCBN3KQ5)
- [Homepage wide nav](https://invis.io/6KCBN4KYE)
- [Mobile version](https://invis.io/9XCBN2XZ4)
- [Mo

[2017-06-13 15:44] nadia847 opened #125 "(#200) Footer"
### Done criteria
- [x] Add contact details
- [x] Youtube icon and link
- [x] Add mailchimp signup linked to the ALNAP list
- [x] Add footer links (disclaimer | privacy policy)
- [x] It should be 'Website by Manta Ray Media'
- [x] Theme
- [x] Mobile version
----
### Designs
- [Homepage wide](https://invis.io/NSCBN3KQ5)
- [Homepage wide nav](https://invis.io/6KCBN4KYE)
- [Mobile version](https://in

[2017-06-13 15:49] nadia847 opened #126 "Twitter integration"
Link feeds view to ALNAP twitter account

[2017-06-13 16:29] russ-manta commented on #67
@angievanhegan I think I have enough info from Dave now.

[2017-06-14 09:03] nadia847 opened #127 "(#214) Build and theme site search"
### Done criteria
- [x] Set up apache solr
- [x] Set up search API
- [x] Build general search based on help search but for all content types (except excluded) see requirements below
  - [x] searches all site content INCLUDING  resources
  - [x] Search within PDF text (very important)
  - [x] Search with keywords
  - [x] Results filtered by content type
- [x] Theme search page
- [x] Link search in

[2017-06-14 09:04] nadia847 commented on #127
@russ-manta We're not using core drupal search for this, are we?

[2017-06-14 09:05] nadia847 opened #128 "Home page"

[2017-06-14 09:10] nadia847 opened #129 "(#247) Migrate resources (final)"
### Done criteria
- [ ] Final resource migration - copy all from live alnap site
- [ ] Consider how to deal with any stragglers (after cutoff date)
---
### ALNAP to check
- [ ] All resources present and correct

[2017-06-14 09:49] dilwarhussain commented on #31
@dave-manta @russ-manta I had to add the 'Member' entity reference back so we can show all referenced news on the Member node.

[2017-06-14 10:40] nadia847 opened #130 "Build portals"

[2017-06-14 10:43] nadia847 opened #131 "(#137) Redirects for resources"
### Done criteria
- [ ] Programatic redirects for resources (and only resources!)
---
### ALNAP review criteria
- [ ] Redirection from old urls is correctly going to new ones

[2017-06-14 10:46] nadia847 opened #132 "(#212) Portal theming (excluding events)"
First of all get theme working on one portal (Portal 1) before attempting to apply them to other portals.

### Done criteria
- [x] Set up base'domain theme based on the alnap theme (sub sub theme)
- [x] change header footer and other elements to match design
- [x] Theme other pages as required but in general most pages follow main alnap theme
- [x] change nav colour, hovers etc as per Cat's design

[2017-06-14 10:48] nadia847 opened #133 "(#137) Set up Google Analytics"
### Done criteria
- [x] Generated an api key for analytics module
- [x] Add API key to drupal
---
### ALNAP to check
- [ ] They have access to site analytics on their google account

[2017-06-14 11:00] nadia847 opened #134 "(#247) Move to Live"
- [ ] Go through [Go live check list](http://projects.mantaraymedia.co.uk/projects/106/notes?modal=Note-406-106-0)
- [ ] Copy dev site to live server
- [ ] Change DNS and make live

[2017-06-14 11:07] nadia847 opened #135 "(#234) Scoping member organisation registration"
we'll leave their current process as is - which is for prospective member to send an email and if ALNAP think they could be a member, they send them a form to complete.  May consider making this form a Civi form, but that's not relevant for the website build.

### Done criteria
- [ ] Confirm process
- [ ] Do we need to build a webform?
- [ ] Create new tasks to build any new functionality as requi

[2017-06-14 11:10] nadia847 opened #136 "Training"

[2017-06-14 11:10] nadia847 opened #137 "Sprint goal: Bits and bobs"
- [ ] Browser/device testing #254
- [ ] Review/adjust content type aliases & breadcrumbs #221
- [ ] Contact us #252
- [ ] Manual redirects setup #255

[2017-06-14 11:13] nadia847 opened #138 "Archive orig site"

[2017-06-14 11:15] nadia847 opened #139 "User guide"

[2017-06-14 11:18] nadia847 opened #140 "Support contract"

[2017-06-14 12:49] dave-manta commented on #135
@Maria-alnap would you mind uploading the various member registration forms you put in Slack here please.

[2017-06-14 12:51] dave-manta commented on #31
@dilwarhussain please check this with @russ-manta

[2017-06-14 13:08] dave-manta commented on #120
@nadia847 could you rephrase your question, as I'm not sure how to answer.

[2017-06-14 13:11] nadia847 commented on #120
@dave-manta are the requirements for people and teams in any way different from remora functionality?

[2017-06-14 13:14] dave-manta commented on #120
I believe that Remora functionality will suffice @nadia847.

[2017-06-14 13:38] nadia847 opened #141 "Scope Resource series PAGE"
For launch, we'll build a nugget that allows a resource to show a list of other resources in that series  (see #112)

In the future, ALNAP may require a resource series page which they can reference from other places in the site.

The notes below are from the discussions, clarifying a short term (nugget) approach and a possible longer term (page) approach.

[2017-06-14 13:42] dilwarhussain commented on #44
@dave-manta @angievanhegan A few questions:
1. Upcoming events? Access to past events? Any decision on this?
2. What's the difference between resources they have uploaded and ones ALNAP tag for them? They will both be linked via the entity reference, no?
3. Webinars are a type of resource and will be included in the view of resources?
4. What is a panel list? If it's being shown in the body, then

[2017-06-14 13:43] dave-manta commented on #141
@Maria-alnap could you give post a few links to resource series on your current site, which will help guide our implementation.  Thanks.

[2017-06-14 13:58] Maria-alnap commented on #141
@dave-manta sure, the case studies in the link below would be a good example: http://www.alnap.org/what-we-do/innovation#case_studies

[2017-06-14 13:59] Maria-alnap commented on #141
(the report above them in that page would also be part of the series)

[2017-06-14 14:04] Maria-alnap commented on #135
[Uploading New Members Application Form NGO.docx...]
[Uploading New Members Application Form Red Cross_Red Crescent.docx...]
[Uploading New Members Application Form.docx...]
[Uploading Guidance notes for applicants.docx...]

[2017-06-14 14:04] Maria-alnap commented on #135
There you go :)

[2017-06-14 14:05] dave-manta commented on #44
@dilwarhussain

1. I think access to past events should just be a filter on the search, but perhaps @ican-icant should feed in.  Not sure what the issue is with upcoming.
2.  I think this is part of a wider discussion which I was having with Russ yesterday on #66 and I would check in with @russ-manta on this.
3. That's a good question.  I think the upcoming webinar is an event, but when complete t

[2017-06-14 14:09] dave-manta commented on #141
Thanks @Maria-alnap

@nadia847 I believe the example Maria has sent matches my ideas from earlier. A separate content with entity references, displaying a view of all related content in the main content area and then on individual nodes, saying they are part of a series and linking to that.  Do you agree>

[2017-06-14 14:14] russ-manta commented on #44
@dave-manta @dilwarhussain we've gone with an organisation content type for now and I think we will always have one it just how integrated with Civi it's going to be. I'm trying to test that part now

[2017-06-14 14:23] dave-manta commented on #44
OK @russ-manta. I think it's really important that your thoughts so far are documented here #66 as that would have made some of my responses to Dilwar, easier.

[2017-06-14 14:30] dave-manta commented on #135
@Maria-alnap thanks, although I can't seem to get access to the files.  For some reason doc files are not supported. Could you save them and upload as docx.  Also, there seems to be a lot of tracked comments in them. Could you send 'clean' versions?

@russ-manta @angievanhegan

[2017-06-14 14:32] russ-manta commented on #44
@dave re panel list you mention member content type. I assume you mean member as in person and not organisation?

[2017-06-14 14:34] dave-manta commented on #44
@russ-manta sorry, meant organisation.

[2017-06-14 14:35] dave-manta commented on #44
@russ-manta there's been a separate discussion about panel list somewhere...

[2017-06-14 14:35] russ-manta commented on #66
Currently we have an organisation content type which is a hybrid of the Remora organisation content type but with the addtional fields required by ALNAP. I think we will most use the organisation content type with a link to the Org in civi but I'm currently experimenting with the Civicrm Entity module which will determine how much crossover there is.

[2017-06-14 14:39] angievanhegan opened #142 "Weekly"

[2017-06-14 15:27] angievanhegan commented on #97
Hi @Maria-alnap - @russ-manta sent an email to Phil about this yesterday. Can you see if he can reply? We'd like to see if we can get this quote to you ASAP so that you can decide on everything on Friday. Thanks

[2017-06-14 15:52] Maria-alnap commented on #135
They were docx...

[2017-06-14 15:52] Maria-alnap commented on #135
I'll try again

[2017-06-14 15:52] Maria-alnap commented on #135
[Uploading Guidance notes for applicants.docx...]

[2017-06-14 15:53] Maria-alnap commented on #135
[Uploading New Members Application Form Red Cross_Red Crescent.docx...]
[Uploading New Members Application Form.docx...]
[Uploading New Members Application Form NGO.docx...]

[2017-06-14 15:53] Maria-alnap commented on #135
Should I try with PDFs?

[2017-06-14 15:54] angievanhegan commented on #76
Hi @Maria-alnap - @russ-manta sent an email to Phil about this yesterday. Can you see if he can reply? We'd like to see if we can get this quote to you ASAP so that you can decide on everything on Friday. Thanks

[2017-06-14 15:54] nadia847 commented on #135
[test.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317329d2699000201a6665/125516c66e82c728ace21e0d46fc918937c0cfeb9ffbb049a15ee4d67304722a7a55f07c26d0b12dee167d025f5f4cff170e0d17faaa9b37b4f46d2ede0356b49b381d66cc2f12aeb2831bb606be258e498cb2bb8a48d2a5.pdf)

[2017-06-14 15:55] angievanhegan commented on #97
This is a duplicate. I'm archiving it.

[2017-06-14 15:55] #97 closed

[2017-06-14 15:56] Maria-alnap commented on #76
I've chased him now. We'll see!

[2017-06-14 15:56] nadia847 commented on #135
[test.docx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317329d2699000201a6665/125516c66e82c728ace21e0d46fc918937c0cfeb9ffbb049a15ee4d67304722a7a55f07c26d0b12dee167d025f5f4cff170e0d17faaa9b37b4f46d2ede0356b49b381d66cc2f13aab2831bb606be258e488cbebc8349d2a5.docx)

[2017-06-14 15:57] nadia847 commented on #135
[test.docx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317329d2699000201a6665/125516c66e82c728ace21e0d46fc918937c0cfeb9ffbb049a15ee4d67304722a7a55f07c26d0b12dee167d025f5f4cff170e0d17faaa9b37b4f46d2ede0356b49b381d66cc2f13aab2831bb606be258e4780bebf8248d2a5.docx)
[test.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317329d2699000201a6665/125516c6

[2017-06-14 15:59] nadia847 commented on #135
Hi @Maria-alnap (sorry for the spamming!) The uploads seem to work ok for me. Are you keeping all the text that appears after the name of the file when you save your comment?

Are you seeing the files as links when you save?
![Screen Shot 2017-06-14 at 16.58.02.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317329d2699000201a6665/125516c66e82c728ace21e0d46db978826878de9

[2017-06-14 16:00] angievanhegan commented on #135
@Maria-alnap Sorry, we just decided that we're going to use Active Collab for storing docs. Are you ok to upload it there, then add links from here? Thanks Angie

[2017-06-14 16:01] Maria-alnap commented on #135
ok

[2017-06-14 16:03] Maria-alnap commented on #135
http://projects.mantaraymedia.co.uk/proxy.php?proxy=forward_preview&module=system&v=5.13.13&b=DEV&context=files&id=1491&size=261631&md5=fda4f27c9f74eac1be43dad0b36f9f9d&timestamp=2017-06-14+16%3A02%3A22

[2017-06-14 16:04] Maria-alnap commented on #135
Does that work? (Would you pls check before I do the rest?)

[2017-06-14 16:04] Maria-alnap commented on #135
I've just uploaded them here: http://projects.mantaraymedia.co.uk/projects/189/files

[2017-06-14 16:04] Maria-alnap commented on #135
(first link was for just the first of the files)

[2017-06-14 16:07] angievanhegan commented on #75
Hi @Maria-alnap Three questions for you:

1. Do you want the events search to search on member?
2. Have you decided yet how people will search by sector? Can this just use the resource tags?
3. Can you clarify what sponsored events are please?

Thank you very much.

[2017-06-14 16:22] angievanhegan commented on #135
@Maria-alnap The first link doesn't work. But the second link does.

[2017-06-14 16:55] Maria-alnap commented on #135
Great!

[2017-06-14 16:55] Maria-alnap commented on #135
The files you need are the last 4 uploaded there :)

[2017-06-14 17:13] angievanhegan commented on #141
@dave-manta Would we need a wireframe for this so that Maria can confirm what's going to go on it?

[2017-06-14 17:18] angievanhegan commented on #65
@dave-manta I've updated the title so that it's now about a specific annual meeting page.

[2017-06-14 17:29] angievanhegan commented on #65
@dave-manta @russ-manta @nadia847 Who can tell me if we can display a session timetable with nuggets? See here for an example www.alnap.org/31am Thanks

[2017-06-14 17:39] angievanhegan commented on #70
@meldera Please can you estimate this task? Thanks

[2017-06-14 17:39] angievanhegan commented on #119
@nadia847 Please can you estimate this task? Thanks very much

[2017-06-14 17:40] angievanhegan commented on #66
@russ-manta Please can you estimate this task when you have a second?  thanks

[2017-06-14 17:41] angievanhegan commented on #75
@nadia847 Do you have enough information to be able to estimate this one please? Thanks

[2017-06-14 18:18] angievanhegan commented on #141
@russ-manta I don't think this is in our sprint for this week. Would it be helpful to scope it now, or could we leave it until it's in the sprint? Thanks

[2017-06-15 07:50] nadia847 commented on #119
@angievanhegan task estimated

[2017-06-15 08:00] nadia847 commented on #141
@dave-manta I agree. I also think this might need to be a content type with nuggets in order to do all the expanding/collapsing bits and the "Resources on similar topics" which is in addition to the resources in the series. What say you?

@angievanhegan Dave and I had a little chat yesterday and I'm not sure there's much scoping to be done here, just need confirmation on ^ from Dave and we're good

[2017-06-15 08:37] russ-manta commented on #127
@nadia847 no we're using search api & solr

[2017-06-15 08:39] nadia847 commented on #127
@russ-manta cool thanks requirements updated. I also think this task is probably more a 40 than a 20, especially considering we have lots of entity ref relationships

[2017-06-15 08:40] russ-manta commented on #141
@angievanhegan @nadia847 sounds like not too much scoping needed. It doesn't affect resources themselves apart from a link saying they are part of a series. So doesn't affect what we have done/are doing so far on resources

[2017-06-15 08:42] russ-manta commented on #66
@angievanhegan done

[2017-06-15 08:49] nadia847 commented on #65
@angievanhegan @dave-manta yes, we can add tables in Content block nuggets which, unless we need something really templated, eg drugs on smo, should suffice.

[2017-06-15 08:54] #82 closed

[2017-06-15 08:56] nadia847 commented on #141
@angievanhegan  @russ-manta Well we need to display a view on any resources that are part of a series that they are part of a series but there's not much in that.

[2017-06-15 09:00] Maria-alnap commented on #75
HI @angievanhegan !

Please find our answers below:
1) No, no search by member needed
2) We would like people to be able to search by top level resource tags.
3) On the type of event, we want to refine the existing list. Please use the options below instead:
Conference
Panel discussion
Lecture/ seminar
Workshop
Training course
Other event (please specify)
Online event (please specify)

Thanks!

[2017-06-15 09:21] nadia847 commented on #54
@dave-manta @angievanhegan @ican-icant

Russ, Arseni and myself agree that we want to have regular (quick) search always present with the ability to expand advanced filters, otherwise you force users to have to search twice.

[2017-06-15 09:40] nadia847 commented on #129
Remora countries vs something new
Internal and public tags still required?

@russ-manta

[2017-06-15 09:44] nadia847 opened #143 "Audio nugget"

[2017-06-15 10:05] dilwarhussain commented on #32
http://alnap-dev.mrmdev.co.uk/styling-checklist/news-events/news
@nadia847 Can you wanna review this please.

[2017-06-15 12:26] dave-manta commented on #54
@nadia847 agreed. Decision made. And please edit first note to reflect requirements and feedback to @angievanhegan if any wireframing or design work is  needed here.

[2017-06-15 12:49] dave-manta commented on #15
@angievanhegan OK. In which case my numbered list higher up is confusing as that's for Events I believe.

[2017-06-15 14:11] angievanhegan commented on #15
@russ-manta Please can you help us out with this one? I've just copied the title over from the work package. Please can you clarify the requirements and the estimate so that this work can be allocated to someone? Thanks very much.

[2017-06-15 14:13] angievanhegan commented on #30
@dilwarhussain I think we could come back to this when we theme it and ask Maria to review it. I'll make sure there's an issue for theming this content type and add a note there. I'll remove it from the requirements here. Thanks.

[2017-06-15 14:14] angievanhegan opened #144 "(#210) Build and theme events content type"
Links to #30 (build content type)
### Done criteria
- [ ] need to modify the 'register' text on the button (consult with client) (it may be to more info or to a registration link)
- [ ] Add checkbox to hide sidebar for event (for all events)
- [ ] Add checkbox to hide event details white box (for all events)
- [ ] Add subtopics nugget to event content type in the relevant region (style if needed),

[2017-06-15 15:41] russ-manta commented on #29
@Maria-alnap Maria, we've just been looking at related resources and we're wondering if you relate one resource to another does the relationship always  work both ways?
For example here: http://www.alnap.org/resource/6950 the resource 6947 (spillovers) is shown and id I then go here http://www.alnap.org/resource/6947 the corresponding resource 6950 (pathfinders) is shown.  Is it always like this o

[2017-06-15 16:03] angievanhegan opened #145 "Decide how we are using user profiles"
- [ ] Decide how we're using user profiles
- [ ] Create issues in waffle as a result of this decision
- [ ] Make sure we have the appropriate work packages on the Roadmap
- [ ] Make sure we have an issue for using this design: https://invis.io/6GC6FJ72N

[2017-06-15 18:06] angievanhegan commented on #65
So, this doesn't look like it's going to need a wireframe. Great.

[2017-06-15 18:10] angievanhegan commented on #141
@dave-manta Are you happy to approve the above plan? No wireframe needed? If you're ok with this, please add a note here and move to the backlog. And let Nadia know she can go ahead with issue #112 Thanks.

[2017-06-15 18:13] angievanhegan commented on #75
@Maria-alnap Thanks for this. I've updated the requirements at the top of this issue and I'll put the list of event types on the taxonomy issue. @nadia847 Does this go back to you now?

[2017-06-16 10:50] nadia847 commented on #145
@angievanhegan @russ-manta Is this kinda a duplicate of #45?

[2017-06-16 12:05] russ-manta opened #146 "(#250) Build and theme person node (for ALNAP staff member?)"
### Done criteria
- [x]  use person content type
- [x] DISCUSSION: Copied from Invision comment. Maria asked:  Would it be possible to add a row(s) of cards with publications and blogs the Member of staff has authored under his bio?
- [x]  DISCUSSION: display their reports and resources, like blogs are on the author profile page
---
### Designs
[Person page](https://invis.io/6GC6FJ72N)

---
### AL

[2017-06-16 12:07] russ-manta commented on #45
plan is to use person for team members ie secretariat and users for members of organisations that sign up and can submit resources etc

[2017-06-16 12:11] russ-manta opened #147 "(#208) Build and theme user account page"
### Done criteria
- [x] BLOCKED BY: Forms in #118
- [x] Build views
- [x] Theme views, buttons and links etc
- [x] ISSUE: button position correct
- [x] ISSUE: create some Civi enabled webforms for editing
- [x] Theme profile edit forms
- [x] Make sure that there's no '+ Member news' button as members can't submit news  (yet)
- [x] ISSUE: Editing "email and password" page changes the name on your p

[2017-06-16 12:19] russ-manta commented on #15
@angievanhegan I've added a checkbox for resources/events/news. Resources and events are now done and ready for review. I'm not sure about news though @dave-manta  do we have any info on what tags are needed for news?

[2017-06-16 12:22] russ-manta opened #148 "Review related content relationships"
[] - check content model and content types to ensure all inter-related in the model is built

[2017-06-16 12:34] angievanhegan commented on #93
Maria confirmed that this will come into scope. It can be done later in the build. Needs to be in this financial year.

[2017-06-16 12:34] angievanhegan commented on #142
Maria confirmed that this should be in scope.

[2017-06-16 12:34] angievanhegan commented on #91
Maria confirmed that this can come into scope.

[2017-06-16 12:35] angievanhegan commented on #92
Maria confirmed that this can come into scope.

[2017-06-16 12:35] angievanhegan commented on #23
Maria confirmed that this can come into scope.

[2017-06-16 12:35] angievanhegan commented on #102
16/6 Maria confirmed that this isn't coming into scope yet.

[2017-06-16 12:35] angievanhegan commented on #89
Maria confirmed that this can come into scope.

[2017-06-16 12:36] angievanhegan commented on #89
Maria confirmed that this can come into scope.

[2017-06-16 12:36] angievanhegan commented on #96
Maria confirmed that this can come into scope.

[2017-06-16 12:48] russ-manta opened #149 "Confirm site search requirements"
- [ ] confirm search requirements/functionality
- [ ] Need a design for expanded search box (from main menu)
- [ ] Need a design for results

[2017-06-16 12:49] angievanhegan commented on #94
This can probably only be bought into scope if it's a relatively easy job.

[2017-06-16 12:49] russ-manta commented on #149
@dave-manta can you confirm what the search requirements are for the site and why we might need Apache SOLR. I can't remember/find if there are any notes on how search should work

[2017-06-16 13:15] angievanhegan opened #150 "Make sure everyone is up and running on Harvest"

[2017-06-16 13:16] #150 closed

[2017-06-16 13:20] russ-manta opened #151 "Review user profile fields"
- [x] compare fields with registration form on old site and with database export.
- [x] check if some fields should be in Civi eg employer etc
- [x] Create new tasks if needed

[2017-06-16 13:26] #32 closed

[2017-06-16 13:37] #148 closed

[2017-06-16 14:06] Maria-alnap commented on #29
Hi @russ-manta ,

This is done manually so it's not always consistent.

We'd be happy to be flexible with this (either try a new workflow or continue doing it as we have so far).

Hope this helps!

[2017-06-16 14:10] nadia847 opened #152 "Clarify user tasks to make sure they'll get the work package done"
Make sure you have all the tasks you need to build all user functionality in the sprint backlog

[2017-06-16 14:24] nadia847 commented on #45
What about blog authors? are these definitely users? @russ-manta @dave-manta

[2017-06-16 14:29] nadia847 opened #153 "(#209) Wireframes/scoping member updates views"
See notes in #82

### Requirements
1. ALNAP create them
2. They are only viewable by logged in members (users)
3. You want to tag them for member(s) or ALNAP
4. They get displayed on the [user account page](https://invis.io/72BDLFJYG#/240257350_My_Account_V0-1) (if you are a member)
---

### Done criteria
- [ ] Scope done
- [ ] Wireframe done?
- [ ] Update #154 with requirements
- [ ] Do we need a

[2017-06-16 14:34] nadia847 opened #154 "(#209) Build and theme member updates views"
### Done criteria
- [x] ISSUE: Member update show the name of the organisation on card
- [x] See design, needs to list Organisation
- [x] Build views according to wireframes/design
- [x] Theme according to match design
- [x] Check if search or other view of member updates is required (it's not - according to @ican-icant )
---
### Designs
- [ ] https://projects.invisionapp.com/d/main#/console/10292

[2017-06-16 14:42] nadia847 opened #155 "(#208) Build user import feed"
Not importing direct to Drupal now so this task probably not required - see #41

### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-16 15:05] dilwarhussain commented on #88
@ican-icant Are all the fields in the design accurate. There's a discrepancy between design and One note notes.

[2017-06-16 15:22] angievanhegan commented on #129
@russ-manta We haven't captured this in the roadmap for this week? Should we be doing it later?

[2017-06-17 13:58] dave-manta commented on #45
@nadia847 if they need to be, I don't see why they couldn't be.

[2017-06-17 14:04] dave-manta commented on #67
@angievanhegan @russ-manta I see this has been closed, but do we not need a task to build user registration now?

[2017-06-17 14:07] dave-manta commented on #149
@russ-manta is this for the main site search or the resources search, or are they one of the same.  There's been quite a lot of discussion on resources search and I believe you were part of those conversations. I don't have any specific notes on the search requirements, but if necessary we can meet and we can also re-confirm with ALNAP.

[2017-06-17 14:09] dave-manta commented on #89
@angievanhegan so this needs re-tagging and move to backlog?

[2017-06-17 14:10] dave-manta commented on #93
@angievanhegan when does the financial year end and does this mean that we will do it post-launch as an add-on?

[2017-06-17 14:28] dave-manta commented on #15
@russ-manta please check with @ican-icant

[2017-06-17 14:48] dave-manta commented on #141
I'm not sure I follow Nadia's question above or understand the need for nuggets. I believe this should be discussed in a scoping meeting, rather than in this thread.  Also, may have relevance for Resources import.

[2017-06-19 09:41] dilwarhussain commented on #15
Use the 'tags' taxonomy on: Resource, Events, News, Blogs, Jobs.

[2017-06-19 10:14] russ-manta commented on #57
@Maria-alnap we're currently scoping the commenting for the website. Would you be willing to consider using Disqus for comments?  This is something that ODI use and it comes with some nice features such as comment moderation, notifications. There is a small monthly fee of $10 per month: https://disqus.com/pricing/  The only issue might be with you adding in your comments for the previous site - do

[2017-06-19 10:24] nadia847 opened #156 "(#202) Wireframe/scope blog author profile"
### Done criteria
- [x] Requirements approved by ALNAP, confirm fields & design
- [x] Confirm with client that author page will be user page
- [ ] Requirements all documented in issue #189

[2017-06-19 10:30] Maria-alnap commented on #57
@russ-manta Happy to go with Disqus. Any idea how much it would be if we pay upfront for a whole year? I have just created an account for us to find out, but it seems things need to be set up first. Pls find login details below:
comms@alnap.org
PW: qA1RtpYg07qV

We would like to move comments for past blogs, as there's been some quite interesting discussions there and it shows that the blog genera

[2017-06-19 10:36] nadia847 opened #157 "Clarify blog submission process"
- [x] Will they ever have non members (ie people without a login)/subscribers submitting blogs?
- [x] What is the actual process?

In summary (from below)
-----------------------------------
Any interested party submits their blog post to ALNAP for review.  ALNAP then create the blog post and link it to the person's account. If they don't have an account then ALNAP first create them one.

[2017-06-19 10:38] russ-manta commented on #157
@Maria-alnap could you answer these questions for us please?

[2017-06-19 10:47] Maria-alnap commented on #157
@russ-manta @nadia847
Q1: Yes and no. People with no accounts can pitch blog posts to us but when their piece is published, the current site needs to connect the author to a subscriber ID. This means that we need the author to create an account with us if he doesn't have one already. (In practice, we end up creating them ourselves in the backend, otherwise it would take even longer to publish post

[2017-06-19 10:58] russ-manta commented on #29
Thanks @Maria-alnap . Also for the location on resources do you use region/continent at all or is Country only sufficient?

[2017-06-19 11:02] Maria-alnap commented on #29
@russ-manta we need both, region and country. Thanks!

[2017-06-19 11:03] dilwarhussain commented on #59
No longer having 'Quick search' and 'Advanced search' tabs. Quick search will always be displayed, there will be a button to expand and show 'Advanced search' options.

[2017-06-19 11:09] russ-manta commented on #29
@Maria-alnap where is the region used/displayed on the site?

[2017-06-19 11:09] russ-manta commented on #29
@Maria-alnap ah just seen, resources search

[2017-06-19 12:13] nadia847 opened #158 "Week 3 Sprint scoping sesh"

[2017-06-19 13:03] russ-manta commented on #29
@Maria-alnap how do you envisage the resource search filter working for region. In the design/wireframes there is a dropdown for Location - would this just list regions with the same categories (eg Eastern Africa etc) as on your current site?

[2017-06-19 13:26] nadia847 commented on #45
@russ-manta I've updated the description; we happy with this now? Can I chuck it into "done"?

[2017-06-19 14:02] russ-manta commented on #149
@Maria-alnap For the main site search can we confirm what functionality you need?
1. search with keyword box and filter by content type
2. Search within pdfs/documents
3. Search recommendations

Are there more requirements than this?
Thanks
Russ

[2017-06-19 14:42] russ-manta opened #159 "Wireframe user account page(s)"
- [ ] Create wireframe similar to current alnap account page for new site: http://www.alnap.org/account/

[2017-06-19 14:43] russ-manta commented on #159
@ican-icant could you have a look at a wireframe for this please?

[2017-06-19 15:00] russ-manta commented on #116
@meldera Alnap have confirmed that they use the region on resources for searching so we'll need to add/use this: http://www.alnap.org/resources/results.aspx?q=|ta

[2017-06-19 15:28] russ-manta opened #160 "Build resource series view on resource node"
- [ ] Resource series view

[2017-06-19 15:31] angievanhegan commented on #73
Angie to check with Steve if there's more to do than just enable them to add them.

[2017-06-19 15:42] russ-manta opened #161 "Redesign portals section on resources search"

[2017-06-20 09:28] Maria-alnap commented on #29
Hi @russ-manta , yes indeed. Use the same regions as in the website, please, but also include countries within them

[2017-06-20 09:58] russ-manta commented on #29
@Maria-alnap thanks

[2017-06-20 12:27] russ-manta commented on #76
@Maria-alnap with the current setup do you review the content of posted jobs/events before sending a payment link or is the whole process automated?

[2017-06-20 13:00] dilwarhussain commented on #88
@ican-icant @russ-manta Need to work out how the 'Members only' resources are going to work before I can add it to the card content.

Also the authors field is just a varchar text field atm so there will be no option to "et al" if > 2. Can maybe trim the length of the field on the card.

[2017-06-20 13:25] russ-manta opened #162 "(#210) Build events node views"
### Done criteria
- [ ] RHS content on node and anything else requiring views
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-06-20 13:26] russ-manta opened #163 "(#210) Build & theme PAST events view with search"
Same as main events search #75 but for past events only

### Done criteria)
- [x] Should search by:
  - [x] Text
  - [x] Type (Conference, Panel discussion, Lecture/ seminar, Workshop, Training course
  - [x] Other event (please specify), Online event (please specify)). ALNAP to be able to edit list.
  - [x] Organisation (agency)
  - [x] Location
  - [x] Tags (the resource keywords)

- [x] Ability

[2017-06-20 14:36] angievanhegan commented on #156
@ican-icant If you have time to make a start on this it'd be great as build will be able to start on it. It's in the sprint this week. Thanks.

[2017-06-20 14:41] russ-manta opened #164 "Build blog node views/page"
- [ ] Add RHS views from wireframe
- [ ] show/hide content type fields as needed

[2017-06-20 14:44] Maria-alnap commented on #76
@russ-manta We do review the content, as the job/event needs to be relevant to the ALNAP Membership...

[2017-06-20 14:52] angievanhegan commented on #149
@Maria-alnap Could you have a look at Russ's questions please? Thanks

[2017-06-20 14:53] Maria-alnap commented on #149
Hi @russ-manta , what do you mean with Q3?

[2017-06-20 15:46] russ-manta commented on #29
@Maria-alnap what's the difference between Public tags and Internal tags on resources?  Are internal tags required for the new site?

[2017-06-20 16:02] Maria-alnap commented on #29
@russ-manta internal tags are metadata. It would be good to discuss this further, as I'm unsure to what extend we'll need them in the same shape/form that they're now. Can we add this to our upcoming catch up with Angie?

[2017-06-21 08:47] russ-manta commented on #29
@Maria-alnap sure let's discuss it then

[2017-06-21 09:42] nadia847 commented on #75
@russ-manta how are we capturing whether this is an alnap or not event? so that ALNAP events can be promoted above others?

[2017-06-21 09:53] russ-manta commented on #64
@ican-icant any news on this?  Can we have a design for member only node - what someone sees when they are not logged in?

[2017-06-21 14:46] russ-manta commented on #64
@Maria-alnap can you explain the difference between Subscriber and Full member please?  Is a subscriber someone that has an account but belongs to an Organisation without a paid membership?

[2017-06-21 14:58] Maria-alnap commented on #64
Hi @russ-manta yes, that's indeed the case. Subscribers are users that have an account but are not full ALNAP Members

[2017-06-21 15:02] russ-manta commented on #64
@Maria-alnap thanks. So it looks like there are only 2 resources that are subscriber only. Do you need any resources to be subscriber only or is it just either Member only or anyone can access?

[2017-06-21 15:39] Maria-alnap commented on #64
Hi @russ-manta that must've been a mistake, as we're only meant to have Member only or open access resources. I can confirm we will only have these 2 categories on the new site.

[2017-06-21 15:44] ican-icant commented on #156
@angievanhegan This is done and in invision for review by @Maria-alnap https://projects.invisionapp.com/d/main#/console/10292473/239620640/preview

[2017-06-21 16:03] russ-manta commented on #29
@Maria-alnap for existing resources on your current site is there any way to tell who submitted the resource?

[2017-06-21 16:08] ican-icant commented on #159
Does this really need a wireframe? I'd go with FMLM-style

[2017-06-21 16:08] ican-icant commented on #159
![login-ALNAP.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593563879553c0002057e2c0/125516c66e82c728ace21e0d46e49b9d2a8cce88a3c79e73e611b2843b492d762a10e17132d0ba7bee112c575a5d1bad450e0c44fcfbda7df0e46f76d94e17ff933c0120996048e6edc00db513b922814e81bfb48a4ac1ea352ce48a8b5d73.jpg)

[2017-06-21 16:11] russ-manta commented on #159
@ican-icant this is for the user account page once logged in which should show their photo, blogs if other people are looking at it, bookmarked resources etc. Have you looked at their current page when logged in? http://www.alnap.org/account/

[2017-06-21 16:16] ican-icant commented on #159
A page was done a while ago,[https://projects.invisionapp.com/d/main#/console/10292473/238113517/preview] but this was to be discussed more widely as it was felt there might be a need for a home for members.

[2017-06-21 16:20] ican-icant commented on #159
This wireframe probably needs to be revised in light of blog author page as it should be similar - does it need a design? @russ-manta

[2017-06-22 08:16] Maria-alnap commented on #156
@ican-icant Thanks! Will this be connected to the account these people will have on the website or will it be something just for blog authors completely separate to their account?

As we may have said before, we would prefer if it was something separate just for bloggers, as people have abused the fact that they have a profile on our website and say in their CV that they work for ALNAP, which is a

[2017-06-22 08:20] Maria-alnap commented on #29
@russ-manta We can't do that from the backend but I think Phil can. Would you like me to ask him, copying you?

[2017-06-22 09:48] Maria-alnap commented on #23
We've added comments on invision directly for the design of the portal page. I'm copying below as well:
We love the design for the portals! You definitely cracked it
We do think that we need to add somewhere at the top that the portals are hosted by ALNAP. It doesn't need to be super prominent but the info needs to be there in some shape or form, even a sentence would suffice.
Would you play aroun

[2017-06-22 09:52] russ-manta commented on #29
@Maria-alnap I can see the info in your database. The question is really if you need that info?  It's an extra step in the import.  For any new resources created we will automatically have the creator/owner info on the resource but do we need to import it for previous resources?

[2017-06-22 10:01] ican-icant commented on #23
@Maria-alnap  do users need to log in to portals so that they can view member only resources or do you not add member only resources to portals?

[2017-06-22 10:03] ican-icant commented on #80
Awaiting feedback from @Maria-alnap on designs.

[2017-06-22 10:42] russ-manta commented on #42
This is the plan:
1. Import all information into Civi for all users.
2. Create corresponding user accounts in Drupal using the following:
https://wiki.civicrm.org/confluence/display/CRMDOC/Creating+a+Drupal+user+for+every+CiviCRM+contact
3. Drupal will be used to store usernames/email, passwords, photos and probably a bio field
4. Having created the usernames in Drupal we may need to sync the user

[2017-06-22 11:28] russ-manta opened #165 "User import test"
- [ ] Test importing data into civi from current database
- [ ] Test creating drupal accounts synced with civi accounts (see https://wiki.civicrm.org/confluence/display/CRMDOC/Creating+a+Drupal+user+for+every+CiviCRM+contact)

[2017-06-22 11:33] #165 closed

[2017-06-22 11:49] Maria-alnap commented on #29
@russ-manta we don't really need to import that, don't worry

[2017-06-22 11:53] Maria-alnap commented on #23
@ican-icant We don't expect to have member only resources in the portals

[2017-06-22 11:54] Maria-alnap commented on #80
I put my comments on #23 as instructed by @angievanhegan

[2017-06-22 13:16] angievanhegan commented on #156
I'm putting this in blocked as I think this is something we need to resolve. I'll call in Russ and  Steve to discuss

[2017-06-22 14:27] angievanhegan commented on #23
@ican-icant This is with you to make sure the portal design shows that they are hosted by ALNAP.

[2017-06-22 14:28] angievanhegan commented on #80
This is a dupe of #23. Archiving.

[2017-06-22 14:28] #80 closed

[2017-06-22 14:47] cat-manta commented on #107
@Maria-alnap Have designed this page now, link is below:
https://invis.io/3TCA5T6U7#/240257402_Blog_Author_Profile_V0-1

[2017-06-22 14:49] cat-manta commented on #159
@Maria-alnap Have designed this page, link below:
https://invis.io/5TCA7FXBR#/240257350_My_Account_V0-1

[2017-06-22 14:56] Maria-alnap commented on #159
Thanks @cat-manta ! I've added some comments :)

[2017-06-22 14:58] Maria-alnap commented on #59
@ican-icant on the portals in the HELP homepage, we need to explain what they are and the fact that organisations can create their own if they wanted to. We should have something on the "about" menu on this, but we also think a bit of explanation needs to feature here somehow, maybe through a ? with a hover box or a text box underneath or something.

Open to your suggestions!

[2017-06-22 15:02] angievanhegan commented on #54
@russ-manta Is this a duplicate of #159? If it is it should just be moved over to done. Thanks

[2017-06-22 15:04] angievanhegan commented on #159
@Maria-alnap Would it be ok to add your comments here please? Thank you.

[2017-06-22 15:05] nadia847 commented on #38
@angievanhegan deadline? :oP was this for jobs at one point?

[2017-06-22 15:08] angievanhegan opened #166 "(#234) Build and theme user log in page"
### Done criteria
- [x] Build login page according to sketch
- [x] Install login as email address module
- [x] Redirect to relevant page after login
- [x] Theme login page according to design
- [x] Link button in header to login page

---
### ALNAP to check
- [x] Test forgotten password process
- [x] Test log in process

[2017-06-22 15:14] angievanhegan commented on #59
@Maria-alnap Seeing as we're so close to the end of the week, I'm going to create this as a new issue to do later. I hope that's ok. It will get done! Thanks

[2017-06-22 15:15] angievanhegan opened #167 "Add note to explain what resources are on the HELP page"

[2017-06-22 15:17] angievanhegan commented on #38
@nadia847 brain fart. I have no idea why that's there. It's not anymore!

[2017-06-22 15:47] angievanhegan commented on #76
@russ-manta Is there anything I can do to help get this quote done for Maria? Thanks

[2017-06-22 18:18] angievanhegan opened #168 "Project Management w/c 19 June"

[2017-06-23 08:23] Maria-alnap commented on #59
@ican-icant: it occurred to me whilst presenting the site the other day that we need to better explain what portals are and the fact that organisations can create their own if they wanted to. We should have something on the "about" menu on this, but we also think a bit of explanation needs to feature in the portals on the HELP homepage somehow, maybe through a ? with a hover box or a text box unde

[2017-06-23 08:40] ican-icant commented on #59
@Maria-alnap It's possible to add a short description below the portal title and link to 'portals'  under 'about' where there will be room for a full description.

There was no description before, is this from recent feedback or because you want people to know they can set up a portal with you?

[2017-06-23 08:51] Maria-alnap commented on #59
@ican-icant It's a bit of both. Just brainstorming a bit further now and we think we can just add this as the first thing under the about menu in each portal. So no need to do anything. Apologies for the false lead!

[2017-06-23 09:45] russ-manta opened #169 "(#200) Homepage News/Resource/Blog view"
### Done criteria
- [x] Build
- [x] Theme
- [x] Mobile version
- [x] BLOCKER: Equal heights issue
- [x] Fix wider gap between latest resources and events
- [x] ISSUE: make the transition when loading more items sexy
- [x] BLOCKER: Load more button
----
### Homepage designs:
- [Homepage wide](https://invis.io/NSCBN3KQ5)
- [Homepage wide nav](https://invis.io/6KCBN4KYE)
- [Mobile version](https://in

[2017-06-23 09:52] russ-manta opened #170 "(#200) Homepage top band build and theme"
### Done criteria
- [x] Promoted items view
- [x] Help library search
- [x] Mobile version
- [x] Themed
- [x] When I click on the search bar on the H-library the search bar partially covers the GO button.
- [x] When the page resizes on mobile the padding at the bottom of the white cards disappears and the text sits on the bottom line of the box
- [x] search is broken
----
#### Homepage designs:
-

[2017-06-23 09:58] russ-manta opened #171 "(#201) Theme resources search/landing page (HELP page)"
### Dependencies
- [x] Build resources landing page #59
----
### Done criteria
- [x] BLOCKER: Filter JS problem (need to keep filter box open after search and prevent chosen styles being removed)
- [x] Page looks like design on wide screen
- [x] Page looks like design on mobile
- [x] Views and filters themed
- [x] Toggle to switch between list/card displays themed
- [x] Playable content (film/audi

[2017-06-23 10:20] russ-manta opened #172 "(#201) Theme resource node"
### Done criteria
- [x] Resource to match design
---
### Designs
- <a href="https://invis.io/ANC0GIX8Q">Resources wide</a>
- <a href="https://invis.io/ZTCBNO4N6">Resources mobile</a>
---
### ALNAP to check
[Resources example](http://alnap-dev.mrmdev.co.uk/test-innovation-resource)
- [x]  individual resource page matches design
- [x] correct information displayed on individual resource page

[2017-06-23 10:25] russ-manta opened #173 "(#204) Standard page (About us)"
### Done criteria
- [x] Create About page using nuggets (see design)
- [x] Theme standard page and nuggets

---

### Design
[About page](https://invis.io/BFCAVB9ZD)

---
### ALNAP to check
[About page](http://alnap-dev.mrmdev.co.uk/about)
- [x] Lead image and text looks like design
- [x] Sub sections look like design
- [x] Can create new page with lead image and text, subsections

---

[2017-06-23 12:10] angievanhegan commented on #93
Maria confirmed that this doesn't need to be done now.

[2017-06-23 13:01] ican-icant commented on #159
@angievanhegan here's the list of items under the Account management titles:

[2017-06-23 13:32] russ-manta commented on #66
No civi fields for now - will be added into Drupal manually

[2017-06-23 13:34] russ-manta commented on #149
@Maria-alnap Q3 is showing recommended resources etc based on other searches

[2017-06-23 13:44] Maria-alnap commented on #149
@russ-manta yep, these 3 would suffice for the main site search. Would the results here be listed by relevance?

[2017-06-23 13:54] #151 closed

[2017-06-23 13:55] #159 closed

[2017-06-23 13:55] #115 closed

[2017-06-23 13:55] #152 closed

[2017-06-23 13:55] #104 closed

[2017-06-23 13:55] #119 closed

[2017-06-23 13:55] #31 closed

[2017-06-23 13:55] #53 closed

[2017-06-23 13:55] #43 closed

[2017-06-23 13:55] #8 closed

[2017-06-23 13:55] #12 closed

[2017-06-23 13:55] #158 closed

[2017-06-23 13:55] #145 closed

[2017-06-23 13:55] #51 closed

[2017-06-23 14:28] angievanhegan commented on #60
This is a dupe

[2017-06-23 14:29] #60 closed

[2017-06-23 15:25] angievanhegan commented on #94
@Maria-alnap This has now been costed. It will just take two days, which is £1120.

[2017-06-23 15:30] angievanhegan commented on #98
@Maria-alnap We've added your suggestion to have ALNAP publish the member to member news (with a tag to show it's from a member)  - this won't be any extra cost (see issue #113). I'll leave this requirement to have members send the news themselves here as a possible future item.

[2017-06-23 15:36] angievanhegan opened #174 "Capture email address for person downloading specific resoureces"

[2017-06-23 15:42] russ-manta commented on #15
@Maria-alnap please can you confirm with Phil what the 'Evaluation - sub type' is for resources and where it is used?

[2017-06-23 15:45] angievanhegan commented on #130
This is a dupe of #23

[2017-06-23 15:46] #130 closed

[2017-06-23 15:47] russ-manta commented on #95
@Maria-alnap could you provide any examples of resources which appear only within portals and not within the main HELP search?

[2017-06-23 16:11] angievanhegan commented on #93
Hello @Maria-alnap I just want to double check, this is out of scope. We don't need to make any plan to build it, you'll let us know if/when you do want us to start working on it? Thanks

[2017-06-23 16:13] angievanhegan opened #175 "Show recommendations based on preferences on account page"

[2017-06-23 16:16] angievanhegan commented on #175
@Maria-alnap I made a note of this in the meeting. I don't think we had it as in scope for this project though. Can you confirm? Thanks

[2017-06-23 16:35] #168 closed

[2017-06-23 16:39] angievanhegan opened #176 "Project Management w/c 15 May"
8 hours

[2017-06-23 16:39] angievanhegan opened #177 "Project Management w/c 22 May"
21.5 hours

[2017-06-23 16:40] angievanhegan opened #178 "Project Management w/c 29 May"
27 hours

[2017-06-23 16:40] angievanhegan opened #179 "Project Management w/c 5 June"
23 hours

[2017-06-23 16:40] angievanhegan opened #180 "Project Management w/c 12 June"
18.5 hours

[2017-06-23 16:43] #180 closed

[2017-06-23 16:45] #179 closed

[2017-06-23 16:46] #176 closed

[2017-06-23 16:47] #177 closed

[2017-06-23 16:59] #178 closed

[2017-06-26 13:29] angievanhegan opened #181 "Project Management w/c 26 June"
16 hours

[2017-06-26 14:30] angievanhegan commented on #88
@dilwarhussain @russ-manta From the comments it looks like this is blocked. Russ, can you help? Thanks

[2017-06-26 15:34] #52 closed

[2017-06-26 16:55] angievanhegan commented on #125
@russ-manta There's a note on the RT board to say that the mailchimp signup should integrate with Civi. Is that something we've factored in here? Thanks.

[2017-06-26 16:58] Maria-alnap commented on #15
@russ-Manta, I assume it is because evaluations are not tagged under the main tag list, but as a resource type (evaluation reports), hence they didn't want to meddle these subcategories with the rest of the tags.

I don't think this makes sense at all and I'd tag all "evaluation reports" under a new "evaluations" tag with the subtypes as second tier tags to "evaluations".

I'm double checking with

[2017-06-26 17:02] angievanhegan commented on #15
Maria responded to this while it was in the Done column. I'm putting it into the backlog with the 'review' tag in case there's something we need to pick up later.

[2017-06-26 17:04] Maria-alnap commented on #95
@russ-manta, unfortunately we don't have any of those at the moment as we haven't had the need until now. That functionality is not enabled on the current site.

[2017-06-26 17:06] Maria-alnap commented on #93
Hi @angievanhegan! You're right. This is out of scope and we're not planning to build it until the next financial year

[2017-06-26 17:09] Maria-alnap commented on #175
@angievanhegan, you're right, the recommendations will only come up for resources search results, not in the account page

[2017-06-27 07:54] Maria-alnap commented on #94
Great @angievanhegan ! Please do bring it into scope. We really need this :)

[2017-06-27 09:31] russ-manta commented on #95
@Maria-alnap ok that's fine. We'll be adding this functionality but don't need to worry about it for the import.

[2017-06-27 09:34] russ-manta commented on #125
@angievanhegan it's irrelevant here.  We'll be adding Civi mailchimp integration but that is independent of this form

[2017-06-27 09:38] russ-manta commented on #88
@angievanhegan it's not blocked any more. We had a chat about this after @dilwarhussain 's comments. He has started making the changes but didn't finish them before we went away. He'll finish when he's back

[2017-06-27 13:35] angievanhegan commented on #114
NELLE: @arseni can promo descriptions have full text formats so they can use different style colour fonts for their descriptions? or is there a better way to let them have that functionality?

ARSENI: I think access to "full text" would be expected. No point in creating a specific text format just for promos either.. Will have to trust editors not to mess it up

[2017-06-27 13:42] angievanhegan commented on #94
@russ-manta @ican-icant @dave-manta FYI - this is now in scope. I am updating the in-out scope doc you produced on 14 June.

@russ-manta I've added a work package for this to the unsorted pile.

[2017-06-27 13:57] angievanhegan commented on #175
@Maria-alnap Do you want us to give you a quote for how much it will cost for the recommendations to appear on the user account page (based on their preferences)?

[2017-06-27 14:01] Maria-alnap commented on #175
@angievanhegan Aaah! That's what you meant, recommendations based on their preferences ... Yes, it would be good to cost this up!

[2017-06-27 14:22] angievanhegan commented on #175
@russ-manta Over to you for costing. Thanks

[2017-06-28 11:18] #36 closed

[2017-06-28 14:36] russ-manta commented on #141
@Maria-alnap another quick question on resource series if I may.  We're planning on building this ias a separate content type although it shares most of the fields with a resource.  Can you confirm that a resource series page would not appear in the results when searching the HELP resource library?

[2017-06-28 14:53] Maria-alnap commented on #141
@russ-manta, yep, that's right. We're not expecting resource series to appear in search results. We could maybe add them as recommendations?

[2017-06-28 17:27] angievanhegan commented on #141
@ican-icant Just so that we know exactly what we're doing, I think it'd actually be helpful to have a wireframe for this. Do you have time to oblige? :o)

[2017-06-29 13:35] #45 closed

[2017-06-29 14:06] nadia847 commented on #96
@russ-manta seeing an error although the actual generation seems to be working:

-----
User error: ImageMagick error 1: convert.im6: unable to open image `convert': No such file or directory @ error/blob.c/OpenBlob/2641. convert.im6: no decode delegate for this image format `convert' @ error/constitute.c/ReadImage/544. in _imagemagick_convert_exec() (line 519 of imagemagick/imagemagick.module

---

[2017-06-29 15:21] russ-manta commented on #174
@Maria-alnap have you got a link to a page on the current site where we can see this email required for downloading functionality?

[2017-06-29 16:16] russ-manta commented on #76
@Maria-alnap I've just submitted a job and an event logged in as Steve/Dave. Is the next step normally for you to send me a payment link or am I missing something? If so could you send me the link so I can take a look?

[2017-06-30 07:45] Maria-alnap commented on #174
@russ-manta, here's an example: http://www.alnap.org/what-we-do/evaluation/eha#

[2017-06-30 07:47] Maria-alnap commented on #76
@russ-manta , I've just seen your submission as pending in the backend and have now ticked it as approved. That should've triggered the payment email. Pls keep me posted!

[2017-06-30 11:09] nadia847 opened #182 "Font colon issue"
AT font-weight:500, colons look like a single dot, see http://alnap-dev.mrmdev.co.uk/miss-eleanor-cutler

[2017-06-30 11:31] russ-manta commented on #91
@meldera to look at options for implementing this

[2017-06-30 12:58] russ-manta commented on #175
@angievanhegan I think this will be 1 day of work ie £560

[2017-06-30 12:59] russ-manta commented on #174
@angievanhegan I think this will be 1 day of work ie £560

[2017-06-30 13:00] russ-manta commented on #76
@angievanhegan I'm still going through the testing of current functionality.  Current thinking is that this might be about 5 days of work ie 5 x £560 but need to check a few more things to confirm

[2017-06-30 13:23] angievanhegan commented on #182
@nadia847 Please can you add an estimate to this one. Thanks

[2017-06-30 13:31] angievanhegan opened #183 "(#217) Add favicon"
### Done criteria
- [x] Alnap icon displays when viewing site on browser tabs
- [x] Icon displays for bookmarks on desktop
- [x] Icon displays when saving site on home screen on mobile
- [x]  BLOCKER - Apple home screen iOS icon not working
---
### Designs
- [ ] Files/PROJECTS/526 - ALNAP website and CRM/Design/Assets/favicons <link rel=“apple-touch-icon” sizes=“180x180" href=“/apple-touch-icon.pn

[2017-06-30 13:46] angievanhegan commented on #143
@nadia847 have I correctly marked this as an extra? Thanks

[2017-06-30 13:46] angievanhegan commented on #77
@nadia847 have I correctly marked this as an extra? Thanks

[2017-06-30 13:46] angievanhegan commented on #147
@nadia847 have I correctly marked this as an extra? Thanks

[2017-06-30 13:56] nadia847 commented on #143
@angievanhegan if by extra you mean to this sprint, then yes :o)

[2017-06-30 14:11] angievanhegan commented on #91
@russ-manta Are you bringing this into the sprint? If so, can you label it as an 'extra'. Thanks

[2017-06-30 14:13] angievanhegan commented on #175
Angie to find out if client wants to bring this into scope.

[2017-06-30 14:14] angievanhegan commented on #174
Angie to find out if client wants to bring this into scope.

[2017-06-30 14:34] angievanhegan opened #184 "Create a 'batch' of resources (internal tags)"
ALNAP require the ability to create a unique set of resources with a url that can be shared. Might be used for a meeting or a report.

Some of these urls needs to be migrated to the new site.

Was previously used as a mechanism to present content (this is no longer needed)

[2017-06-30 14:39] angievanhegan commented on #184
Captured in #59

[2017-06-30 14:39] #184 closed

[2017-06-30 14:42] dilwarhussain commented on #88
Example page using teaser template cards here:
http://alnap-dev.mrmdev.co.uk/resources-test-page

[2017-06-30 15:22] Maria-alnap commented on #174
@angievanhegan @russ-manta Yes, please!

[2017-06-30 15:52] Maria-alnap commented on #15
@angievanhegan @russ-manta So what I said earlier should be the way forward: move  evaluation reports from a resource type to a tag and add the evaluation types as subtags.

The Crisis types in the resources backend should be subtags for Syria, which should be moved from an internal tag to an external one.

[2017-06-30 16:12] angievanhegan commented on #127
@Maria-alnap Please add any specific requirements at the top of this issue.

[2017-06-30 16:39] Maria-alnap commented on #76
@russ-manta @angievanhegan Just to reiterate that we're willing to go one step down with this and action ourselves the publication of events and jobs that have been paid for, in case this makes the task any easier...

[2017-06-30 16:54] angievanhegan commented on #59
@Maria-alnap Please can you confirm which internal tags need to be retained? Thanks.

[2017-06-30 16:56] angievanhegan commented on #174
@russ-manta Can this come into this sprint as it falls under the 'resources' sprint goal? Please can you add 'done criteria' at the top and an estimate? Thanks

[2017-06-30 17:26] angievanhegan opened #185 "Project Management w/c 3 July"
18 hours

[2017-07-03 09:03] Maria-alnap commented on #59
@angievanhegan I've been looking at the backend and I think we would need to keep:
- ALNAP Steering Committee
- ECB (This is a portal, so I'm not sure we'll need to be internal tags any longer)
- Events and its subtags
- Publications and its subtags

[2017-07-03 11:43] dilwarhussain commented on #122
@angievanhegan @russ-manta @ican-icant @nadia847 @meldera  Related resources on the resource node. Are these being related using the 'Related resources' field? This is currently a text field. This relates to @cutlern work on #112 as well

[2017-07-03 12:41] russ-manta commented on #122
@dilwarhussain Is the text field on the content type is related to the import but the entity ref beneath is the field being used going forward

[2017-07-03 13:04] dilwarhussain commented on #122
@russ-manta So just to clarify we will use 'field_related' to do the related resources? What will happen with existing relations if they are in a text field atm?

[2017-07-03 13:12] angievanhegan commented on #59
Thanks @Maria-alnap I'll move this to the requirements at the top of the issue.

[2017-07-03 13:16] angievanhegan commented on #95
@meldera I added to the top box notes of the internal tags that Maria wants migrating. Does this create more work for you? Do we need to move it back to the 'in progress' column? Thanks

[2017-07-03 13:20] russ-manta commented on #143
@nadia847 I'm just reviewing this - do you know if we needed more options than soundcloud for the nugget?

[2017-07-03 13:25] nadia847 commented on #169
@russ-manta @ican-icant how do we want to allow them to choose which items go in here? Sticky? A Nodequeue?

[2017-07-03 13:40] nadia847 commented on #143
@russ-manta Info from onenote says:

###Embedding
Youtube
Loudcloud (pretty sure this is supposed to be soundcloud)
Prezi
Slideshare

So for the audio I think just SoundCloud should be sufficient? Unless there's also another big service that we should include?

[2017-07-04 10:51] #4 closed

[2017-07-04 11:03] russ-manta opened #186 "(#217) Build Prezi and Slideshare embed/nuggets"
### Done criteria
- [ ] ?
- [ ] ?
---
### Designs
- [ ] ?
- [ ] ?
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-07-04 11:56] russ-manta commented on #96
can't find a fix for the error message but seems to be working ok so will leave as won't fix for now.

[2017-07-04 12:30] #66 closed

[2017-07-04 12:45] angievanhegan commented on #141
@ican-icant How are you getting on with this? Nelle needs it to be able to work on her issue and to get it done for the end of the sprint. Thanks!

[2017-07-04 13:42] russ-manta commented on #122
@dilwarhussain Arseni is dealing with existing related resources from the text field during the import

[2017-07-04 13:48] angievanhegan commented on #112
@cutlern Would you be able to let me have  link to what you've built? Thanks

[2017-07-04 14:12] angievanhegan commented on #141
Hi @Maria-alnap. I'm trying to clarify the requirements today for the resource series so that we can have it built in this sprint. Looking at the [example](http://www.alnap.org/what-we-do/innovation#case_studies/) you gave us - there are two types of lists of resources. One with the + sign and then the others at the bottom with the covers. Do you still need both? And if so, can you help me underst

[2017-07-04 14:23] cutlern commented on #112
@angievanhegan http://alnap-dev.mrmdev.co.uk/about/what-we-do/innovation-in-humanitarian-action

[2017-07-04 14:57] russ-manta commented on #38
Should the card in the view be a link? , this can probably be done as part of the theming

[2017-07-04 15:13] angievanhegan commented on #112
@cutlern I'm in!! I had no idea there was so much to see! I love the flowers :hibiscus: :cherry_blossom: I think this looks really good and is just a clearer version of what what they already have. I think I just need to double check with Maria that it's what they were expecting. Then when Russ has reviewed it, we'll send it to Maria for review. @russ-manta is that ok with you?

[2017-07-04 16:05] angievanhegan commented on #149
These notes have been copied to #127. This is pretty much a dupe.

[2017-07-04 16:05] #149 closed

[2017-07-04 16:06] angievanhegan commented on #127
Copied from issue #147

RUSS:  For the main site search can we confirm what functionality you need?

search with keyword box and filter by content type
Search within pdfs/documents
showing recommended resources etc based on other searches

Are there more requirements than this?

MARIA: these 3 would suffice for the main site search. Would the results here be listed by relevance?

[2017-07-04 16:15] angievanhegan commented on #127
@ican-icant I have an action to confirm we've got all Maria's requirements for site search (and that none of them will need costing). Is there another site search Manta Ray have already built that I can use as a basis of my discussions with Maria on? I'm hoping to do this this week. Thanks

[2017-07-04 16:24] angievanhegan commented on #76
@russ-manta How are you getting on with this? Do you think you'll be able to have a final quote by Friday? Maria is keen to know all her costs as soon as possible. Thanks

[2017-07-04 16:32] angievanhegan commented on #126
@pipemanta This one can be moved over into in progress, right? Thanks

[2017-07-04 16:33] angievanhegan commented on #182
@nadia847 hello. Can I mark this one as an extra, or do you think this font issue appears on the home/resources/about? Thanks

[2017-07-04 16:37] angievanhegan commented on #41
@russ-manta Dave mentioned you'd asked him to look at this. Are you being one step ahead of the game and planning for the next sprint? Or can he leave it until it comes into the sprint? Thanks

[2017-07-04 16:44] angievanhegan commented on #175
At meeting on Friday 30 June Maria confirmed that this will come into scope.

[2017-07-04 16:47] angievanhegan commented on #57
@Maria-alnap migrating comments from past blogs is currently out of scope (see the Realtime Board and our meeting on Friday 30 June when we talked about migration scope). Do you want us to cost this? Please can you @ me in your reply and assign the issue to me so I know to pick this up. Thanks.

[2017-07-05 08:28] meldera commented on #182
@nadia847 I've added some JS to wrap each colon into a <span class="colon"></span> so you could set it to 400

[2017-07-05 12:42] Maria-alnap commented on #141
@angievanhegan we just need one of those lists, tbh. It's just that the old site  adds lists of resources at the end of the page and we thought it would be good to use the toggles to position the case studies higher up. These 2 listings are replications, really.

[2017-07-05 12:52] angievanhegan commented on #141
@Maria-alnap so you just need to be able to add one list, which would be a combination of hand picked case studies and resources? Thanks

@cutlern fyi

[2017-07-05 12:53] angievanhegan commented on #182
@nadia847 I've put this into the 'done this sprint' column so we can still count the points and we can start to learn how many points we can do.

[2017-07-05 13:08] Maria-alnap commented on #141
@angievanhegan we need one list for resource series and another list for related resources, as per the wireframe. The 2 lists in the sample I sent both are to show one of our resource series, as requested.

[2017-07-05 14:08] russ-manta opened #187 "Twitter replace with ALNAP details"

[2017-07-05 14:18] cutlern commented on #141
Hi @Maria-alnap ! Would you mind having a look at what’s been built so far and let me know if this is what you had in mind? (password is mrm /mrm)

http://alnap-dev.mrmdev.co.uk/about/what-we-do/innovation-in-humanitarian-action

At the moment resources are being displayed in two places on the page, in a ‘resource series nugget’ where you can select specific resources and is displayed in expanding

[2017-07-05 14:58] angievanhegan opened #188 "(#202) Build + theme CTA for submitting a blog"
### Dependencies
- [x] Blog landing page built  and themed #39
- [x] Design/wireframe blog CTA #205
---
### Done criteria
- [x] 'Got an idea for a blog' button appears at the top of landing page (as per design)
- [x] Button is a mailto link to comms@alnap.org
- [x] Button text and email address editable by ALNAP
- [x] Buttons appearing in the right place (currently overlaying header)
---
### Desig

[2017-07-05 14:58] russ-manta opened #189 "(#202) Build and theme blog author profile"
### Dependencies
- [x] Scoping/wireframing #156
- [x] Linked to User config #40
---
### Done criteria
- [x] Social media: Linkedin , Facebook, Twitter, Researchgate
- [x] View of blog posts contributed by the author
- [x] add additional fields/views to profile
- [x] Theme profile page
- [x] Blog author profiles need hiding? See #156 Maria to confirm
---
### Designs
- [Blog landing](https://invis.i

[2017-07-05 15:42] russ-manta opened #190 "(#203) Build individual topic page"
### Done criteria
- [x] Ability to re-order the Nuggets used for Jump topics
- [x] Jump topic nuggets have an optional image
- [x] Jump to menu will wrap onto another line
- [x] Twitter hashtag functionality like IDDG
- [x] Views more links to show 4 items and more to reveal another 4
- [x] White box text with +more button should align to the RHS of the image

---
### Designs
- [Landing page](http

[2017-07-05 15:46] russ-manta opened #191 "(#203) Theme individual topic page"
### Dependencies
- [x] Topic page built #190
---
### Done criteria
- [x] Ability to re-order the Nuggets used for Jump topics
- [x] Jump topic nuggets have an optional image
- [x] Jump to menu will wrap onto another line
- [x] Twitter hashtag functionality like IDDG
- [x] Views more links to show 4 items and more to reveal another 4
- [x] White box text with +more button should align to the RHS of

[2017-07-05 15:47] russ-manta opened #192 "(#203) Theme our topics landing page"
### Dependencies
- [x] Our topics landing page built #105
---
### Done criteria
- [x] Theme research topic card content
---
### Issues
- [x] odd behaviour of expanding box - it flashes when closing and doesn't expand as I'd expect
- [x] Delete read time
---
### Designs
- [Landing page](https://invis.io/K5CGE4K9M)
- [Our topic](https://invis.io/WTCJKJ4PA) and [another topic](https://invis.io/42CJKJ

[2017-07-05 15:48] angievanhegan commented on #128
Dupe

[2017-07-05 15:48] #128 closed

[2017-07-05 15:50] russ-manta opened #193 "(#209) Build and theme news landing page"
### Done criteria
- [x] BLOCKER: Sort issues with 'load more' pager
- [x] BLOCKER: keeping the search box open after searching [example](http://alnap-dev.mrmdev.co.uk/news)
- [x]  ISSUE: Filters auto submitting
- [x] Build search filters, Toggle, more page etc
- [x] Create Sign up for updates button
- [x] Theme page to match design
- [x] ISSUE - Filters are currently NOT auto-submitting (the text

[2017-07-05 15:58] #121 closed

[2017-07-05 16:04] russ-manta opened #194 "(#202) Comments build (using DISQUS) and theme"
### Dependencies
- [x] Scoping/wireframing done #57 (decided to implement Disqus and SSO to see if it fits)
---
### Done criteria
- [x] Decide whether to use DISQUS (Maria agreed this in principle #57 u/n comms@alnap.org p/w qA1RtpYg07qV)
- [x] Enable DISQUS comments on blogs in the correct region
- [x] Single sign on for DISQUS
- [ ] Add some styling to comments
---
### ALNAP to check
[Blog page]

[2017-07-05 16:53] Maria-alnap commented on #141
@cutlern thanks for the link. What's the username?

[2017-07-05 17:01] nadia847 commented on #141
@Maria-alnap

user: mrm
password: mrmdev

[2017-07-06 09:01] Maria-alnap commented on #141
thanks @nadia847 @angievanhegan
I'm a bit confused by this. The page you sent has nothing to do with the IA we signed off. Innovation is one of our topic pages. We won't have one under the about menu, we will only have a general research page there.

Our request for a resource series was just to have a list of resources under a specific resource page, for when that resource is part of a series. Th

[2017-07-06 13:56] dilwarhussain commented on #81
Need to remember to change link on 'Submit a resource' button on HELP library page to this page once completed. http://alnap-dev.mrmdev.co.uk/help-library

[2017-07-06 14:33] angievanhegan commented on #122
@dilwarhussain do you have a second to add a link to an example of a resource page on the dev site please? This is the most complete example I could find http://alnap-dev.mrmdev.co.uk/test-innovation-resource Thanks

[2017-07-06 14:37] dilwarhussain commented on #122
@angievanhegan That's the test resource I've been using to create and theme the resources.

[2017-07-06 15:27] nadia847 opened #195 "(#200) Card title formatting"
### Done criteria
- [x] being able to add bold/italics etc to node titles and have them work in teasers

There is no formatting on ALNAP although it seems to work fine on remora?

---
### ALNAP to check
- [x] Test adding bold/italics to page titles and check they appear in displays of those pages eg resources

[2017-07-06 15:34] russ-manta commented on #112
@cutlern I've updated  the subtasks for this task (above) to show what we now need to do tomorrow morning. Shouldn't be too much more work I think. Mainly a view change and rabbit holing. I'll slack you about this too

[2017-07-06 16:14] russ-manta commented on #122
This is related to #112 which @cutlern will finish tomorrow to complete this task

[2017-07-06 16:19] russ-manta commented on #59
@meldera can you look at these issues please in the morning:
1. 'ALNAP resources to show at topof view , and then sorted by relevance'
2. Number of resources at top of page do not update on submit but these are buttons to filter by All / ALNAP resources / Evaluative resources. Buttons disappear on submit via buttons or using keyword/other search. Submit a resource button stays.

[2017-07-06 16:23] russ-manta commented on #73
This is just done by creating an identical page but choosing a different language in the language field and uploading different text/pdf as required. Resources in the different languages are then just related using the Related field

[2017-07-07 08:48] russ-manta commented on #59
Russ to discuss sorting options with Maria

[2017-07-07 10:08] ican-icant commented on #169
@nadia847 Not sure if this is finished, but the MORE button doesn't work (you know this) but also we're not meant to display summary text on any card - just the title.

[2017-07-07 10:16] ican-icant commented on #124
@pipemanta - please make NAV text CAPS and space them out more in line with the design.

Please add ALNAP youtube icon (per the design) and link to https://www.youtube.com/channel/UCFFvUaLbZpNk1_X3UXWryTQ

[2017-07-07 10:19] ican-icant commented on #169
@nadia847 the gap between the bottom box in the hero and the strap line is bigger on the site than the design. It needs to be the same as the gap below the strap, which looks spot on

[2017-07-07 10:40] ican-icant commented on #122
@dilwarhussain - a few things I've spotted:

[2017-07-07 11:27] russ-manta commented on #122
@dilwarhussain @ican-icant we are not doing share icons as part of this sprint

[2017-07-07 11:36] angievanhegan commented on #76
@russ-manta Have you had a moment to finalise this quote? It'd be great to give it to Maria today at the meeting at 2. You can just at it at the top of this issue. Thanks very much

[2017-07-07 12:09] dilwarhussain commented on #122
Thanks @russ-manta . @ican-icant Those changes have been made bar the share icons.

[2017-07-07 14:35] russ-manta commented on #59
@meldera looks like we may need to rebuild this using search api now.  We'll discuss more on Monday.

[2017-07-07 15:13] nadia847 opened #196 "(#200) Responsive main menu"
### Done criteria
- [ ] Search (on desktop) the search should pop down on rollover so that it's consistent with the rest of the menu. On mobile it is a link to the search page
- [x] Desktop menu
- [x] Mobile menu
---
### ALNAP to check
- [x] Check search works as expected in the menu on both desktop and mobile

[2017-07-07 15:26] #181 closed

[2017-07-07 15:26] #114 closed

[2017-07-07 15:26] #88 closed

[2017-07-07 15:26] #73 closed

[2017-07-07 15:26] #182 closed

[2017-07-07 15:26] #157 closed

[2017-07-07 15:32] #187 closed

[2017-07-07 15:41] #185 closed

[2017-07-07 15:41] angievanhegan opened #197 "Project management w/c 10 July"
21 hours (in Toggl)

[2017-07-07 15:45] angievanhegan commented on #91
@russ-manta Please can you add more detail to the issue name? Was this task just to look at options, rather than to build it? thanks

[2017-07-07 15:46] angievanhegan commented on #91
Moving this from ALNAP review to Backlog as it's not within the current sprint goals.

[2017-07-07 15:47] angievanhegan commented on #146
I'm moving this back to the backlog as it's not within the current sprint goals. It's ready for client review.

[2017-07-07 15:48] angievanhegan commented on #120
I'm moving this back to the backlog as it's not within the current sprint goals (and there's already plenty in the sprint for the client). It's ready for ALNAP review.

[2017-07-07 15:49] angievanhegan commented on #116
@russ-manta This was in the backlog but it looks like it should be in sprint 5. Not sure which column.

[2017-07-07 15:50] angievanhegan commented on #196
@nadia847 Can you add an estimate to this one please? Thanks

[2017-07-07 15:53] angievanhegan commented on #156
Angie to clarify the answer to Maria's questions

[2017-07-10 09:50] russ-manta commented on #171
@dilwarhussain @angievanhegan  I'm moving this to blocked as we're going to rebuild the search page based on conversations with Maria on Friday

[2017-07-10 11:02] russ-manta commented on #127
Linked with #59. Main resources search is the key search. The site search can probably use the same search api config but not filter out non-resource content types.

[2017-07-10 12:42] angievanhegan opened #198 "Establish requirements for hosting at ALNAP"
ALNAP have confirmed that they will host the site with Manta Ray Media and would like to review this after the first 12 months.

[2017-07-10 12:49] angievanhegan commented on #59
FROM SLACK :

RUSS: for the HELP search it was previously mentioned that you might like to list ALNAP resources first followed by other resources.  Is this still the case? If so won't the other resources appear pages and pages back after the ALNAP resources?

MARIA: Yes, this is still the case. I don't think that we have that many resources under each tag so the other results shouldn't come that m

[2017-07-10 13:47] angievanhegan opened #199 "Investigate way to transfer the current numbers of downloads from the old site to the new"

[2017-07-10 14:29] angievanhegan commented on #125
@ican-icant Please can you review this? Thanks

[2017-07-10 14:30] angievanhegan commented on #124
@ican-icant Can you review please? Thanks

[2017-07-10 14:42] angievanhegan opened #200 "Sprint goal: Homepage"
**Only tick when in the DONE column**
- [x] Homepage top band #170
- [ ] Homepage news/resources #169
- [ ] Twitter integration #126
---

### Done in sprint 5
- [x] Header #124
- [x] Footer #125
- [x] Responsive menu #196

-------
### Designs
- [Homepage wide](https://invis.io/NSCBN3KQ5)
- [Homepage wide nav](https://invis.io/6KCBN4KYE)
- [Mobile version](https://invis.io/9XCBN2XZ4)
- [Mobile nav]

[2017-07-10 14:50] angievanhegan opened #201 "Sprint goal: Resources (core)"
### Designs
- <a href="https://invis.io/ANC0GIX8Q">Resources wide</a>
- <a href="https://invis.io/ZTCBNO4N6">Resources mobile</a>
- <a href="https://invis.io/7GC3GQIWQ"> HELP page</a>
- <a href="https://invis.io/2CC3EN2NH"> HELP advanced search</a>
- <a href="https://invis.io/U7CBNIKA4"> HELP quick search mobile</a>
- <a href="https://invis.io/T7CBNJ7CQ">Help advanced search mobile</a>

[2017-07-10 14:51] #160 closed

[2017-07-10 15:21] Maria-alnap commented on #198
@russ-manta I've heard back and can confirm that our current site is 43Gb in the current server.

[2017-07-10 16:10] Maria-alnap commented on #198
@russ-manta I'll put you in touch via email with our Head of IT, Peter Gee, now :)

[2017-07-11 00:11] angievanhegan opened #202 "Sprint goal: Blog"
**Only tick when in the DONE column**
- [ ] Build blog landing page + search #38
- [ ] Theme blog landing page #39
- [x] Design/wireframe blog CTA
- [x] Build + Theme CTA for submitting a blog  #188
----
- [x] Build blog CT #36
- [x] Build blog node page #164
- [ ] Theme blog node #37
----
- [x] Scope/wireframe for comments on blog post #57  (will try Disqus)
- [ ] Comments build and theme #194
--

[2017-07-11 00:21] angievanhegan opened #203 "Sprint goal: Our topics"
**Only tick when in the DONE column**
- [x] Build our topic landing page #105
- [x] Theme our topics landing page #192
---
- [x] Build individual topic page #190
- [x] Theme individual topic page #191
---
### Designs
- [Landing page](https://invis.io/K5CGE4K9M)
- [Our topic](https://invis.io/WTCJKJ4PA) and [another topic](https://invis.io/42CJKJH5B)

[2017-07-11 00:29] angievanhegan opened #204 "Sprint goal: About"

[2017-07-11 00:35] angievanhegan commented on #199
@russ-manta What's the next action for this one?

[2017-07-11 00:44] angievanhegan commented on #171
@dilwarhussain @russ-manta I moved this back into the sprint backlog as it's just about issue order rather than a problem that we need to focus on sorting to enable people to get on with work.

[2017-07-11 10:48] cutlern commented on #204
@angievanhegan I've fixed the white background of the expanding content block, was there anything else for this card? :)

[2017-07-11 11:46] russ-manta commented on #199
@angievanhegan I've had some feedback from Phil. I'm now awaiting some more details on the report from Tim and the how the obtain the data for their downloads.

[2017-07-11 12:58] angievanhegan commented on #173
@angievanhegan I've fixed the white background of the expanding content block, was there anything else for this card? :)

[2017-07-11 12:59] angievanhegan commented on #173
@cutlern your comment was on the sprint goal issue (which is supposed to just be a parent issue) does your comment relate to this issue?

[2017-07-11 13:10] cutlern commented on #173
@angievanhegan Ah yeah sorry that comment was for this issue (173), thought that was a card for working on the about page

[2017-07-11 14:07] dilwarhussain commented on #105
http://alnap-dev.mrmdev.co.uk/our-topics

[2017-07-11 14:22] angievanhegan commented on #173
@cutlern There's nothing else I know about. This is probably a good example of where we might need to make sure there are more specific tick boxes in the requirements at the top.

[2017-07-12 00:10] angievanhegan commented on #57
@russ-manta If we're going ahead with Disqus, does that mean that people using the site will need two logins? A Drupal one to login as an ALNAP member, then a second one for Disqus?

Also, I'm assuming that Disqus will handle all the moderations so it's entirely within Maria's control?

Thanks

[2017-07-12 00:13] angievanhegan commented on #57
@Maria-alnap a programatic migration of  comments from past blogs is currently out of scope. From your comment above, I can't tell if you're saying you're going to move them manually, or if you'd like us to do it. Let me know if it's the latter and we can organise a quote. Thanks.

[2017-07-12 00:27] angievanhegan commented on #76
@Maria-alnap I have a note to say you were going to approve a job for Russ (on his account) so that he can see the process in order to finish this quote. Is that right? Thanks

[2017-07-12 07:20] Maria-alnap commented on #57
Hi @angievanhegan we're aware of that, which is why I've repeatedly asked how we'd be able to do this from our end. Will we have to log in as each particular person via disqus and add the comment?

Looking forward to your suggestions on workflow for this :)

[2017-07-12 07:32] Maria-alnap commented on #76
@angievanhegan I've just logged in as @russ-manta  and submitted a job on his behalf. Because I used his subscriber account, he should've received the payment email and he'll now be aware of the workflow for that.

[2017-07-12 13:22] angievanhegan commented on #57
@russ-manta A couple of questions in here for you. Thanks

[2017-07-12 13:24] angievanhegan commented on #76
@russ-manta You should be getting the payment email shortly.

[2017-07-12 13:47] Maria-alnap commented on #76
@russ-manta I have just sent you a payment request and above you can see screenshots from the backend. I hope this helps with you figuring out the workflow for this in more detail

[2017-07-12 14:36] russ-manta opened #205 "(#202) Design/wireframe blog CTA"
### Done criteria
- [x] Design needed for the blog call to action
---
### Designs
- [Blog landing](https://invis.io/7CC18FLJ4)
---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-07-12 15:11] angievanhegan commented on #205
@russ-manta do we need something more than the 'got an idea for a blog?' button at the top of the landing page? I'd assumed that just opened an email. What do you think?

[2017-07-12 15:14] russ-manta commented on #205
@angievanhegan maybe that is enough it's fairly low key but if that is all that was envisaged that's fine.  @ican-icant is the Idea for a blog link/button all we need for this Blog CTA?

[2017-07-12 15:39] angievanhegan commented on #156
Hi @Maria-alnap Russ has confirmed that the blog author page will be the person's user page. As per the design, it should show them as an employee of their organisation (which might make it a bit harder for them to say they work for ALNAP). Is that ok?

Also, is there a link on the [resource page](https://invis.io/ANC0GIX8Q) to the author? It looks to me like there's only a link to the organisatio

[2017-07-12 15:48] angievanhegan commented on #57
@Maria-alnap Russ thinks that you'd have to copy the comments across manually, then assign them to the relevant user. I'm going to set-up a quick Skype call for you and Russ to discuss the following:

1) Whether to use Drupal or Disqus
2) Options for migrating comments

[2017-07-12 16:15] angievanhegan commented on #57
@russ-manta I am moving  this issue to done if the plan is to go ahead and build disqus with single sign on. We can work from issue #194

[2017-07-12 16:22] angievanhegan opened #206 "(#247) Migrating blog comments programatically"
Migrating blog comments was initially out of scope but after Russ provided a quote of  £560 plus VAT for doing it  programatically, Maria has agreed and it's come into scope.

---
### Dependencies
- [x] Build and theme comments #194
- [x] ALNAP need to have migrated in the content first
---
### Done criteria for scoping
- [x] @russ-manta  to provide an estimate for how long it would take to do a m

[2017-07-12 16:47] angievanhegan commented on #206
@Maria-alnap So that we don't forget this and you don't have to ask us again (!) I've created a separate issue for this. Hope that's ok.

[2017-07-13 13:02] angievanhegan commented on #156
FROM SLACK

RUSS: we're in the process of setting up fields for people to enter their social information eg. twitter / linkedin etc.  This will display on blog author profiles ie https://projects.invisionapp.com/d/main#/console/10292473/240257402/preview   Do you have any preference for which fields we should add?  For now we're thinking of these 4: Linkedin , Facebook, Twitter, Researchgate but p

[2017-07-13 13:35] angievanhegan commented on #195
@russ-manta Is this for @meldera to review?

[2017-07-13 14:08] ican-icant commented on #125
All good, but:
- Missing youtube icon and link
- it's connected to manta ray newsletter
- It should be 'Website by Manta Ray Media' - it's not a remora site

[2017-07-13 14:15] ican-icant commented on #124
- missing youtube icon and link
- cant see the outline around the google translate button

[2017-07-13 14:17] ican-icant commented on #205
yeah, that's all we need. Keeping top of the pages light @angievanhegan  @russ

[2017-07-13 14:20] ican-icant commented on #196
@angievanhegan  -- no search in menu yet

[2017-07-13 14:23] pipemanta commented on #196
@ican-icant the search is only on desktop, on mobile use a link to the search page

[2017-07-13 14:27] russ-manta commented on #195
@meldera can you check this is working ok please?

[2017-07-13 14:33] angievanhegan opened #207 "(#215) Footer newsletter sign up to connect to ALNAP newsletter"
### Dependencies
- [x] Login to ALNAP mailchimp account
OR
- [x] Mailchimp list embed Form code
- [ ] API key to connect drupal to ALNAP mailchimp account

### Done criteria
- [x] Embed ALNAP newsletter subscribe form in footer
- [x] Test subscriptions work ie email subscriptions via the form in the footer are added to mailchimp
---
### ALNAP to check
- [x] Embed ALNAP newsletter subscribe form in

[2017-07-13 14:36] angievanhegan commented on #125
I've added 1 and 3 to the done criteria and created a new issue for 2 (#207) so that it can be linked when the newsletter has been setup. @russ-manta please can you assign this to someone to complete the last few done criteria? Thanks

[2017-07-13 14:37] russ-manta commented on #192
@ican-icant can you review this one please? http://alnap-dev.mrmdev.co.uk/our-topics

[2017-07-13 14:38] angievanhegan commented on #124
@russ-manta I've updated the done criteria. Please can you reassign this? Thanks

[2017-07-13 14:45] angievanhegan commented on #196
@russ-manta Done criteria has been update with Steve's comments. Please can you assign to a dev when you're ready? Thanks

[2017-07-13 14:46] Maria-alnap commented on #57
Thanks @angievanhegan . Happy to speak to @russ-manta next week

[2017-07-13 14:46] angievanhegan commented on #205
Design not needed - there's already a button. I'll update #188 with these details.

[2017-07-13 14:47] Maria-alnap commented on #206
Thanks @angievanhegan . Happy to speak to @russ-manta next week

[2017-07-13 14:48] angievanhegan commented on #188
@ican-icant confirmed that there's no design needed just the 'got an idea for a blog' button at the top of the landing page. This will be a mailto link.

[2017-07-13 14:48] Maria-alnap commented on #156
@angievanhegan I think those would do

[2017-07-13 14:49] angievanhegan commented on #188
@russ-manta Should ALNAP be able to edit the button text and the link? If so, can we add this to the done criteria?

@Maria-alnap Please can you give us the email address for this button? Thanks

[2017-07-13 14:49] Maria-alnap commented on #105
@dilwarhussain would you please send me the login details again? Thanks!

[2017-07-13 14:51] Maria-alnap commented on #188
hi @angievanhegan , the email address to be used is comms@alnap.org

[2017-07-13 14:52] angievanhegan commented on #57
@Maria-alnap Great. We've set it up in Disqus ready to show you but we'll go over the pros and cons of using Disqus and Drupal for this in the meeting on Monday so that you can make a final decision.

[2017-07-13 14:53] angievanhegan commented on #206
@Maria-alnap Great. I've put this on the agenda for the meeting on Monday.

[2017-07-13 14:59] angievanhegan commented on #105
@Maria-alnap You're on it! I probably shouldn't have assigned this to you now. I'm getting this column ready for you to start work on after your training next week. That said, I've just realised that this is just build so there's nothing for you to review - we're going to send you the pages once the design has been applied, then you'll be able to test everything. I'm going to move this straight in

[2017-07-13 15:08] angievanhegan commented on #122
@russ-manta Can I move Steve's comments over to #123 (build share widget) then move this to done? I think ALNAP only need to look at the page once it's been themed (#172)

[2017-07-13 15:10] angievanhegan commented on #112
@russ-manta Please can you add criteria for Maria (under the heading 'ALNAP to check') so she knows how to review/test this? Thanks

[2017-07-13 15:11] angievanhegan commented on #173
@russ-manta Please can you write some criteria for ALNAP to check. I had a go but mine are clearly rubbish. Thanks

[2017-07-13 15:12] angievanhegan commented on #126
@russ-manta Please can you check the 'ALNAP to check' criteria? Thanks

[2017-07-13 15:12] angievanhegan commented on #172
@russ-manta Please can you add some 'ALNAP to check' criteria? Thanks

[2017-07-13 15:13] angievanhegan commented on #96
@russ-manta Please can you add some 'ALNAP to check' criteria? Thanks

[2017-07-13 15:21] angievanhegan commented on #167
@russ-manta Can I bring this one into sprint 5? It comes under the heading of the sprint goal

[2017-07-13 15:24] angievanhegan commented on #38
@russ-manta I just found this on the backlog. Is is just a dupe?

[2017-07-13 15:29] angievanhegan commented on #29
@russ-manta I just came across this in the backlog, it looks relevant to our sprint goal. Are there any actions here? Thanks

[2017-07-13 15:32] angievanhegan commented on #110
@russ-manta Another one dragged out of the backlog. I'm just putting it here in case we've missed something. What should we do with this? Thanks

[2017-07-13 15:34] angievanhegan commented on #71
@russ-manta I think this is a candidate for bringing into the sprint if we have space. Broadly under the goal, but could be a reasonable size?

[2017-07-13 15:35] russ-manta commented on #196
@ican-icant can you clarify please?  do we need search within the mobile menu or is the current link sufficient?

[2017-07-13 15:36] russ-manta commented on #125
@pipemanta can you complete all the checkbox done items above please?

[2017-07-13 15:38] russ-manta commented on #124
@pipemanta can you complete the missing items in the done section please?

[2017-07-13 15:43] russ-manta commented on #188
@angievanhegan we have now edited it the button with the requirements but ALNAP can edit in the future if they need to

[2017-07-13 15:45] russ-manta commented on #110
@ican-icant do you know anything about Networks and Lesson papers?

[2017-07-13 15:46] russ-manta commented on #54
@angievanhegan this has all been agreed and implemented already

[2017-07-13 15:46] #54 closed

[2017-07-13 16:00] angievanhegan opened #208 "Sprint goal: Membership and users"

[2017-07-13 16:00] angievanhegan opened #209 "Sprint goal: News + member updates"
- [x] Build news landing page #32
- [ ] Theme news landing page #193
---
- [x] Build news node #31
 - [ ] Theme News node #34
---
- [x] Wireframes/scoping  member updates views #153
- [ ] Build Member update CT #113
- [ ] Build member updates views #154
### Designs
- [News landing](https://invis.io/K3C0H5DZF)
- [News node](https://invis.io/U4CKSQQ2W)

[2017-07-13 16:01] angievanhegan opened #210 "Sprint goal: Events"
- [ ] Build & theme event content type #30
- [ ] Build & theme events search #75
- [ ] Build & theme PAST events view with search #163
- [ ] Build Annual meetings landing page #35

---
### Designs
- [Events wide](https://invis.io/VPC8MGQ6E)
- [Events wide search](https://invis.io/U6C8MHW2E)
- [Events node wide](https://invis.io/J4C0FZGGS)
- [Event coverage](https://invis.io/MTC3CTGWC)
- [Annual me

[2017-07-13 16:01] angievanhegan opened #211 "Sprint goal: Jobs"
- [ ] Build and theme theme job node #46
- [ ] Build and theme jobs landing page / search #49
- [ ] Build Job tagging #117
---
### Designs
- [Jobs landing](https://invis.io/F3C0I5GAX)
- [Job page](https://invis.io/UZCLJXSAF)

[2017-07-13 16:01] angievanhegan opened #212 "Sprint goal: Portals"

[2017-07-13 16:07] angievanhegan opened #213 "Sprint goal: Workflow and content management"
- [ ]  Bulk editing of tags #94
- [ ] Build resource management view #71
- [ ] Setup the taxonomy for tagging resources / events / news #15

[2017-07-13 16:07] angievanhegan opened #214 "Sprint goal: Search & search based recommendations"
- [ ] Research search based recommendation  #246
- [ ] Search based recommendations #92
- [ ] Build and theme - showing recommendations based on preferences on user account page #175
- [ ] Build and theme site search #127
- [x] Build related content views #70

[2017-07-13 16:09] angievanhegan opened #215 "Sprint goal: Notifications"

[2017-07-13 16:37] ican-icant commented on #192
@russ-manta review this page and added a few issues

[2017-07-13 16:39] ican-icant commented on #110
@russ-manta  This section will be full of standard text pages describing what they do, rather than have views of docs etc. A lesson paper is a resource, but in this section they will explain their role is to create them rather than list them all here.

[2017-07-14 10:19] russ-manta commented on #76
@angievanhegan @Maria-alnap thanks I've now seen this.  The workflow would be slightly different in our implementation whereby the person would make the payment upfront and then once payment had been submitted they would have the ability to create their job/event. Once they had created their content it would remain unpublished until you had a chance to review it and then either publish it or conta

[2017-07-14 10:46] russ-manta commented on #116
@angievanhegan it's done I'll move it over

[2017-07-14 10:48] russ-manta commented on #29
@angievanhegan moving to review

[2017-07-14 10:51] russ-manta commented on #71
@angievanhegan yes could be a good one won't take too long

[2017-07-14 10:53] russ-manta commented on #110
@angievanhegan I think we have this all covered with the other About card - I'll move this to Done

[2017-07-14 10:53] #110 closed

[2017-07-14 12:49] angievanhegan commented on #188
@russ-manta Do you need to review this, or can it just go into the ALNAP review column with the criteria I made up for them? Thanks

[2017-07-14 12:56] angievanhegan commented on #76
We're going to discuss this at the meeting with Maria on Monday 17 July to confirm if Maria wants it to come into scope.

[2017-07-14 12:57] angievanhegan commented on #116
@russ-manta Is there anything here for ALNAP to check? Or could it actually move into Done?

[2017-07-14 14:18] angievanhegan opened #216 "Sprint goal: Resources (part 2)"
- [ ] Capture email address for person downloading specific resources #174
- [ ] Member only resources #64
- [ ] Add note to explain what the portals are on the HELP page #167
- [ ] Redesign portals section on resources search #161
- [ ] Book marking resources #91
- [ ] Remove end date from resources #225
- [ ] Migrate resources #129
- [ ] Ensure organisation is always referred to as 'organisation

[2017-07-14 14:34] #136 closed

[2017-07-14 14:57] angievanhegan opened #217 "Sprint goal: Widgets, embeds and RSS"

[2017-07-14 15:03] #33 closed

[2017-07-14 18:49] angievanhegan opened #218 "Project management w/c 17 July"

[2017-07-17 10:07] Maria-alnap commented on #57
@angievanhegan Great! Looking forward to our call later :)

[2017-07-17 12:41] angievanhegan commented on #137
@russ-manta we have this in the backlog, but I'm assuming we're mostly testing as we go? Thanks

[2017-07-17 14:14] angievanhegan commented on #156
Hi @Maria-alnap Russ has confirmed that the blog author page will be the person's user page. As per the design, it should show them as an employee of their organisation (which might make it a bit harder for them to say they work for ALNAP). Is that ok?

Also, is there a link on the resource page to the author? It looks to me like there's only a link to the organisation page. Is that right? Thanks

[2017-07-17 14:20] angievanhegan commented on #196
@ican-icant Helloooooo! Please can you respond to this one so we can keep it moving? Thanks

[2017-07-17 15:59] angievanhegan commented on #162
This is a dupe of #30

[2017-07-17 15:59] #162 closed

[2017-07-17 16:04] angievanhegan commented on #194
From RUSS: @Maria-alnap @ican-icant  Maria, thanks for the emails from DISQUS, it looks as if the single sign on feature requires pro membership level which costs $99 per month. Would you be happy to consider this or is this too expensive?

[2017-07-17 16:40] Maria-alnap commented on #194
@russ-manta I'll ask our programme manager and should have an answer tomorrow

[2017-07-18 08:13] Maria-alnap commented on #194
@russ-manta I checked but couldn't see whether we can pay yearly for Disqus instead of every month? Some apps work out to be cheaper if you pay upfront for the whole year... do you know?

[2017-07-18 08:15] russ-manta commented on #194
@Maria-alnap @angievanhegan it's monthly only I think

[2017-07-18 08:18] Maria-alnap commented on #194
@russ-manta @angievanhegan great, thanks!

[2017-07-18 08:51] ican-icant commented on #196
@angievanhegan @russ-manta  I'm sorry but I can't sign this off because it's still broken. The search is only in the header / on the nav when you're signed in! When logged in the search sit above the menu.

[2017-07-18 09:12] russ-manta commented on #196
@ican-icant @angievanhegan it's not in the review column.  It's in the spring backlog awaiting pipe. I'll assign to pipe to avoid confusion

[2017-07-18 12:43] russ-manta commented on #171
@cutlern the search page has been rebuilt by Arseni. You need to add some dummy content in for the portals section which should already then be styled and then it's the top part of the page ie filters etc that needs styling

[2017-07-18 13:00] angievanhegan commented on #194
@Maria-alnap would you like me to look into your tax question?

[2017-07-18 13:10] angievanhegan commented on #198
@russ-manta Dave is going to provide comparative costs for internal vs external hosting.

[2017-07-18 13:12] Maria-alnap commented on #194
Hi @angievanhegan I know for Mailchimp already. Would be great if you could find out about Disqus. Thanks!

[2017-07-18 13:13] Maria-alnap commented on #156
Hi Angie, yes that's right. Only a link to organisation in each resource, not to the author

[2017-07-18 13:24] russ-manta opened #219 "Review user profile views/permissions"
### Done criteria
- [x] Blog author page only shows rhs details if the user is logged in
- [x] Only show status, manage my account links & add jobs etc on own profile
- [x] Member updates and bookmarked resources only on own profile
- [x] Theme add to my list/remove from my list bookmarking button on resources eg. http://alnap-dev.mrmdev.co.uk/test-innovation-resource
- [x] ISSUE: Remove Member up

[2017-07-18 13:44] angievanhegan commented on #156
@russ-manta @dilwarhussain Maria confirmed that using the blog author page being the person's public user page is fine.

[2017-07-18 15:00] angievanhegan commented on #125
@ican-icant  Please can you review this?

[2017-07-18 15:08] angievanhegan commented on #194
@Maria-alnap I've sent them an email - although it looks to me like they're based in San Francisco...

[2017-07-18 15:28] nadia847 opened #220 "(#202) Nugget fullsize image"
Centre not cropped image should be full width

http://alnap-dev.mrmdev.co.uk/new-year-new-you-what-the-whs-can-learn-from-failed-new-years-resolutions

[2017-07-18 15:37] russ-manta commented on #206
@Maria-alnap I've discovered that there are 138 blog comments. I estimate this would take you approximately 2 days to migrate manually.  For us to do the import to Drupal or Disqus I estimate would probably take approximately 1 day at £560 +VAT

[2017-07-18 19:08] angievanhegan commented on #196
@ican-icant Please can you answer @russ-manta's question?  Do we need search within the mobile menu or is the current link sufficient?

[2017-07-18 19:10] angievanhegan commented on #172
@russ-manta Can this be assigned to @Maria-alnap  now to check?

[2017-07-18 19:11] angievanhegan commented on #96
@russ-manta Can this be assigned to @Maria-alnap  now to check?

[2017-07-18 19:16] angievanhegan commented on #169
@russ-manta Who can work on these if Arseni is off?

[2017-07-18 19:17] angievanhegan commented on #170
@russ-manta Who can work on these if Arseni is off?

[2017-07-19 07:23] Maria-alnap commented on #194
@angievanhegan our programme manager told me they were based in Cali? I look forward to your info...

[2017-07-19 07:25] Maria-alnap commented on #206
@russ-manta @angievanhegan please go ahead with migrating this yourselves. I will add it to my "in scope" spreadsheet. This would need to updated in the invoice you sent, @dave-manta @ican-icant

[2017-07-19 08:44] russ-manta commented on #169
@pipemanta can you check the comment from Steve please 'the gap between the bottom box in the hero and the strap line is bigger on the site than the design. It needs to be the same as the gap below the strap, which looks spot on'

[2017-07-19 08:46] russ-manta commented on #170
@nadia847 is there anything left to do here or can I just move to review/done?

[2017-07-19 09:13] nadia847 commented on #169
@russ-manta @pipemanta I already fixed that as I got the feedback while I was still working on it

[2017-07-19 09:49] nadia847 commented on #169
@what's still outstanding is sorting out the match heights which isn't working properly

[2017-07-19 09:50] nadia847 commented on #170
@russ-manta I'm working on the matched heights now and then I'll chuck it into for review

[2017-07-19 11:06] dilwarhussain commented on #190
http://alnap-dev.mrmdev.co.uk/our-topics/evaluation

[2017-07-19 12:24] russ-manta opened #221 "(#137) Review / adjust content type aliases & breadcrumbs"
### Done criteria
- [x] Set up menu position rules
- [x] Train client on setting up menu position rules
- [x] Check content types have correct breadcrumbs
- [x] Check content types have correct aliases
- [ ] Explain to ALNAP what an alias is in this context
---
### ALNAP review criteria
- [x] Check content types have correct breadcrumbs
- [x] Check content types have correct aliases

[2017-07-19 12:30] angievanhegan commented on #206
@Maria-alnap I received this reply from Disqus. I hope it helps.

Thanks for reaching out. To clarify, Disqus is not applying any tax to subscription fees. Invoice receipts are emailed to publishers providing invoice #s and other Disqus company information for those who wish to use them for tax purposes, but no taxes are applied to the subscriptions.

[2017-07-19 12:34] Maria-alnap commented on #206
@angievanhegan thanks! Very helpful :)

[2017-07-19 12:35] angievanhegan commented on #206
@russ-manta Please can you add some done criteria and estimate this? I think it's going to hvae to go in the next sprint though.

[2017-07-19 12:41] angievanhegan commented on #194
@Maria-alnap I received this reply from Disqus. I hope it helps.

Thanks for reaching out. To clarify, Disqus is not applying any tax to subscription fees. Invoice receipts are emailed to publishers providing invoice #s and other Disqus company information for those who wish to use them for tax purposes, but no taxes are applied to the subscriptions.

PS Sorry, I added this to the wrong issue. I'm

[2017-07-19 12:45] angievanhegan commented on #169
@nadia847 Am I right to assign this one to you?

[2017-07-19 12:54] nadia847 commented on #169
@angievanhegan  well I hit a brick wall with it. Arseni was helping me but as he's off, not much more  I can do other than assigning it to Russ to look at in Seni's absence

[2017-07-19 12:54] angievanhegan commented on #221
@russ-manta Does this relate to any of our (future) sprint goals? Thanks

[2017-07-19 15:45] Maria-alnap commented on #195
@angievanhegan I'm not sure I can check this one yet, as I can only pull card of pages we've created via a box link and there's no formatting option for title of pages coming up (unless I missed it!)

[2017-07-19 15:49] Maria-alnap commented on #188
@angievanhegan the buttons are showing up but the positioning is not right. They're showing up above the main menu?

[2017-07-19 16:00] Maria-alnap commented on #112
@russ-manta @angievanhegan the resource page sample link assigned for me to check above is dead. I did check the link under "done criteria" and it looks good to me, if that helps!

[2017-07-19 16:03] Maria-alnap commented on #173
@angievanhegan not sure if the ones I'm ticking above are yours or @russ-manta criteria, haha. I have ticked the first 2, and will wait for confirmation to proceed with the rest!

[2017-07-19 16:06] russ-manta opened #222 "(#208) Build & theme organisations listing page"

[2017-07-19 16:06] Maria-alnap commented on #126
@angievanhegan Before closing this, I'll just wait for one of our tweets with an image to see whether that looks OK as well

[2017-07-19 16:32] angievanhegan opened #223 "(#212) Finalise scoping for portals pages"
- [x] have scoping meeting
- [x] complete done criteria for build and theme cards for portals

[2017-07-19 16:40] angievanhegan commented on #195
@matty-manta I think I should have come to the training! can you check this please? Thanks

[2017-07-19 16:45] angievanhegan commented on #188
@matty-manta would you be able to show @Maria-alnap how to edit the button text and the mailto address?

@russ-manta This needs to be assigned to a dev to look at the button position issue (I've added a new checklist item in the done criteria). Thanks

[2017-07-19 16:47] angievanhegan commented on #112
@Maria-alnap Sorry, by bad. You check the right thing though. I'll move this to done :smiley:

[2017-07-19 16:50] angievanhegan commented on #173
@Maria-alnap The first two should have been ticked already!  The final test (I've moved the last one to another task) is just to check that you can create a new page and add these things for yourself.

[2017-07-19 16:51] angievanhegan commented on #126
@Maria-alnap Good idea.

[2017-07-19 16:54] Maria-alnap commented on #173
@angievanhegan Ah yes! Tim and I have a couple of creations already: http://alnap-dev.mrmdev.co.uk/marias-test

[2017-07-19 17:10] angievanhegan commented on #173
@Maria-alnap YEAHHH!! It's making me grin!  :smile: I'll move this to done.

[2017-07-20 08:26] Maria-alnap commented on #195
@matty-manta @angievanhegan if you look at my test page you'll see that I could actually do this via a box link :)
http://alnap-dev.mrmdev.co.uk/marias-test

[2017-07-20 09:08] russ-manta commented on #188
@dilwarhussain can you look at this please?  The buttons appear above the nav when logged out: http://alnap-dev.mrmdev.co.uk/blogs but should be by the search as they appear when logged in

[2017-07-20 09:15] matty-manta commented on #188
@russ-manta The buttons are also in the wrong position when logged in as web editor.

@Maria-alnap if you edit the blogs landing page, there's a nugget within the Additional content tab called "Links". Within there you'll be able to control the destination for the three buttons:

- Idea for a blog?
- Download out guidelines
- Sign up for updates

You may notice that these links have the "Button ca

[2017-07-20 09:15] dilwarhussain commented on #188
Fixed @russ-manta

[2017-07-20 10:09] pipemanta commented on #124
@russ-manta @ican-icant ready done criteria, I leaved empty the checkbox for QA

[2017-07-20 12:29] russ-manta commented on #189
@dilwarhussain could you take another look at this? The social icons only seem to show on hover and the twitter link seems to have some html tags as part of the link

[2017-07-20 12:35] Maria-alnap commented on #188
@matty-manta just checked the button editing. All clear, thanks!

[2017-07-20 12:37] matty-manta commented on #188
@Maria-alnap  Pleasure :)

[2017-07-20 12:59] angievanhegan commented on #195
@Maria-alnap I have no idea what a box link is!! :D

[2017-07-20 15:34] angievanhegan opened #224 "(#234) Civi user/member organisation configuration, permission and roles"
### Done criteria
- [ ] Check users assigned to organisations have correct permissions to access/edit/create content
- [ ] Create roles / permissions / rules for above if required

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-07-20 15:41] angievanhegan commented on #222
Dupe of #79

[2017-07-20 15:41] #222 closed

[2017-07-20 15:52] #155 closed

[2017-07-20 16:03] #42 closed

[2017-07-20 16:07] ican-icant commented on #196
@angievanhegan @pipemanta I think the search should pop down on rollover so that it's consistent with the rest of the menu.

[2017-07-20 16:08] ican-icant commented on #124
@angievanhegan - all signed off by me :)

[2017-07-20 16:10] ican-icant commented on #125
All good @angievanhegan :)

[2017-07-20 16:16] ican-icant commented on #170
@nadia847 A few issues:

[2017-07-21 00:43] angievanhegan commented on #125
Ready for you to sign off @Maria-alnap .

[2017-07-21 00:43] angievanhegan commented on #196
@russ-manta Please can you assign to someone? Thanks

[2017-07-21 00:44] angievanhegan commented on #124
Ready for you to sign off @Maria-alnap

[2017-07-21 00:47] angievanhegan commented on #189
@russ-manta ready for you to check

[2017-07-21 09:27] nadia847 commented on #170
@ican-icant

Go button addressed
Padding fixed
Search works and now shows the search query in the keyword field

[2017-07-21 11:28] Maria-alnap commented on #124
@angievanhegan thanks! Only think that's not showing up for me in header is the register button (hence that's the only one I haven't checked. All the rest if OK!

[2017-07-21 11:34] Maria-alnap commented on #125
@angievanhegan thanks! Only one I haven't ticked is the Mailchimp one, as we haven't set that up yet. I did test test it and it works but the setup would need to be updated when we have that ready.

[2017-07-21 11:38] Maria-alnap commented on #172
@angievanhegan @russ-manta I haven't ticked the first box as there is a line currently showing up under the date which is messing up the layout of the resource info box.

[2017-07-21 11:38] angievanhegan commented on #125
@Maria-alnap I think this might be covered in #207 - but I've added mention of it to the notifcations sprint goal so we don't forget about it.

[2017-07-21 11:41] angievanhegan commented on #172
@russ-manta Please can you have a look and reassign? thanks

[2017-07-21 11:41] Maria-alnap commented on #126
@angievanhegan Images are not currently showing up in tweets that have them. See our latest tweet for reference: https://twitter.com/ALNAP/status/888004438383788033

[2017-07-21 11:43] angievanhegan commented on #124
@Maria-alnap what browser are you using?
@russ-manta this needs reassigning. Thanks

[2017-07-21 11:45] angievanhegan commented on #126
@russ-manta I'm glad you waited to catch this! It was displaying originally with the Manta Ray feed and that had images. I wonder what's happening here?

@russ-manta please can you reassign? Thanks

[2017-07-21 11:48] angievanhegan commented on #196
@Maria-alnap careful not to hit the close button, it moves it into the done column and I want to put them in the 'Done this sprint' column so I can count up all the points :smile:

[2017-07-21 11:48] Maria-alnap commented on #189
@angievanhegan @russ-manta Just went ahead of myself and looked at this :S I won't tick anything until you tell me to do so BUT, I have a comment: Social media icon links would need to be set up as blank/opening in new window. Thanks!

[2017-07-21 11:49] angievanhegan commented on #170
Ready for you to review @ican-icant

[2017-07-21 12:16] Maria-alnap commented on #124
@angievanhegan I'm using Chrome but I've also checked in IE but the register button is defo not there.

[2017-07-21 12:21] russ-manta commented on #124
@Maria-alnap are you logged into the site?  The register button only shows if you are logged out.

[2017-07-21 12:46] Maria-alnap commented on #124
@russ-manta Dah! Of course... I completely hadn't thought about that! It is fine. I'll tick it now :)

[2017-07-21 13:42] russ-manta commented on #37
@nadia847 is the related view on the RHS themed as it should be?

[2017-07-21 13:44] angievanhegan commented on #124
@maria-alnap please can you drag this into the Done this spring column? Thanks

[2017-07-21 14:02] russ-manta commented on #37
see http://alnap-dev.mrmdev.co.uk/blogs/new-year-new-you-what-the-whs-can-learn-from-failed-new-years-resolutions for an example blog

[2017-07-24 10:50] russ-manta commented on #194
@Maria-alnap do you have any more news on the subscription for DISQUS?

[2017-07-24 13:53] Maria-alnap commented on #96
@russ-manta @angievanhegan This is working OK. See my test below for evidence :)

http://alnap-dev.mrmdev.co.uk/test-to-check-cover-capture

[2017-07-24 13:53] angievanhegan commented on #146
@Maria-alnap I've added a done criteria to this one from the meeting on Friday. Please can you let me know if its' not right? Thanks

[2017-07-24 13:55] Maria-alnap commented on #192
This looks OK to me :)

[2017-07-24 13:58] Maria-alnap commented on #189
This looks OK to me. Only have one questions, @russ-manta @angievanhegan : will we be able to customise which social media buttons show up? I'm sure there will be a quite a few people with none of them!

[2017-07-24 14:00] Maria-alnap commented on #37
@russ-manta @angievanhegan I haven't ticked last one because I cannot see any related content at the moment. It may be that you didn't add it to this particular blog, but it would be good to see that tested :)

[2017-07-24 14:09] Maria-alnap commented on #194
@russ-manta this is now sorted, apologies, forgot to tell you. Please find login details below:
comms@alnap.org
qA1RtpYg07qV

[2017-07-24 14:10] angievanhegan commented on #122
@dilwarhussain Should these comments from Steve be added to #172? Thanks

[2017-07-24 14:25] dilwarhussain commented on #172
@Maria-alnap I've fixed the issue with the line under the date if you could take a look please.

[2017-07-24 14:28] dilwarhussain commented on #122
@angievanhegan I've made those changes to the resource node, the share icons still need to be added. I'll talk to @nadia847 about those now.

[2017-07-24 14:37] angievanhegan commented on #122
Thanks @dilwarhussain Are they part of this issue or @172 (the theming issue)?

[2017-07-24 14:40] Maria-alnap commented on #172
@dilwarhussain thanks! Just checked and it looks OK now :)

[2017-07-24 14:52] angievanhegan opened #225 "(#216) Remove end date from resources"
Also,  we don’t need to migrate the ‘start date’ or ‘completion date’ fields

[2017-07-24 14:54] angievanhegan opened #226 "(#216) Ensure organisation is always referred to as 'organisation' and not agency"
- [x] ISSUE: Change label of member field to Organisations even in edit content type mode. Do NOT Delete/Recreate the fields. Do NOT change any views.

[2017-07-24 14:56] angievanhegan opened #227 "Body field isn’t appearing on resource; card content is in different place"
This came up at training. Let me know if it doesn't make any sense .

### ALNAP to check
[Link to what Maria needs to look at](https://)
- [ ] Agree description is a legacy field

[2017-07-24 14:57] angievanhegan opened #228 "(#216) What is resource category on the individual resource?"
Question from training session: What is resource category on the individual resource?

- Might be a duplicated field (from the import, which we then migrate from import field to a new one) - needs investigation

[2017-07-24 17:28] angievanhegan opened #229 "Javascript training - think about/research what you'd like to do"
Tick your own box when you've done your thinking:

- [ ] Nadia
- [ ] Nelle
- [ ] Dilwar
- [ ] Pipe
- [ ] Russ
- [ ] Arseni?

( I made this an 5 because I think if everyone spends half an hour or so on this, it'd add up to about half a day. That's just an estimate though! )

[2017-07-25 08:10] dave-manta opened #231 "(#208) Design, build and theme 'My account' button"
### Done criteria
- [x] When a user logs in, we need a 'My account' button to the left logout.  It needs to be more prominent from the logout

Check the new design here https://projects.invisionapp.com/d/main#/console/10292473/240257350/preview

And the button on the header after login http://alnap-dev.mrmdev.co.uk/

---

[2017-07-25 08:11] dave-manta commented on #231
When a user logs in, we need a 'My account' button to the left logout.  It needs to be more prominent from the logout so you may need design input from Cat.

@angievanhegan tagging you on this one.

[2017-07-25 08:17] dave-manta commented on #153
@Maria-alnap just confirming the requirements for member updates which ALNAP adds to the site....

1. They are only viewable by logged in members (users)
2. You want to tag them for member(s)
3. They get displayed on the user account page (if you are a member) https://invis.io/72BDLFJYG#/240257350_My_Account_V0-1

[@angievanhegan @russ-manta - tagging you guys in]

[2017-07-25 09:27] ican-icant commented on #192
@meldera can you work you magic on the opening / easing of the expandy box. It's not mission critical, but would be nice.

[2017-07-25 09:33] ican-icant commented on #38
@russ-manta very minor, but the grid view icon isn't highlighted / active, which it should be.

[2017-07-25 09:34] cat-manta commented on #231
@dave-manta Have updated the design of 'My account', the log out box background is now #7596AE

[2017-07-25 09:38] ican-icant commented on #96
@nadia847 - there needs to be an automatic / default crop for the card as the image is a set size (and is landscape, not portrait). On the node the full image (not-cropped) can be displayed.

[2017-07-25 09:44] dave-manta commented on #231
over to @pipemanta ?

[2017-07-25 09:49] nadia847 commented on #96
@ican-icant They can crop it both landscape and portrait. Only landscape will show in the cards. I can make the crop required but thought it best it isn’t required until after all resource nodes have been imported in case the required crop breaks the importer. After that they will have to be manually cropped.

In terms of cropping, we have two options:

1. We can either set a fixed crop the always

[2017-07-25 11:58] pipemanta commented on #126
@angievanhegan @russ-manta Actually we don't have a solution for this issue, we have the same on other sites, when the tweet include a link doesn't show the image... It's a limitation of the module, we are keeping an eye on it.

[2017-07-25 13:01] Maria-alnap commented on #153
@dave-manta @angievanhegan @russ-manta Those 3 points are exactly what we need from Member updates.

Only thing to add is that we will also be using them to provide updates from the Secretariat (us) to the Membership so we need to be able to ID these accordingly (e.g. by tagging ourselves as well or have no tags for these).

[2017-07-25 13:19] angievanhegan commented on #96
@russ-manta should we make this part of the resources (extras) sprint goal (as per Nadia's suggestion of waiting until all the resource nodes have been imported)? Thanks

[2017-07-25 13:23] angievanhegan opened #232 "test new issue"

[2017-07-25 13:23] #232 closed

[2017-07-25 13:26] dave-manta commented on #153
@Maria-alnap Perfect!  @nadia847 all good?

[2017-07-25 13:37] dave-manta commented on #34
@pipemanta @angievanhegan what am I supposed to do with this assingment?

[2017-07-25 13:37] dave-manta commented on #231
@angievanhegan is stuff to be assigned to me for review?

[2017-07-25 13:39] angievanhegan commented on #126
@pipemanta to have a look at the new version of hte module

[2017-07-25 14:10] angievanhegan commented on #113
@nadia847 can these missing things be moved into the Done criteria at the top?

[2017-07-25 14:11] angievanhegan commented on #113
There's no explanation as to why @dave-manta and @ican-icant are assigned to this task so I'm removing them.

[2017-07-25 14:17] angievanhegan commented on #34
@russ-manta Can this one be assigned to @dave-manta to check?

@pipemanta I think that @russ-manta should allocate stuff to Dave to check rather than us. Russ, let us know if you disagree. Thanks

[2017-07-25 14:28] nadia847 commented on #153
@dave-manta yes. Thanks, @Maria-alnap!

[2017-07-25 14:30] nadia847 commented on #113
@angievanhegan I've moved them up. I think they were probably assigned for scoping

[2017-07-25 14:57] angievanhegan opened #233 "Our topics landing page - finesse transition on expanding box"
From Steve: Can you work you magic on the opening / easing of the expandy box. It's not mission critical, but would be nice.

[2017-07-25 14:58] angievanhegan commented on #192
@ican-icant just to keep things clear, I created a new issue for this tweak #223. This issue is DONE and won't be looked at! :o)

[2017-07-25 15:00] angievanhegan commented on #38
@russ-manta One for you to assign.

[2017-07-25 15:09] angievanhegan commented on #231
@pipemanta Please can you add a link in the box at the top to where Dave can review this? Also, can you estimate it please? Thanks

@dave-manta The process we're working towards would be to put this in the sprint backlog so we can prioritise and estimate it (to help us learn how much we can do in a sprint), then make sure it has clear done criteria (so the dev knows exactly what to do and the revi

[2017-07-25 15:15] angievanhegan commented on #153
@dave-manta Are you working on this issue (working your way through the done criteria?) If you are, I'll assign it to you and put it in the 'In Progress' column. Thanks

[2017-07-25 15:20] angievanhegan commented on #191
@cutlern Should this be 'in progress' if there's still a couple of done criteria to do?
@nadia847 Are you still working on this too?

[2017-07-25 15:21] pipemanta commented on #126
@russ-manta @angievanhegan Fixed with the new patch!

[2017-07-25 15:22] angievanhegan commented on #227
@dilwarhussain Should this be in the In progress column? Ta

[2017-07-25 15:26] angievanhegan commented on #198
@dave-manta Did you provide the comparative costs for Maria on Friday? I couldn't tell from the minutes. Thanks

[2017-07-25 15:27] angievanhegan commented on #126
@pipemanta Brilliant! You unblocked a thing!! I'll put it over to Maria to review.

[2017-07-25 15:27] angievanhegan commented on #126
@Maria-alnap this is ready for you to review. Thanks

[2017-07-25 15:41] angievanhegan commented on #170
@ican-icant Please can you check this? Just go through the Done criteria at the top and tick them off if they are done. THANK YOU!

[2017-07-25 16:15] #196 closed

[2017-07-25 16:15] #125 closed

[2017-07-25 16:15] #192 closed

[2017-07-25 16:15] #172 closed

[2017-07-25 16:16] #220 closed

[2017-07-25 16:16] #107 closed

[2017-07-25 16:16] #195 closed

[2017-07-25 16:16] #116 closed

[2017-07-25 16:16] #188 closed

[2017-07-25 16:16] #124 closed

[2017-07-25 16:16] #173 closed

[2017-07-25 16:16] #112 closed

[2017-07-25 16:16] #156 closed

[2017-07-25 16:16] #40 closed

[2017-07-25 16:16] #190 closed

[2017-07-25 16:16] #105 closed

[2017-07-25 16:16] #205 closed

[2017-07-25 16:16] #57 closed

[2017-07-25 16:16] #197 closed

[2017-07-25 16:16] #218 closed

[2017-07-25 16:24] dave-manta commented on #153
@angievanhegan no, not me. I was the only one around for Nadia to ask this morning ;-)

[2017-07-26 07:56] dave-manta commented on #231
@angievanhegan sounds good.

[2017-07-26 07:59] dave-manta commented on #198
@Maria-alnap I'm not sure we needed this in the end as ALNAP can give us full access to the server. If that's the case, the cost are no different.

[2017-07-26 08:44] Maria-alnap commented on #198
@dave-manta @angievanhegan great to hear that. It would be good to have clarity on a timeline for this (e.g. when you'll need to move stuff to the ODI server if we were to launch on 20 Sept as discussed in last catch up), so that I can chase the Head of IT at the ODI

[2017-07-26 08:49] Maria-alnap commented on #126
@angievanhegan this is now displaying! Yippeee!

[2017-07-26 08:54] dilwarhussain commented on #227
@angievanhegan @Maria-alnap The resource node is now showing the body field. I cannot see where the 'description' field is being printed on the live site and looking through a few of the imported resources they all say 'Available on request' does this field still need to be used for anything?

I've also moved the 'card content' field to an easier to find place.

[2017-07-26 10:35] russ-manta commented on #34
@pipemanta @ican-icant should the member organisation be displayed on the RHS like in the wireframe(https://projects.invisionapp.com/d/#/console/10292473/235809784/preview)?  it's not on this page: http://alnap-dev.mrmdev.co.uk/news/english-accumsan-amet-cogo-fere-qui @pipemanta can you check with Steve please?

[2017-07-26 10:38] russ-manta commented on #59
Additional done criteria are not finished - moving back to the sprint backlog

[2017-07-26 10:40] russ-manta commented on #96
@angievanhegan no I don't think so this is pretty discrete as a piece of work.  @ican-icant did you have an issue with the size of the pdf image on the node? If so can you explain here?

[2017-07-26 10:45] nadia847 commented on #191
@i was reviewing it, @cutlern was fixing it. It's now ready for Alnap review so I've moved it along.Reassigning to you and russ to figure out the Alnap done criteria.