[2017-07-26 11:45] nadia847 commented on #96
@russ-manta:  @ican-icant had a problem with the size of the image in the Resources views not the node - because the test one maria added was not cropped (though it is now). Even if we force having a crop because the image is taken from the PDF and isn't generated until after you save the page, not sure the requiredness will make much of a difference.

[2017-07-26 13:08] angievanhegan commented on #227
@matty-manta Could you check this is what Maria wanted before we assign it to her for review please? Thanks very much.

[2017-07-26 13:42] angievanhegan commented on #231
@dave-manta Please can you write some ALNAP review criteria at the top of this issue so she knows exactly what to check, then assign it to Maria? If you don't think she needs to check this then please feel free to move it straight to 'Done this sprint'. Thanks

[2017-07-26 14:22] angievanhegan commented on #191
@Maria-alnap This is ready for you to sign off. Please @matty-manta here if there's anything you'd like more training/support with.

If you find any issues, do you feel comfortable to add them as done criteria to the top of this issue?

[2017-07-26 14:25] angievanhegan commented on #132
Notes from Slack:
- Designs were updated on 25 July
-  get involved boxes up were moved up
- search library was moved up into that section as a 4th button

[2017-07-26 14:46] angievanhegan commented on #198
@dave-manta Please can you add an update here from the discussion with Maria on Friday? I wasn't quite clear what was agreed from Steve's notes. Thanks

[2017-07-26 14:51] angievanhegan commented on #147
@cat-manta Do you think the design needs to change as we're losing the 'Member news' button? There's a chance it will come back later. Thanks

[2017-07-26 14:55] angievanhegan commented on #96
@russ-manta What's the next step for this one?

[2017-07-26 15:00] ican-icant commented on #200
@angievanhegan noticed a wider gap between latest resources and events

[2017-07-26 15:02] ican-icant commented on #170
@angievanhegan ticked all the done criteria

[2017-07-26 15:03] angievanhegan commented on #170
@Maria-alnap Another one ready for you to check. Thanks

[2017-07-26 16:04] #63 closed

[2017-07-26 16:09] russ-manta commented on #79
@cutlern this is related to the organisation view page you are already building and you may have it covered already but these are some extra criteria

[2017-07-26 16:13] russ-manta commented on #153
@dave-manta for member updates do we just need a view of them on the my account age with load more?  Is there no search or anything required anywhere?

[2017-07-26 16:51] angievanhegan opened #234 "Sprint goal: Membership and users (part 2)"

[2017-07-26 16:52] Maria-alnap commented on #146
@angievanhegan  your criteria is right!

[2017-07-26 16:58] angievanhegan opened #235 "(#212) Portal events landing page(s)"
### Done criteria
- [ ] Apply portal theme to portal events landing pages:
  - [x] [Urban humanitarian response](https://invis.io/92CRDWLXS)
  - [x] [Principled humanitarian action in practice](https://invis.io/8TCV59T9W)
  - [x] [Syria evaluation portal...  (CALL)](https://invis.io/U8CV5BXWF)
  - [x] [Emergency capacity building project](https://invis.io/CBCV5BFFE)
  - [ ] [Haiti Learning and Acc

[2017-07-26 17:02] Maria-alnap commented on #191
hi @angievanhegan This looks OK but I haven't ticked last box as the "featured content" I added under "main content" is not showing up:

http://alnap-dev.mrmdev.co.uk/our-topics/test-topic

[2017-07-26 17:13] Maria-alnap commented on #170
@angievanhegan all of this looks and works OK!

[2017-07-26 17:16] angievanhegan opened #236 "Run link checker over the site"

[2017-07-26 17:18] angievanhegan commented on #191
@matty-manta Please can you have a quick look at this to see if Maria might have missed something? Thanks

[2017-07-27 08:17] Maria-alnap commented on #122
@angievanhegan just checked this here:
http://alnap-dev.mrmdev.co.uk/test-innovation-resource
... and some of the resource cards show title, organisation and author while others in that same page only  show title and organisation.

[2017-07-27 08:17] Maria-alnap commented on #122
@angievanhegan just checked this here:
http://alnap-dev.mrmdev.co.uk/test-innovation-resource
... and some of the resource cards show title, organisation and author while others in that same page only  show title and organisation.

[2017-07-27 08:30] russ-manta commented on #122
@Maria-alnap these are just resources where no author has been added. If one is added it shows.  Should we make the authors field a required field to make sure there is always a value for Author?

[2017-07-27 09:19] Maria-alnap commented on #122
@russ-manta I thought that would be the case! No worries, let's leave as is. Some resources will have an organisation as the author, not a particular person, so the current set up is fine.

[2017-07-27 10:24] pipemanta commented on #34
@russ-manta I have confirmed with Steve to display the organisations on the RHS

[2017-07-27 10:27] ican-icant commented on #96
@nadia847 not sure I understand what you mean?

[2017-07-27 10:30] ican-icant commented on #96
@russ-manta  Each resource card (in a view) has a set image size, which means when the image is captured from the pdf it needs to be cropped to fit the set size. On the node the full capture of the pdf can be displayed, it's just the card the crop is needed.

Does this make sense? This was always the requirement.

Steve

[2017-07-27 10:32] matty-manta commented on #191
@angievanhegan Maria hasn't missed anything - it's a permissions issue, featured boxes aren't displaying when logged in as editor. They are displaying when you're logged in as admin.

[2017-07-27 11:28] matty-manta commented on #227
@angievanhegan Yep - two issues we spotted in training was the lack of consistency for card content (which Dilwar has changed) and the fact that the body field wasn't appearing anywhere. I think the question that remains is whether the "description" field is a legacy field that's now redundant.

[2017-07-27 11:50] cat-manta commented on #147
@angievanhegan Steve and I don't think it should change if there's a chance it could come back

[2017-07-27 13:33] angievanhegan opened #237 "(#212) Confirm colors for all portals"
### Done criteria
Confirm colours for all of the portals:
- [x] Urban Response Portal
- [x] Syria Evaluation Portal... (CALL)
- [x] Principled Humanitarian Action in Practice
- [x] ECB Project
- [x] Haiti Learning and Accountability Portal
- [x] Tsunami Evaluation Coalition (TEC)

---
### Designs
- [Portal example - Principled...](https://invis.io/5SCAXSEBM)
- [Portal example - Urban](https://invi

[2017-07-27 13:35] angievanhegan opened #238 "(#212) Setup all portal pages and assign theme"
### Dependancy
- [x] Setup 'system for theming portals #132
- [x] Confirm colours for all portals

- --
### Done criteria - setup portals
- [x] Humanitarian Learning and Accountability Portal (HELP)
- [x] Urban Response Portal
- [x] Syria Evaluation Portal... (CALL)
- [x] Principled Humanitarian Action in Practice
- [x] ECB Project
- [ ] Haiti Learning and Accountability Portal
- [ ] Tsunami Evalu

[2017-07-27 13:54] angievanhegan commented on #237
Hello @cat-manta - please can I ask you to provide a colour for each of the portal sites? If you can tick the boxes a the top to confirm you've done each colour, then we can assign this issue to @Maria-alnap and move it over to the 'ALNAP to review' column for her to check (with a link to an invision slide showing the colours?

Also, if you can drag this card into the 'In progress' column when you

[2017-07-27 14:06] cat-manta commented on #237
@angievanhegan Are these the colours already used on the current portals or am I coming up with totally new colours?

[2017-07-27 14:10] angievanhegan commented on #237
@cat-manta good question! I think you're coming up with new ones. @Maria-alnap can you confirm please? I know we talked about picking a colour from their logo (if they have one). Thanks

[2017-07-27 14:16] angievanhegan commented on #191
@matty-manta Thank you for checking :+1: I'll add another done criteria. @russ-manta Can you reassign please? Thanks

[2017-07-27 14:17] angievanhegan commented on #227
@russ-manta one for you. Thanks

[2017-07-27 15:00] russ-manta commented on #191
@cutlern can you check this. As far as I can tell it's working ok when logged in as editor but can you verify please?

[2017-07-27 16:28] cat-manta commented on #237
@angievanhegan @Maria-alnap I have asked Steve about this and he said Maria has previously said to use the colours on the current portals, in which case you guys need to come up with colours for the [Haiti portal](http://www.alnap.org/current/Haitilearningportal) and [Tsunami coalition](http://www.alnap.org/tec) as they don't currently have any.

[2017-07-27 16:48] cat-manta commented on #237
As far as I know, these are the portal colours so far:

- Urban humanitarian response: #862046
- Principled humanitarian action in practice: #FF7602
- Syria evaluation portal for Coordinated Accountability and Lessons Learning (CALL): #007A3D
- Emergency capacity building project: #932922

I have uploaded the [website colour palette](https://invis.io/72BDLFJYG#/245883604_Colour_Palette_V01) to inv

[2017-07-28 07:07] dave-manta commented on #231
Moving to 'Done this sprint' @angievanhegan

[2017-07-28 07:21] dave-manta commented on #153
@russ-manta that's right and I believe @ican-icant has confirmed this verbally with @nadia847.

[2017-07-28 08:34] cutlern commented on #191
It works for me when I log in as editor :)

[2017-07-28 09:29] russ-manta commented on #198
@Maria-alnap I'm not sure what if anything was agreed last week but I think what would make sense is to copy the dev site over to your server on the week 4th-8th September to test the performance and make sure any dependencies (eg Apache SOLR etc) are installed during that week.  How does that sound?

[2017-07-28 09:35] russ-manta commented on #189
@Maria-alnap the buttons only show if you fill out the field with their social profile info so no info = no buttons show

[2017-07-28 09:50] Maria-alnap commented on #237
@cat-manta @angievanhegan those colours are accurate, thanks! Of course, when having new portals we'll need to add new ones accordingly but we can cross that bridge when we get to it :)

[2017-07-28 09:53] cat-manta commented on #237
@Maria-alnap are the Haiti and Tsunami portals not having their own websites?

[2017-07-28 10:04] Maria-alnap commented on #189
@russ-manta That's what I thought! haha. Thanks!

[2017-07-28 10:08] Maria-alnap commented on #237
@cat-manta @angievanhegan they are not active portals, and in practice, they're just pages with links, not like the newer portals that we've done, so the answer is that I'm not sure. I'll have an answer for you on Monday.

[2017-07-28 10:14] Maria-alnap commented on #15
@russ-manta @angievanhegan Not sure we reached agreement on the extent to which we could tweak Apache Solr that is within scope.  As mentioned, we would like to connect certain keywords in our taxonomy as synonyms to begin with. It would be good to know when you're planning to take this on, as I need to sort it out with our researchers... Thanks!

[2017-07-28 10:19] Maria-alnap commented on #198
@russ-manta @dave-manta @angievanhegan Apologies for the back and forth with this, but now ODI is suggesting it may make more sense for you to host as long as they can keep control of the domains. Is this something that would work for you?

[2017-07-28 10:20] cat-manta commented on #237
@Maria-alnap Great thanks Maria! If they have their own websites, I'd suggest 'Sea blue' as the highlight colours for both, or maybe 'Sea blue' and 'Medium vermilion' (have just updated the colour palette with this colour which is used as a hover colour on the main alnap site)

[2017-07-28 10:22] Maria-alnap commented on #237
@cat-manta looks good! Please go ahead with that :)

[2017-07-28 10:40] russ-manta commented on #227
@Maria-alnap the description field is a legacy fiedl and all content from that field is now being imported into the new body field as you can see here: http://alnap-dev.mrmdev.co.uk/strategic-humanitarian-co-ordination-in-the-great-lakes-region-1996-1997

[2017-07-28 10:43] russ-manta commented on #15
@Maria-alnap we'll be testing this next week. Solr has a synonyms file which we'll need to populate. Once we're happy it's working ok then we'll be ready for the list of synonyms so we should be able to give you the green light next week

[2017-07-28 10:44] russ-manta commented on #198
@Maria-alnap @dave-manta @angievanhegan this is fine by us, did we give you a cost for hosting?

[2017-07-28 10:49] Maria-alnap commented on #15
@russ-manta thanks for that! Our head of research will be on leave until mid August so there's no rush with this. Happy to have the green light for then instead...

[2017-07-28 10:53] Maria-alnap commented on #198
@russ-manta yes, @dave-manta did.  Tim, Alex and I think that going with you guys would be the more sensible option but I need to run this through finance before confirming 100% I'll do so on Monday :)

[2017-07-28 11:41] cutlern commented on #79
@russ-manta view Haven't checked the third box because the view is using fields instead of teaser display because of the selective filter

[2017-07-28 12:10] angievanhegan commented on #198
Hi @Maria-alnap I'm assigning this to you as the action is with you to confirm. Thansk

[2017-07-28 12:23] angievanhegan commented on #191
@Maria-alnap Do you mind taking another look please? Thanks

[2017-07-28 12:27] Maria-alnap commented on #191
@angievanhegan this is now showing up, great! I'll move to done :)

[2017-07-28 12:32] angievanhegan commented on #237
@cat-manta I think this is just with you to update the colour palette? Thank you :o)

[2017-07-28 12:35] angievanhegan commented on #15
@russ-manta I brought this into the sprint as an extra. Is that ok? Thanks

[2017-07-28 14:20] angievanhegan commented on #131
@Maria-alnap We discussed this before, but I'm not sure if we came to a satisfactory conclusion. Do we need redirects for all three of the content types listed above, or just resources? Thanks.

[2017-07-28 14:56] Maria-alnap commented on #131
@angievanhegan I think we'll need not only redirects for this but also for the topics and about pages. Happy to be explained further about this, as I may be misunderstanding, but I guess what we're after here is for users to be able to access the new About and topic pages via redirects when going to the URL of the old ones, right?

[2017-07-28 15:07] cat-manta commented on #237
@angievanhegan I have updated the palette!

@Maria-alnap I've also slightly changed the portal colours, although this is only on a styleguide that you probably haven't seen yet anyway. ([the portal styleguides are here](https://invis.io/72BDLFJYG#/245445460_Portal_-_Urban_Styleguide) if you want to have a look) Nadia noticed the month and the share boxes should be a different, neutral colour that

[2017-07-28 20:54] angievanhegan commented on #131
@Maria-alnap yes, that's exactly what this is. Can you confirm how many topics pages you have?

@dave-manta Please can you let us know if this is all within scope of the budget? Thanks

[2017-07-31 10:00] russ-manta commented on #171
@meldera need to keep filter box open after search and prevent chosen styles being removed

[2017-07-31 10:30] dave-manta commented on #131
@angievanhegan yes, it's within scope. I recollect agreeing that we wouldn't be doing redirects for resources, however we can for any other content we're automatically migrating. In addition, ALNAP can make manual redirects for things like research topics as there are only a few today.  OK?

[2017-07-31 10:48] dave-manta commented on #198
@angievanhegan costs are in our original proposal.

[2017-07-31 12:43] russ-manta commented on #193
@meldera could you take a look at the load more pager and keeping the search box open after searching for this one please? http://alnap-dev.mrmdev.co.uk/news

[2017-07-31 12:50] russ-manta commented on #79
@cutlern could you look at the following issues:
1. Change search blogs to Search Memebers
2. The list view toggle looks a bit weird when there is a member with an image - can you check with @ican-icant to see how this should be displayed
3. We need to keep the search box open on submit can you check this with Arseni or move to blocked on this issue

[2017-07-31 12:56] russ-manta commented on #154
@nadia847 shouldn't the member update show the name of the organisation on the card? http://alnap-dev.mrmdev.co.uk/user  - not just 'Member'?

[2017-07-31 13:26] angievanhegan commented on #23
@Maria-alnap Please can you confirm which portals have twitter accounts (and confirm which don't) and let us have the details? Thanks

- Urban Response Portal
- Syria Evaluation Portal... (
- Principled Humanitarian Action in Practice
- ECB Project
- Haiti Learning and Accountability Portal
- Tsunami Evaluation Coalition

[2017-07-31 13:29] angievanhegan commented on #131
@dave-manta On issue #9 we sort of confirmed that we'd be migrating resources. The only other thing we're migrating is blog comments, which obviously won't need redirects. Let's clarify this on Friday. It's for a future sprint so we don't need to do it now.

[2017-07-31 13:33] angievanhegan commented on #198
@dave-manta yes, Maria confirmed 3 days ago she has the costs. She's just checking with Finance that they'll approve it.

[2017-07-31 13:41] Maria-alnap commented on #237
@cat-manta @angievanhegan : going for the medium vermillion for the event date boxes sounds good. Not sure it would look as nice with the greys...

[2017-07-31 13:45] cutlern commented on #79
@russ-manta

1. Done!
2. Steve says to leave it as is
3. Sorry, my bad :D

[2017-07-31 13:47] angievanhegan commented on #79
@cutlern I made boxes at the top for you to tick! Then you can move it into 'Manta Ray review'. Ta

[2017-07-31 13:49] Maria-alnap commented on #23
@angievanhegan: the only one that may have one is the Principled Hum Action one (we're chasing them at the moment to ask). It may be that other of the new ones we build will do as well, so leaving space for twitter feeds on the template would be a smart idea

[2017-07-31 13:52] angievanhegan commented on #23
@dilwarhussain FYI

[2017-07-31 13:52] dave-manta commented on #131
@angievanhegan do you mean we confirmed that we'd be migrating resources **redirects**?  If that's the case, Ok.

[2017-07-31 13:52] angievanhegan commented on #23
@dilwarhussain please can you update the done criteria with this? Thanks

[2017-07-31 13:59] Maria-alnap commented on #37
@angievanhegan @russ-manta Whilst playing with uploading some blog posts, we have found a glitch with colons in headings (which is something we use quite a lot)! It seems that with some h tags these don't come up (h4,5 and 6 in the link below + screenshots attached)

http://alnap-dev.mrmdev.co.uk/blogs/humanitarian-financing-where%E2%80%99s-the-system-shift-2
![glitch02colon.PNG](https://waffleio-

[2017-07-31 14:03] russ-manta commented on #79
![members_search.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317a67d22f160aef8442eb/125516c66e82c728ace21e0d46e59197218791bab0faba42b65ef8d665043761260ea62864c7b96aea1b28505c5848a9430d5e40aaaa892ba4e56a26d80f0dbec3714d36976345f3e5db55ea43a82a994d83bcbd8f4cc1ed3d2ce08c8f4d3d161755.jpg)
@cutlern is this correct for how the list view should be if an image is present?

[2017-07-31 14:08] cutlern commented on #79
@russ-manta yeah, its the same layout that news/blogs/resources have too

[2017-07-31 14:09] russ-manta commented on #79
@meldera could you look at the keeping the search box open fix which I think you are looking at for other pages? http://alnap-dev.mrmdev.co.uk/membership/members

[2017-07-31 15:03] dilwarhussain commented on #23
Done @angievanhegan

[2017-07-31 15:04] nadia847 commented on #37
should now be fixed @Maria-alnap

[2017-07-31 15:41] russ-manta commented on #113
@ican-icant should member updates have the logo of the organisation it's related to diplsayed on the right: http://alnap-dev.mrmdev.co.uk/member-update-test-01  like on news ? http://alnap-dev.mrmdev.co.uk/news/english-accumsan-amet-cogo-fere-qui

[2017-07-31 15:42] Maria-alnap commented on #37
@nadia847 great!

[2017-07-31 15:45] ican-icant commented on #113
@russ-manta  yes I think that works

[2017-07-31 15:46] russ-manta commented on #44
@ican-icant for organisations, presumably we should be displaying address, website and description much like on the current site: http://www.alnap.org/members/134.aspx  vs http://alnap-dev.mrmdev.co.uk/actions-against-hunger  we only have a wireframe at the moment - do we need a design?

[2017-07-31 15:48] russ-manta commented on #113
@cutlern can you add the associated organisation to the RHS of member updates in the same way you did for news please? eg on this page: http://alnap-dev.mrmdev.co.uk/omnis-enim-est-natura-diligens-sui

[2017-07-31 16:18] cat-manta commented on #237
@Maria-alnap Great, I've updated the events designs to include medium vermilion.

Steve has just seen the suggested colours for the tsunami and haiti portals as he was away on Friday, and wasn't keen on using colours from the main ALNAP website, so we've come up with a couple other colours to replace them. I have updated the designs and colour palette with the new colours:
-[Tsunami portal](https:

[2017-07-31 16:23] angievanhegan commented on #227
@Maria-alnap This is ready for you to look at again. thanks

[2017-08-01 09:50] nadia847 commented on #154
@russ-manta yeah I had field_member instead of field_members in the template *facepalm*

I've now set it so that if you have the members field set it will show otherwise you'll see ALNAP/Contributor.

[2017-08-01 13:01] angievanhegan commented on #194
@russ-manta Who's working on this one? It's currently unassigned.

[2017-08-01 13:02] angievanhegan commented on #154
@Maria-alnap Ready for you to review again.

[2017-08-01 13:03] angievanhegan commented on #79
@russ-manta Ready for you to check.

[2017-08-01 13:09] angievanhegan commented on #171
@meldera Is this in the right column, or is it ready for @russ-manta  to review?

[2017-08-01 13:09] angievanhegan commented on #39
@russ-manta needs assigning

[2017-08-01 13:11] angievanhegan commented on #171
@russ-manta Needs assigning

[2017-08-01 13:14] Maria-alnap commented on #237
@cat-manta unfortunately going with those colours would be confusing as we use green for our evaluation stuff and similar shades of that blue for a couple of other workstreams. Can we revert to your previous suggestion? It may well be that we stick to greys for these. As I mentioned, these portals are not active at the moment so having them greyish/toned down would work. I'd prefer to keep these n

[2017-08-01 13:28] Maria-alnap commented on #227
@angievanhegan @russ-manta this looks good to me. I'll move it to done.

[2017-08-01 13:35] Maria-alnap commented on #154
@angievanhegan @russ-manta this looks OK to me but couldn't find in the backend how to tag organisations in the update. We haven't received training on this bit yet, to be fair, @matty-manta, so apologies if it is obvious!

[2017-08-01 13:38] angievanhegan commented on #193
@cutlern to add more details about the problem with the load more pager.

[2017-08-01 13:40] nadia847 opened #239 "(#200) Events load more"
(When there are more that 4 upcoming events)

The load more button fires just after page load rather than clicking on More.

[2017-08-01 13:56] matty-manta commented on #154
Hey @Maria-alnap If you take a look in the Details tab, you should be able to see a section called "Members" - I've highlighted the text here:

https://i.imgur.com/CUdQ2dV.png

Just type out the name of the organisation you wish to relate to this member update.

Hope that's all clear, just let me know otherwise :)

Thanks,
Matty

[2017-08-01 14:26] angievanhegan opened #240 "Submissions and payments"

[2017-08-01 14:31] russ-manta opened #241 "Build payments for jobs & events"

[2017-08-01 14:34] angievanhegan opened #242 "(#240) Editing of submitted jobs, resources and events"
### Dependencies
- [x] Content types for jobs,resources,events created
- [x] Memebers/submitters are able to create content of these types

---
### Done criteria
- [x] Enable revisions module
- [x] Member/submitter needs ability to edit previously submitted content
- [x] Any edits remain unpublished and need review by ALNAP
- [x] Notifications for ALNAP/submitter during the workflow process

3 day

[2017-08-01 14:34] angievanhegan opened #243 "(#240) Resource submission form and workflow"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-01 14:35] angievanhegan opened #244 "(#240) Job and events submission and workflow"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-01 14:59] #76 closed

[2017-08-01 15:02] ican-icant commented on #237
@Maria-alnap @cat-manta that's OK - I haven't seen the greys but I think there are enough colours out there for us to find two new ones that aren't core ALNAP colours. I'm already concerned the orange portal is too similar to ALNAP (can this be changed?).

[2017-08-01 15:37] Maria-alnap commented on #237
@cat-manta @ican-icant that's why I was thinking that going with greys for these 2 would be a good idea. They're more of a legacy thing and not active, tbh... Also not worth spending that much time on them

[2017-08-01 15:39] Maria-alnap commented on #198
@dave-manta @angievanhegan @russ-manta just to confirm that we're OK to go with you for hosting the site on your server. We would like to revisit this in a years' time, if that's OK with you.

[2017-08-01 15:41] Maria-alnap commented on #131
@angievanhegan you can find the number of topic pages in the IA in your whiteboard, I think it's like 12 or 15 of them?

[2017-08-01 18:00] angievanhegan commented on #198
@russ-manta Are there any next steps here, or do we wait until we're getting ready to go live?

[2017-08-02 12:39] russ-manta commented on #113
@nadia847 can you check the permissions on this please?  I can't see member update nodes logged in as a full member and I can't see the feed on my profile either. I can only see if I have the role of editor.

[2017-08-02 12:43] matty-manta commented on #154
Hey @Maria-alnap That's right - as we've done an import of the organisations into the CMS it associates the Update with the Organisation. And yes - you should have the option to associate an Organisation any time you add a new update. What happens going forward when someone registers a new Organisation is something we need a discussion amongst us at Manta Ray. Make sense for now?

[2017-08-02 12:57] angievanhegan commented on #169
@ican-icant Can you just check this is ok for Maria to sign off? There's no mention on the card. Thanks

[2017-08-02 12:59] angievanhegan commented on #29
@russ-manta Is there anything for Maria to check here, or can it move to done this sprint? Ta

[2017-08-02 13:01] angievanhegan commented on #34
@Maria-alnap this is ready for you to review now. Thanks

[2017-08-02 13:02] russ-manta commented on #15
@Maria-alnap we've copied the Evaluation reports from resource type to tags - can we remove from resource type now?  What happens to items that previously had a resource type of Evaluation report (or one of the subtypes?) will you manually tag all items that previously has a resource type of evaluation report?
Also can you give me an example of one of the Crisis subtypes in the resource back end?

[2017-08-02 13:07] russ-manta commented on #171
@cutlern   can you check that this looks ok on mobile, seems the card content may not be wide enough..

[2017-08-02 13:10] russ-manta commented on #39
@nadia847 there seems to be a random blog node or something displaying beneath the view - can this be removed? http://alnap-dev.mrmdev.co.uk/blogs

[2017-08-02 13:12] russ-manta commented on #198
@angievanhegan don't think so I think this can be moved to done

[2017-08-02 13:23] russ-manta commented on #96
@nadia847 can you resolve this one with Steve I'm not sure I know enough about this to help

[2017-08-02 13:24] angievanhegan commented on #113
@nadia847 please can you add a 'blocker' done criteria so we can see why it's in here. Ta!

[2017-08-02 13:39] russ-manta opened #245 "(#234) Creating member organisations in Civi"
### Done criteria
- [x] Create the process for creating member organisations in Civi
- [x] Arseni to add rule to sync new organisations in Civi with the drupal organisation content type, Dave to then try importing organisations
- [x] Checkbox on organisation content type or similar to denote display this node on Drupal site - using unpublished to hide non members
- [ ] Ability to take new or colle

[2017-08-02 14:01] nadia847 commented on #39
@russ-manta removed

[2017-08-02 14:04] russ-manta opened #246 "(#214) Search recommendations research"
- [ ] Research best way to provide search recommendations bases on a user's previous searches
- [ ] Document here and then update #92

[2017-08-02 14:10] #81 closed

[2017-08-02 14:13] #89 closed

[2017-08-02 14:27] nadia847 commented on #96
@russ-manta I've explained the sitch to steve and he's deferring to alnap for final decision.

[2017-08-02 14:31] angievanhegan opened #247 "Sprint goal: Go live tasks"
- [ ] Migrate blog comments programatically #206
- [ ] Final resource migration #129
- [ ] Final user migration #248
- [ ] Setup https #86
- [ ] Move to live #134
- [ ] Run link checker over the site #236
- [ ] Send out password reset email #257
- [ ] Set Google Analytics #133
- [ ] Redirects for resources #131

[2017-08-02 14:37] russ-manta opened #248 "(#247) Migrate users (final)"
### DONE criteria
- [ ] Final import of users and drupal account creation
- [ ] Work out how to deal with any stragglers
---
### ALNAP to check
- [ ] All users present and correct

[2017-08-02 14:43] angievanhegan commented on #123
this has been done (as part of the blog page build)

[2017-08-02 15:56] angievanhegan commented on #39
@russ-manta Can this be moved to ALNAP review?

[2017-08-02 16:14] angievanhegan commented on #37
@Maria-alnap the related content feature hasn't been built yet. That's be built in a later sprint - I should have specified this just meant the author and the add comment button on the right hand side. Are you ok to sign this off now?

[2017-08-02 16:16] angievanhegan commented on #193
@russ-manta It looks like this is ready for review.

[2017-08-02 16:22] angievanhegan commented on #95
@russ-manta What is the next step for this?

[2017-08-02 17:04] cat-manta commented on #237
We could use Weldon blue (#7596AE) for the inactive portals if @ican-icant and @Maria-alnap are both okay with that?

[2017-08-03 07:53] Maria-alnap commented on #154
@matty-manta thanks! All clear. I'll move this to done then :)

[2017-08-03 07:58] Maria-alnap commented on #15
@russ-manta Thanks! It might be worth keeping the resource type for those particular evals in the database, as we have no other way of ID what they are otherwise. How would you suggest that we re tag these? Could we do it once the site and bulk tagging are ready or should we tweak this in the database before import?

[2017-08-03 08:49] Maria-alnap commented on #237
@cat-manta @ican-icant I'm happy to go with that blue for inactive portals

[2017-08-03 08:52] Maria-alnap commented on #37
@angievanhegan ok, I understand. Yes! Consider the blog post page signed off (and I look forward to seeing the related content bit when it's ready!)

[2017-08-03 08:56] Maria-alnap commented on #37
(Apologies @angievanhegan for not assigning these properly but I'm just dealing with them from GitHub on my phone as I won't have access to a laptop till the afternoon today!)

[2017-08-03 09:08] matty-manta commented on #154
Thanks @Maria-alnap :)

[2017-08-03 13:47] ican-icant commented on #96
No, there isn't really a decision @angievanhegan - there's only one way this works properly and we need to explain it to ALNAP.

[2017-08-03 14:06] angievanhegan commented on #103
included in #49

[2017-08-03 14:06] #103 closed

[2017-08-03 14:22] angievanhegan opened #249 "Resource series display bug"
The card images are big and should be the same size as they appear on the home page

http://alnap-dev.mrmdev.co.uk/test-innovation-resource

@nelle Put 2 in a boxy row (row-max 2)

[2017-08-03 14:26] ican-icant commented on #44
@russ-manta no design necessary - just use the wireframe? There will be no news as far as I'm aware tho.

[2017-08-03 14:28] ican-icant commented on #169
@meldera - please make the transition when loading more items sexy - it doesn't look good currently. Use some of that JS you love so much.

[2017-08-03 14:37] #117 closed

[2017-08-03 14:43] nadia847 commented on #144
Dupe

[2017-08-03 14:55] cutlern commented on #147
@russ-manta content upload buttons need positioning and and the moment they've just been styled and link back to the homepage until its been decided how the users can upload content that gets alnap's approval

[2017-08-03 14:56] cutlern commented on #171
@russ-manta mobile styling needs checking, cat's asked me to ask nadia's approval on the video icon colour but that part's done

[2017-08-03 15:27] dave-manta commented on #41
Changes made to Civi for import (in case of roll back):
1. Updated suffixes

[2017-08-03 15:58] nadia847 commented on #6
Dupe

[2017-08-03 16:04] angievanhegan commented on #65
This can all be done in a normal event page. Therefore this is a DUPE of #30

[2017-08-03 16:05] angievanhegan commented on #6
This can all be done in a normal event page. Therefore this is a DUPE of #30

[2017-08-03 16:05] #6 closed

[2017-08-03 16:07] dave-manta commented on #41
We @russ-manta need to check we have all the user data.
Also, let ALNAP know about any data that has issues, can't import and what we are importing.

[2017-08-03 16:09] angievanhegan commented on #65
Done

[2017-08-03 16:09] #65 closed

[2017-08-03 16:32] angievanhegan opened #250 "Sprint goal: People and Teams"
- [ ] Build and theme teams view node
- [ ] Build and theme person node

[2017-08-03 16:52] angievanhegan commented on #96
@matty-manta Can you help @Maria-alnap with this please? Thanks

[2017-08-03 16:55] angievanhegan commented on #169
@russ-manta I'm moving this back to the sprint backlog

[2017-08-03 16:58] angievanhegan commented on #41
@dave-manta Are you done with this task? Should we put it in the review column for @russ-manta?

[2017-08-03 17:08] angievanhegan commented on #69
@Maria-alnap Can you confirm that this list of feeds is correct? Thanks

[2017-08-03 17:14] angievanhegan commented on #207
@Maria-alnap Are you happy to share your mailchimp account details with  us, it'd make this a lot quicker for us to do.

[2017-08-03 17:21] angievanhegan commented on #19
Dupe of #244

[2017-08-03 17:21] #19 closed

[2017-08-03 17:22] angievanhegan commented on #47
@russ-manta Is this a dupe of 244?

[2017-08-03 18:56] dave-manta commented on #41
Not yet @angievanhegan, a wee bit more to do tonight and tomorrow with Russ, then I need to confirm a few things with ALNAP.

[2017-08-04 07:43] Maria-alnap commented on #69
@angievanhegan I have only ticked a couple of the above, which are the ones that we would like to keep.

[2017-08-04 07:50] Maria-alnap commented on #207
@angievanhegan Of course! Please find them below:
comms@alnap.org
PW: N7D3P8oFLL5?g

[2017-08-04 08:36] nadia847 commented on #69
@angievanhegan @Maria-alnap we'll still need the Events and Jobs ones for the automated mailouts so I'm keeping those in the list :o)

[2017-08-04 08:57] Maria-alnap commented on #69
@nadia847, thanks for confirming that. I wasn't sure whether you'd be using feeds for those in the end :)

[2017-08-04 11:29] russ-manta commented on #193
@ican-icant could you review this one please?

[2017-08-04 11:34] russ-manta commented on #79
@meldera could you take a look at this?  I'm not sure we need the sort by Title if there's only one option and also when choosing to filter by constituency the selected option looks a bit odd (see attached image)
![alnap_filter_select.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59317a67d22f160aef8442eb/125516c66e82c728ace21e0d46e998942292bcaf86e5ab46b662e391254324676b4

[2017-08-04 11:35] russ-manta commented on #171
@ican-icant can you take a look at this please

[2017-08-04 11:36] russ-manta commented on #113
@meldera can you look at the permissions issue on this one please?

[2017-08-04 12:14] ican-icant commented on #171
@russ-manta @cutlern Advanced search filters are too wide on advanced search - I have a screen shot for the person that needs to see it. Can't upload the pic here.

Resource cards are also not centred on the iphone 6 screen.

[2017-08-04 12:51] russ-manta commented on #171
@dilwarhussain can you resolve these issues please?

[2017-08-04 12:56] russ-manta commented on #194
@dilwar for this you will need to setup SSO for DISQUS. The ALNAP DISQUS account details are further up in the thread. There are some instructions on the net about setting up in the DISQUS backend and with Drupal eg. https://help.disqus.com/customer/portal/articles/684744 & https://www.youtube.com/watch?v=SI5oAbzG1Mk  I think this video might be out of date though. If in doubt contact DISQUS suppo

[2017-08-04 13:00] russ-manta commented on #147
@nadia847 can you take this over from Nelle or reassign if you need while I'm away. Buttons need positioning as per Nell's comment and then we need to create some Civi enabled webforms for editing the various sections of the profile which Dave can help you with.

[2017-08-04 13:04] russ-manta commented on #41
@dave-manta @meldera while I'm away it may be worth you trying to get Arseni to have a go at automatically creating user accounts in Drupal and/or organisations with the use of a Civi tag as mentioned in the link I posted: https://civicrm.org/blog/petednz/creating-drupal-users-made-easy-for-single-or-multiple-contacts-via-civi-imports-and

[2017-08-04 13:13] dave-manta opened #251 "CiviCRM admin user role"
Separate Drupal user role for ALNAP to have access to Civi. In time, we could have different levels of permission within Civi, so I think it makes sense to start with a separate role now.

[2017-08-04 13:13] dave-manta commented on #41
Sure thing @russ-manta

[2017-08-04 13:29] russ-manta commented on #126
@meldera could you take a quick look at this one with @pipemanta next week. There was an issue with displaying images in tweets which have a link in them which has been partially resolved by applying a patch to the latest module but I think there may still be an issue with only some images being displayed and not all

[2017-08-04 13:32] angievanhegan commented on #131
FYI @russ-manta @nadia847 - @Maria-alnap and I just spoke. We agreed that there will be a programatic redirection of the resources content and then we'll provide the ability for them to redirect any other pages they like (from within Drupal).

[2017-08-04 13:33] russ-manta commented on #44
@dilwarhussain can you complete the build/theme of the organisation node based on the wireframe: https://projects.invisionapp.com/d/main#/console/10292473/222960812/preview and http://alnap-dev.mrmdev.co.uk/alnap-0

[2017-08-04 13:35] Maria-alnap commented on #96
Just thought I'd upload this for you to see, as the capture looks odd (the bg of that page is white, not black)

![glitch04cardimage.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593fc96377a396001a3a210d/125516c66e82c728ace21e0d46ef989337818bf9dbeabe51a054fd952e43653f6b14b1247a80e03cfd183954565c4faf465e5a46a9f88d7df5b63c72d90a5dbf826b0c66da2f53fde6d640e258f075c95d8fa4be8

[2017-08-04 13:51] angievanhegan opened #252 "(#137) Contact us page"
### Done criteria
- [x] DISCUSSION - Add node details type box - How do we do this on a page node?
- [x] Add share icons to the page
- [x] Check iframe embeds for maps
- [x] Download PDF button styles
- [x] Apply details box styles and simplify HTML

### Wireframe
[Contact us](https://invis.io/3KCWGE8SR)

### ALNAP to check
http://alnap-dev.mrmdev.co.uk/about/contact-us
- [x] Share icons appear on

[2017-08-04 13:56] angievanhegan opened #253 "Sub topics - problems with nuggets?"
@russ @matty Just wondering whether there's still some work needed on the subtopics within topic pages? We are trying to set one up now and the sub topic nugget is working funny. The sub topic that we created is also popping up in other existing topic pages..

[example]
(http://alnap-dev.mrmdev.co.uk/our-topics/monitoring-of-humanitarian-action)

[2017-08-04 14:02] russ-manta commented on #253
@Maria-alnap what other pages is the sub topic showing up on?

[2017-08-04 14:03] angievanhegan opened #254 "(#137) Browser/device TESTING"
### Done criteria
- [x] Establish approach/criteria for testing
- [x] Record list of browsers/devices in this issue (below)
- [x] Test (and log issues as bugs in Waffle)

### BROWSERS/DEVICES
- [ ] The site works in the following browsers:
  - [ ] Latest Firefox
  - [ ] Latest Chrome
  - [ ] Latest Safari
  - [ ] NEEDS DISCUSSION: Relevant versions of IE
  - [ ] iOS Safari
  - [ ] iOS Chrome
  - [

[2017-08-04 14:03] nadia847 opened #255 "(#137) Manual redirects setup"
### Done criteria
- [x] Ensure redirects have been enabled
- [x] Ensure editors have access to add redirects
----

### ALNAP review criteria
- [x] Ensure redirects can be created

[2017-08-04 14:06] Maria-alnap commented on #253
@russ-manta http://alnap-dev.mrmdev.co.uk/our-topics/evaluation#sub-589

[2017-08-04 14:09] russ-manta commented on #253
@nadia847 can I assign this one to you in my absence please, feel free to reassign if you need.

[2017-08-04 14:39] angievanhegan commented on #131
@russ-manta Please can you write the done criteria and size this. Thanks very much :o)

[2017-08-04 14:49] nadia847 commented on #96
Hi @Maria-alnap

Just made a tweak to the settings so that any transparency on pdf covers is removed (and made white). I re-uploaded the PDF and it now appears to be working.

Over to you... :o)

[2017-08-04 15:32] matty-manta opened #256 "Box links hover"
Jerky behaviour of box links on hover

[2017-08-04 15:33] Maria-alnap commented on #96
@nadia847 thanks!
@russ-manta There's one more thing in resources which is not showing up. We have tested adding a different image for the card of the above resource but it continues to load the cover. Can you check this? it may be that we want to use this quite often, as having boring report covers in the cards may look a bit dull

[2017-08-04 15:56] angievanhegan commented on #251
@russ-manta When should we do this?
@dave-manta Can you estimate the size of it please?

[2017-08-04 15:59] angievanhegan commented on #41
@dave-manta you've moved this into the backglog (and out of the sprint backlog) - is it no longer part of this sprint? And/or no longer in progress?

[2017-08-04 16:02] angievanhegan commented on #253
@nadia847 when you have an idea what's going on with this one, please can you add an estimate? Thanks

[2017-08-04 16:03] angievanhegan commented on #256
@matty-manta do you have a second to add a link with an example? Cheers :o)

[2017-08-04 16:05] angievanhegan commented on #96
@russ-manta Should this definitely be in done? From Maria's comment it sounds like there's more to do?

[2017-08-04 16:31] nadia847 commented on #96
@Maria-alnap that's because we were prioritising the cover. We've now switched it around so any card images will override the generated cover

[2017-08-04 16:33] nadia847 commented on #253
@angievanhegan @russ-manta sure no problems. I'll take care of it and add an estimate soon as.

[2017-08-07 07:01] Maria-alnap commented on #96
@nadia847 aaah! That makes sense. Thanks for tweaking it :)

[2017-08-07 11:29] cat-manta commented on #166
@angievanhegan @russ-manta Can you have a look at the design please?
https://projects.invisionapp.com/d/main#/console/10292473/247392339/preview

[2017-08-07 12:59] angievanhegan commented on #166
@ican-icant Is this ok for you? Thanks

[2017-08-07 17:24] nadia847 commented on #253
@Maria-alnap this should now be fixed.

[2017-08-08 08:01] Maria-alnap commented on #253
@nadia847 thanks! This is working OK now :)

[2017-08-08 09:55] dave-manta commented on #251
@angievanhegan Oops, all done!

[2017-08-08 13:16] meldera commented on #246
No helpful contrib modules found. Will be a custom piece of work.
100 for #92 might be bout right, depending on final requirements.

[2017-08-08 13:20] dilwarhussain commented on #44
@nadia847 http://alnap-dev.mrmdev.co.uk/test-organisationmember

[2017-08-08 13:20] dilwarhussain commented on #194
@nadia847 http://alnap-dev.mrmdev.co.uk/blogs/blog-4

[2017-08-08 13:32] angievanhegan commented on #246
@russ-manta Research done, needs discussion.

[2017-08-08 13:51] angievanhegan commented on #183
@nadia847 Can I take this out of the sprint if it's blocked? There's still plenty of other stuff to do!

[2017-08-08 13:54] nadia847 commented on #183
@angievanhegan yeah sure fine :o)

[2017-08-08 14:00] angievanhegan commented on #238
@nadia847 Did you know about this issue, or has this already been done...?

[2017-08-08 14:06] nadia847 commented on #238
@angievanhegan well this is the rest of the portals which we shouldn't do until we have ironed out the first one.

[2017-08-08 14:26] nadia847 commented on #194
@dilwarhussain looks a bit stuck on. can we do a teeny bit of theming here to make it visually integrated with the site?

[2017-08-08 15:02] dave-manta commented on #118
@angievanhegan actually #67 should be done first. It make sense to create the registration form, before creating the edit form.  I'm looking at #67 now, even thought it's not part of this sprint?!

[2017-08-08 15:12] angievanhegan commented on #118
@dave-manta Could we do a version of the form now to unblock #147? @nadia847 FYI

[2017-08-08 15:20] dave-manta commented on #118
@angievanhegan could do, but instead I'm cracking on with the registration form which also needs theming just the same way, so once she has themed that, this is also done. That right/OK @nadia847 ?

[2017-08-08 15:22] nadia847 commented on #118
@dave-manta yeah sure fine whatever

[2017-08-08 15:43] dave-manta commented on #118
@nadia847 I have created a registration form which can now be themed. http://alnap-dev.mrmdev.co.uk/user-registration

[2017-08-08 15:43] dave-manta commented on #67
Initial form is here: http://alnap-dev.mrmdev.co.uk/user-registration

[2017-08-08 17:51] nadia847 commented on #29
@dave-manta @ican-icant atm, the authors field is a text field. And it looks like the show authors or author 1, author 2, et al (if more than two authors) still hasn't been built. The authors field is a text field which means this can't be automated.

Does this need to then be rebuilt?

[2017-08-08 17:53] nadia847 commented on #23
@dilwarhussain so i noticed that if a resource is in a portal and you click on it in the alnap help lib, you end up on the portal. Is that expected behaviour @dave-manta @ican-icant ?

[2017-08-09 08:32] meldera commented on #29
https://mantaraymedia.slack.com/archives/C3FTH5AHW/p1497872512221167

[2017-08-09 09:11] nadia847 commented on #29
But should they be stored as varchar? @meldera. We still need to get Stave and ALNAP to sign of on this if it;s different from what is expected.

On 9 Aug 2017, at 09:32, meldera <notifications@github.com<mailto:notifications@github.com>> wrote:

https://mantaraymedia.slack.com/archives/C3FTH5AHW/p1497872512221167

—
You are receiving this because you were assigned.
Reply to this email directly, v

[2017-08-09 10:00] Maria-alnap commented on #95
@russ-manta @angievanhegan I'm only ticking the 2nd one here as the first one is not very clear to me. The few test resources added that I checked don't look like they have all the populated fields that a real resource would have.

[2017-08-09 10:02] Maria-alnap commented on #34
@angievanhegan Thanks! I haven't ticked the second one as at the moment there's an isolated image popping up on the right side of the screen and I'm not sure what's its purpose...

[2017-08-09 10:41] Maria-alnap commented on #39
@russ-manta @nadia847 @angievanhegan I've checked most of the above criteria. The only one I haven't been able to check is the filters, as we haven't added any tags or authors to blogs yet.

[2017-08-09 10:45] Maria-alnap commented on #39
@angievanhegan  @nadia847 one thing that needs to be edited here is the content in the first blue button "idea for a blog?". The i there needs to be capitalised

[2017-08-09 10:46] Maria-alnap commented on #44
@angievanhegan Not sure this is ready for sign off yet? I can only see the logo of the organisation on the page... nothing else

[2017-08-09 11:28] ican-icant commented on #193
@russ-manta  @nadia847 @angievanhegan Issues:

[2017-08-09 11:35] ican-icant commented on #113
@angievanhegan @meldera the more button is still not right.

[2017-08-09 12:59] angievanhegan commented on #95
@Maria-alnap  We've actually created a new 'go live' tasks to migrate all the resources, so that's a better time to check they're all there! I'll move this to done. Thanks

[2017-08-09 13:03] angievanhegan commented on #34
quick question for you @nadia847 - can you explain the [flower image on the  RHS](http://alnap-dev.mrmdev.co.uk/news/english-accumsan-amet-cogo-fere-qui)?  Thanks

[2017-08-09 13:05] angievanhegan commented on #39
@nadia847 please can you do this last small issue? Thanks

[2017-08-09 13:06] angievanhegan commented on #39
@Maria-alnap  we can come back to the filter later on when the content is done.

[2017-08-09 13:08] nadia847 commented on #39
@Maria-alnap you can edit the links by editing the page. They are in a content block nugget in the Additional content section. Let me/matty know if you have any trouble doing this.

[2017-08-09 13:17] Maria-alnap commented on #39
@nadia847 @matty-manta  apologies but when I open the content block nugget in either of the existing blog pages (not sure which one is the final?), all the cells show up empty (hence nothing to edit). Am I doing something wrong?

[2017-08-09 13:18] Maria-alnap commented on #39
@matty-manta @nadia847 it would be good to also know how to tag blogs?

[2017-08-09 13:19] angievanhegan commented on #194
@Maria-alnap this is ready for review.

[2017-08-09 13:23] meldera commented on #29
that is the format of their imported data. nothing we can do about this, not even explode() as the strings are not consistent.

[2017-08-09 13:35] angievanhegan commented on #59
@Maria-alnap  Can you  tell us how you'd mark a resource as 'ALNAP' in your current system? Thanks

[2017-08-09 13:37] angievanhegan commented on #126
@russ-manta can you talk with @meldera about this one? Thanks

[2017-08-09 13:42] angievanhegan commented on #29
@nadia847 to talk to @ican-icant  and @dave-manta about the request to see if that helps with a solution!

[2017-08-09 13:49] angievanhegan commented on #44
@Maria-alnap Sorry, try now with the new link - this page has some actual information on!

[2017-08-09 14:23] ican-icant commented on #171
@dilwarhussain also just noticed the country filter box isn't quite the right shape - one of the end is square rather than curved.

[2017-08-09 14:23] angievanhegan commented on #241
@russ-manta  please can you have a chat with @dave-manta about this to make sure he's up to speed with what's been agreed with the client? Thanks

[2017-08-09 14:58] angievanhegan opened #257 "(#247) Enable migrated users to login to new site"
### Done criteria

- [ ] Research solutions:
  - [ ] __Option A__: Send email to everyone asking to click to enter email and reset password - do we send from Civi or mailchimp (seems to be an issue sending from mailchimp and risking being blocked for users that have been unsubscribed)
  - [ ] __Option B__: Send everyone a unique link to reset their password
   - [ ] Option C?
- [ ] Explained  solu

[2017-08-09 15:28] nadia847 commented on #29
@angievanhegan @meldera if their data does not support the 2 authors, et al then the following solution is proposed:

we have a custom card authors field which displays if has content

If empty, we display the regular authors truncated after a few characters.

Sound good?

[2017-08-09 15:58] nadia847 commented on #34
@angievanhegan it's the "logo" for "Test organisation/member"

[2017-08-09 16:42] nadia847 commented on #113
@ican-icant you have an account. use your email address and the usual password.

[2017-08-09 16:45] angievanhegan commented on #34
@Maria-alnap it's the logo! Are you happy to sign this off now? Thanks

[2017-08-09 17:04] dave-manta commented on #23
@nadia847 @dilwarhussain I believe that it would make sense to stay within
whichever site the resource is clicked in (if that makes sense).

[2017-08-09 17:16] angievanhegan commented on #23
@nadia847 I added an issue and put this back into the sprint backlog.

[2017-08-10 08:07] Maria-alnap commented on #34
@angievanhegan This is OK, but I'm a bit confused tbh, as on the website we will have News and Member updates. Will the content type for news be the same than member updates? The access in these is different and it may make sense to differentiate somehow?

- News are about ALNAP and open access, any user coming to the site will see them.
(These would have an ALNAP logo to the right as per this des

[2017-08-10 08:12] Maria-alnap commented on #23
@dave-manta @nadia847 It would be good to discuss this. Is there a way that we could signpost that the resource is in the HELP Library and in the portal? As we will be building hybrid portals in the future (hosting both resources that are within and outside the HELP Library), it would be good to show the user where the specific resource he's looking at lives. It's more of a political/positioning t

[2017-08-10 09:06] nadia847 commented on #34
@Maria-alnap we have a separate content type (Member updates) which should be used for... updating members. news is public. Member updates private. You should already be able to see these on your account page (click on My account in the header).

Member updates are in the current sprint and in the Manta review column so we should have those available for you to test soon.

@angievanhegan

[2017-08-10 09:25] ican-icant commented on #113
@nadia847 I've logged - with my steve@m account in and I can't see any member updates?

[2017-08-10 09:39] nadia847 commented on #113
@ican-icant your role was removed. now re-added. Please try again.

[2017-08-10 09:48] ican-icant commented on #113
@nadia847 it works!, but there was nothing for to tick off so added one and ticked it

[2017-08-10 09:51] nadia847 commented on #113
@ican-icant yeah all the tick boxes should have been unchecked for you. I've now done this. Could you please go through and check any off that can be and add any issues as necessary? thanks!

[2017-08-10 09:54] Maria-alnap commented on #34
@nadia847 Oh apologies! And thanks for the explanation! It all makes sense now :)

I'm not sure that we'll need logos in all news items then. I assume that we'll have the option of not adding any as well?

[2017-08-10 09:56] ican-icant commented on #23
@Maria-alnap I understand the political nature of thsis but just wondering how useful it is for the user or whether it will just confuse people. Def worth a discussion but would have to come later.

[2017-08-10 10:27] matty-manta commented on #39
Hey @Maria-alnap are you looking within the Additional content tab rather than the Main content tab? There should be two nuggets, one content block nugget and one feed nugget. Take a look, if you still can't find it maybe it's worth us having a skype/slack call so you can share screens.

For tagging blogs, you just need to head to the "Related" tab - tags are in there. Just add a comma to separate

[2017-08-10 11:22] nadia847 commented on #34
@Maria-alnap If you add a member in the Members field, the logos will appear on the right of the node.

[2017-08-10 16:19] angievanhegan opened #258 "Story for the sake of the points"
I'm adding this at the points we're stopping using Waffle and moving to ZenHub. It's just to make the points total in ZenHub match what it was in Waffle.

[2017-08-10 16:20] angievanhegan opened #259 "Story for the sake of the points"
I'm adding this at the points we're stopping using Waffle and moving to ZenHub. It's just to make the points total in ZenHub match what it was in Waffle.

[2017-08-10 16:21] #258 closed

[2017-08-10 16:21] #259 closed

[2017-08-10 16:38] angievanhegan opened #260 "Setup Crazy Egg"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-10 16:44] angievanhegan commented on #113
@Maria-alnap I think this is ready for you to review.

[2017-08-10 16:46] angievanhegan commented on #23
@ican-icant Did we come up with a solution to this at the meeting? If we did, can you make a note of it here please and add any relevant done criteria? Thanks

[2017-08-10 16:50] angievanhegan commented on #39
@Maria-alnap This is ready for you.

[2017-08-10 16:51] angievanhegan commented on #34
@MantaRayMedia/alnap Are you happy to sign this one off now? Thanks

[2017-08-10 17:12] angievanhegan commented on #29
@nadia847 Please can you add the blocker in the done criteria? Also, what's the next step for this one to unblock it? Thanks

[2017-08-11 09:49] dilwarhussain commented on #193
@ican-icant All the issues stated above should be resolved now. The load more button is being looked at separately on issue #169 which will effect load more buttons sitewide.

[2017-08-11 14:19] nadia847 commented on #59
Search API's incompatibility with selective filters making the search not quite as slick as other search pages.

[2017-08-11 14:32] dave-manta commented on #41
@angievanhegan - Update: We're 80% complete on all the items in this task.  I need input from ALNAP - waiting to hear back from Maria (over Slack) as to when we can catch up - to finish off the data import trial and I need to spend a bit of time checking that the other items are complete.  So, almost there, but not quite.

[2017-08-11 14:50] angievanhegan opened #261 "De-prioritised things for launch"
We can manage without these things for launch if need be:
- content on member pages (the logo will be enough for launch)
- payment for jobs and events (it can be done manually for the very short term)
- CoP #111 (needs to be done very quickly after launch)

[2017-08-11 15:41] angievanhegan opened #262 "Total points for sprint 6 = 222"
#219 = 1
#41 = 16
#23 = 18
#118 = 8
#147  =13
#126 = 13
#59 = 13
Manta review = 40
ALNAP review =  66
Done =  34

[2017-08-11 15:42] #96 closed

[2017-08-11 15:42] #153 closed

[2017-08-11 15:42] #154 closed

[2017-08-11 15:42] #198 closed

[2017-08-11 15:42] #203 closed

[2017-08-11 15:42] #227 closed

[2017-08-11 15:42] #229 closed

[2017-08-11 15:42] #231 closed

[2017-08-11 15:42] #237 closed

[2017-08-11 15:42] #239 closed

[2017-08-11 15:42] #251 closed

[2017-08-11 15:42] #253 closed

[2017-08-11 15:42] #37 closed

[2017-08-11 15:42] #95 closed

[2017-08-11 15:42] #122 closed

[2017-08-11 15:42] #170 closed

[2017-08-11 15:42] #189 closed

[2017-08-11 15:42] #191 closed

[2017-08-11 15:42] #200 closed

[2017-08-11 15:42] #202 closed

[2017-08-11 15:42] #223 closed

[2017-08-11 15:42] #262 closed

[2017-08-11 15:59] dilwarhussain commented on #23
@ican-icant Clicking on a resource that shows in another portal now stays in the site that you are viewing. For a resource to act like this, on save you need to keep the 'Source domain' as 'Use active domain' (This is default). You can also pick a domain if you would like it to go off to that particular domain.

[2017-08-14 13:48] russ-manta commented on #126
@meldera can you take a look at this one please? Images are loading erratically in the home twitter feed if a link is included. Let's talk about it before you start

[2017-08-14 14:07] Maria-alnap commented on #39
@matty-manta I found it! I have edited it too. Only thing is that the buttons are showing up at the top of the page for some reason. That page might need a tweak from your end (see screenshot below)
![blog buttons.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593fc96377a396001a3a210d/125516c66e82c728ace21e0d46ea989524c281bc9bfdb04db71fbcd6395428792c07b7692ac7b671ec132856

[2017-08-14 14:18] Maria-alnap commented on #113
@nadia847 @ican-icant @russ-manta All this looks good! I'll move to done

[2017-08-14 14:19] Maria-alnap commented on #113
@nadia847 apols, I think I closed this by mistake and don't know how to reopen it!)

[2017-08-14 14:21] Maria-alnap commented on #34
@nadia847 @ican-icant I'm happy with this and will move to done

[2017-08-14 14:22] Maria-alnap commented on #44
@ican-icant This looks ok. I'll sign off and move to done

[2017-08-14 15:27] nadia847 commented on #113
@Maria-alnap ha no worries! I've moved it to "Done this sprint". Is that where it should be?

[2017-08-14 15:37] Maria-alnap commented on #194
@nadia847 I'm not getting the notification email from Disqus so I cannot tick the other criteria yet. I'll keep you posted!

[2017-08-14 15:49] nadia847 commented on #194
@Maria-alnap OK just getting Dilwar to look into this.

[2017-08-14 15:51] dilwarhussain commented on #194
@Maria-alnap What notification email is it that you are waiting for?

[2017-08-14 15:56] nadia847 commented on #39
@Maria-alnap should be ok now.

[2017-08-15 08:56] Maria-alnap commented on #194
@dilwarhussain I was trying to test Disqus and I was prompted to sign up, which I found a bit odd because we had set this up for single login. Anyhow, I did sign up but never received a notification email to activate my disqus account. So that's as far as I got with testing it!

[2017-08-15 08:58] Maria-alnap commented on #39
Cool! Looks OK to me now. Will move to done :)

[2017-08-15 13:12] dave-manta commented on #67
@Maria-alnap for new organisations that are registered on your website (from an employee registering), do you set the organisations constituency type or do they chose what they believe their type to be?

[2017-08-15 15:16] russ-manta commented on #245
@meldera I've added a DONE task here for your rule which creates organisation nodes when an organisation is added to Civi

[2017-08-15 15:26] russ-manta opened #263 "(#201) Modify resources importer - Monday 25th September"
### Dependencies
- [x] Dave to create spreadsheet linking all resources in export to the relevant node id for the new organistion node in Drupal

---
### Done criteria
- [x] Modify importer to add entity reference from Resource to the relevant organisation node
- [x] Test importer
- [x] Import all resources to test search/import

[2017-08-15 15:30] russ-manta opened #264 "Create reference between Drupal user and organisation for resources/jobs/events"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] Reference from user to an organisation (either by civi relationship or separate drupal relationship)
- [ ] Autopopulate organisation field when creating resources/jobs/events according to reference above

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-16 13:54] dilwarhussain commented on #194
@Maria-alnap Single Sign-On means that you should be able to comment with your website account.

If you're logged into the website with your account you will have the option to comment on the thread using that account.

If you are not logged into the website you will get the option to log in using your website account to make comments. Or you can also log in with your Disqus account as well as fac

[2017-08-16 17:07] Maria-alnap commented on #194
@dilwarhussain I know how it works, I just wasn't logged in right when I tried last. Now I tried again and it works fine. Can you move this to done for me? The board isn't loading properly so I'm commenting straight on GitHub instead of Zenhub. Thanks!

[2017-08-17 10:01] dilwarhussain commented on #194
That's great, I'll move to done. Thanks @Maria-alnap !

[2017-08-21 10:46] cutlern commented on #49
Add a job button/link will need to wait until how we let members add content has been scoped: https://app.zenhub.com/workspace/o/mantaraymedia/alnap/issues/244

[2017-08-21 15:48] dave-manta commented on #75
@Maria-alnap when you see a list of events: http://alnap-dev.mrmdev.co.uk/upcoming-events, do you want to show to user which events are from a member organisation and which are not?  In both cases I'm assuming we want to display the organisation name.

[2017-08-21 16:12] dave-manta commented on #75
@Maria-alnap also, if you are someone wants to add an online event, we have noted to have another field titled 'please specify'.  What is this for?

[2017-08-21 17:25] nadia847 commented on #30
@Maria-alnap On the events content type you have a basic text field for event location which ideally should have no more than City, Country in it as it displays on event cards. This seems to be inline with how events are handled on your current site.

In the events node design (https://invis.io/J4C0FZGGS) you have a box on the right which looks like it has a bit more detail.

Does this need to loo

[2017-08-22 13:31] Maria-alnap commented on #133
@nadia847 @dave-manta @ican-icant @russ-manta @matty-manta (not sure who to tag for this so I'm telling you all!)

As mentioned in our last catch up, we met with the ODI person leading on all things digital and she had some suggestions on how to set up Google Analytics on our new site that we'd like to take on board. She also suggested that we set up the dashboard as part of our training, as that'

[2017-08-22 13:48] Maria-alnap commented on #255
@nadia847 @matty-manta I'd be happy to sign this off if you could explain to me how to do it? :)

[2017-08-22 13:49] Maria-alnap commented on #79
@nadia847 Is this ready for me to look at? I'm unsure...

[2017-08-22 13:50] Maria-alnap commented on #38
@nadia847 Should I be checking anything here? Again, a bit unsure...

[2017-08-22 13:51] Maria-alnap commented on #123
@nadia847 again, unsure what I'm meant to be looking at here

[2017-08-22 13:52] Maria-alnap commented on #219
@nadia847 Is this ready to check?

[2017-08-22 13:53] Maria-alnap commented on #193
@nadia847 is this ready for me to check?

[2017-08-22 13:58] Maria-alnap commented on #169
@nadia847 not sure whether this is ready for me to check yet?

[2017-08-22 13:59] Maria-alnap commented on #120
@nadia847 should I be checking this now?

[2017-08-22 14:02] Maria-alnap commented on #30
@nadia847 The location detail is actually quite important because it's very likely the name of the venue and the address. That needs to go on the event page. For the corresponding cards, it would be OK to just show city and country. Hope this makes sense?

[2017-08-22 14:05] Maria-alnap commented on #75
@dave-manta yes to Q1 on Members, we need to ID somehow the ones which are from Members. Not sure how this was scoped in the design...

on Q2, online events can be webinars or other things like live Q&As, etc... Hope this makes things clearer

[2017-08-22 15:37] dave-manta commented on #75
@Maria-alnap thanks, I believe that is what we need.

[2017-08-22 15:39] dave-manta commented on #133
@Maria-alnap Thanks for the info.  We'll need Russ to pick this up when he's back from hols next week.

[2017-08-22 15:50] matty-manta commented on #255
@Maria-alnap fancy a skype chat? I'm matthew-manta

[2017-08-22 16:25] nadia847 commented on #146
Hi @Maria-alnap

Just picking up a comment you left in Invision about staff profile pages just noticed a request in card #146 Build and theme person node (for ALNAP staff members) to display their blogs, publications and resources to appear on the Person's profile page.

This doesn't seem to be in the original scope of requirements and as such will be kind of tricky to automate at this stage.

You

[2017-08-22 16:42] nadia847 commented on #30
@Maria-alnap yes it's ready for you to look at :o). Reassigning it back to you.

[2017-08-22 16:50] nadia847 commented on #38
@Maria-alnap I've added review criteria for you

[2017-08-22 16:56] nadia847 commented on #123
@Maria-alnap added a link and screenshot. In this case you need to flag any content type that should have share icons that does not.

And ensure that the share icons work (only need to test that on one page though e.g. blog 4 linked to above)

[2017-08-22 16:59] nadia847 commented on #219
@Maria-alnap I've edited the alnap criteria above and added links. hope that helps!

[2017-08-22 17:08] nadia847 commented on #46
@Maria-alnap Added links & review criteria

[2017-08-23 14:25] matty-manta commented on #256
Sorry @nadia847

The box link at the bottom of this page:

http://alnap-dev.mrmdev.co.uk/marias-test

[2017-08-23 14:39] nadia847 commented on #67
@dave-manta I really need you to sort out user edit forms so that the profiles can be signed off.

[2017-08-23 14:41] nadia847 commented on #71
@dave-manta could you please brief arseni on this?

[2017-08-23 14:43] nadia847 commented on #126
@dave-manta @russ-manta we may have to roll back to twitter module 7.x-5 and live without pictures in the tweets as 7.x-6 is very buggy at the minute. Thoughts?

[2017-08-23 19:54] dave-manta commented on #126
@nadia847 not something I feel knowledgeable enough to comment on.

[2017-08-23 19:55] dave-manta commented on #71
@nadia847 probably needs a discussion with you or Russ beforehand and input from ALNAP.   When does this work need to start?

[2017-08-23 20:01] dave-manta commented on #67
@nadia847 I'm afraid I need @russ-manta to confirm the plans. It's out of my hands.

[2017-08-24 09:14] dave-manta commented on #71
![image](https://user-images.githubusercontent.com/29146225/29659090-0b4fc90a-88b5-11e7-8b3a-b736c5c4a5c0.png)

[2017-08-24 09:28] dave-manta commented on #69
![image](https://user-images.githubusercontent.com/29146225/29659670-e641c774-88b6-11e7-811b-099589269f1f.png)

[2017-08-24 09:28] dave-manta commented on #142
![image](https://user-images.githubusercontent.com/29146225/29659679-ee0bdb98-88b6-11e7-8034-37b00ae2d9e3.png)

[2017-08-24 09:28] dave-manta commented on #142
![image](https://user-images.githubusercontent.com/29146225/29659701-fb996a46-88b6-11e7-892d-17134bfbbd5e.png)

[2017-08-24 09:28] dave-manta commented on #69
![image](https://user-images.githubusercontent.com/29146225/29659706-ff0fddea-88b6-11e7-9e0c-458e1b6c947f.png)

[2017-08-24 10:37] nadia847 commented on #126
@meldera please roll back to twitter v5

[2017-08-24 17:00] nadia847 opened #265 "Bulk ALNAP/Member content update view"
### Done criteria
- [ ] A table view displaying all content that can be marked as member/ALNAP
- [ ] Filters for:
  - [ ] Content type
  - [ ] Contributor field (ALNAP/Member)
  - [ ] Organisation
- [ ] Must be able to bulk change value for contributor field to add / remove Member
- [ ] Sort by: Title / Type / Updated

---
### Designs
N/A

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-25 08:44] Maria-alnap commented on #255
@matty-manta Happy to! Apologies if has taken so long to get back. I've had a mental week! I'm around in the afternoon. I'll add you to Skype now and take it from there. I'm alnap.secretariat

[2017-08-25 08:50] Maria-alnap commented on #146
@nadia847 Yes, this is something that we've discussed before and using box links will do. No need to set up anything further!

We've also started setting it up already and even have nice new fancy portraits! Check here: http://alnap-dev.mrmdev.co.uk/about/meet-our-team (I know, I hate my photo too but some will be retaken so I'll be the first in line!)

[2017-08-25 08:54] Maria-alnap commented on #30
@nadia847 Happy to check this but I'm not sure what I should be signing off, as I cannot find anything from the boxes at the top in this page (which is what I'm assuming this issue is about):
http://alnap-dev.mrmdev.co.uk/upcoming-events/annual-meeting-of-the-german-society-of-tropical-medicine

[2017-08-25 09:03] Maria-alnap commented on #38
@nadia847 Thanks! Unfortunately there's still a few issues with this page showing up on my end:

- The cards that appear after clicking on the more arrow sometimes show up cropped
- The filters are not really working yet. I have added tags in a few blogs already but when I type one of these tags, they don't come up (e.g. System-wide performance, which is a tag for the "one humanity, many visions"

[2017-08-25 10:50] nadia847 commented on #30
@Maria-alnap sorry this one isn't quite ready for you yet but will be once we reinstate twitter.

What needs to be signed off here is that you have everything you need from your events content type and that it looks how it should

[2017-08-25 11:21] Maria-alnap commented on #123
@nadia847 Thanks! All of this looks good. I'll move to done :)

[2017-08-25 11:28] nadia847 commented on #38
@Maria-alnap right ok, back into the backlog this goes :o(

[2017-08-25 11:39] Maria-alnap commented on #219
@nadia847 I've only ticked first one as I cannot see the button to add the resources to my account in any of the ones that are currently up. Also, the Member updates are currently showing on the blog author profile that you linked above.

[2017-08-25 11:46] Maria-alnap commented on #46
@nadia847 Just tested it and it looks good! http://alnap-dev.mrmdev.co.uk/jobs/alnap-is-looking-for-a-research-assistant

I'll move to done

[2017-08-25 11:55] Maria-alnap commented on #193
@nadia847 This looks good. Only thing I think we should check is whether we had agreed to also spit the organisation in the card for these...

[2017-08-25 11:58] Maria-alnap commented on #79
All good here. I'll move to done!

[2017-08-25 12:03] Maria-alnap commented on #120
@nadia847 We've tested this and have replied on issue #146

(@matty-manta not sure we've been shown how to do add/view team nuggets on other pages yet so I can't check that)

[2017-08-25 12:05] matty-manta commented on #120
@Maria-alnap we can take a look at this in our skype chat this afternoon, when you're finished with Dave perhaps?

[2017-08-25 12:05] Maria-alnap commented on #35
@nadia847 this looks good. I'll move to done!

[2017-08-25 12:07] Maria-alnap commented on #70
@nadia847 what am I meant to look at here?

[2017-08-25 12:11] Maria-alnap commented on #171
@nadia847 The link above http://alnap-dev.mrmdev.co.uk/help-library-new is broken. I assume I should be looking at the HELP page currently linked on the site?

[2017-08-25 12:19] Maria-alnap commented on #49
@nadia847 I've only ticked the last 2 as there's some issues with the others:
- Because the civi name for the UK is ridiculously long, that messes up the card (see the job I added just now). Not sure how to go about this but many jobs will be from the UK so it's something we'll have to deal with.  Maybe just show city in the card?
- On the filters, we'll have more than consultancies or ToRs there

[2017-08-25 12:33] Maria-alnap commented on #30
@nadia847 this looks good and works. It's just us who will need to crack how we manage all the info that needs to go into these pages.
May be a good exercise for an upcoming training session, @matty-manta ?

[2017-08-25 14:57] nadia847 commented on #70
@Maria-alnap nothing to look at. you were in discussions with dave bit it;s been scoped and has been assigned to arseni for build.

[2017-08-25 15:17] nadia847 commented on #193
@Maria-alnap they're not in the design, which has been signed off. Do you want us to add them in?

[2017-08-25 15:22] nadia847 commented on #171
@Maria-alnap yup sorry. link updated

[2017-08-25 15:23] nadia847 commented on #171
@Maria-alnap this is more about looks than function at the moment. functionality is in a separate card.

[2017-08-25 15:36] Maria-alnap commented on #193
@nadia847 no, no need to. I got confused. The news don't need this so this is good to go. I'll move to done :)

[2017-08-25 15:41] Maria-alnap commented on #171
Haha! No worries, I was a  bit confused (and tired). All OK with this. I'll move to done now :)

[2017-08-25 15:56] nadia847 commented on #49
@Maria-alnap

- Length of country/city name should no longer break layout. I prefer having the full City and Country there and if I had to choose between the two would say Country is more important. I've shortened it anyway though because UKGBNI is just nuts.

- I've also changed the order to City, County because that is surely a global standard?

- Yes, as you add more jobs, the filters should ha

[2017-08-25 16:02] Maria-alnap commented on #49
@nadia847 all this makes sense, thanks! I'll move to done :)

[2017-08-29 10:23] matty-manta commented on #256
Hey @Maria-alnap

So adding one box to a box links nugget, while having multiple items per row causes this jerky behaviour. If you check your test page again:

http://alnap-dev.mrmdev.co.uk/marias-test

Then you'll see I've added some more box links nuggets to show how they ought to be configured to ensure you don't get that jerky behaviour.

Hope that's all ok, of course any questions just let me

[2017-08-29 10:43] meldera commented on #71
http://alnap-dev.mrmdev.co.uk/admin/content/resources

[2017-08-29 10:58] meldera commented on #249
this has been set up this way intentionally. can be changed here:
http://alnap-dev.mrmdev.co.uk/admin/structure/block/manage/views/resource_node-block_1/configure
http://alnap-dev.mrmdev.co.uk/admin/structure/block/manage/views/resource_node-related/configure

[2017-08-29 11:01] nadia847 commented on #71
@meldera I think we should use chosen on the filters...

[2017-08-29 11:01] cat-manta opened #266 "Styling issues"
---
### Done criteria
- [ ] ISSUE - Crumb arrow is the wrong arrow
- [ ] ISSUE - Body text in footer to be changed to 18px
- [ ] ISSUE - Search filters - Dropdown arrow buttons change colour on hover
- [ ] ISSUE - Hovering over HELP Library in nav makes icon and text move

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-08-29 11:33] Maria-alnap commented on #256
@matty-manta Thanks! That makes sense. We'll keep it in mind!

[2017-08-29 15:17] nadia847 commented on #249
http://alnap-dev.mrmdev.co.uk/test-innovation-resource

should look like https://projects.invisionapp.com/d/main#/console/10292473/236943102/preview

[2017-08-30 09:54] russ-manta opened #267 "Yoast SEO module for facebook posts"
We were wondering if you could enable YoastSEO on the website? The reason we'd like this is to be able to edit cards on Facebook posts.

(You may have seen that Facebook have stopped allowing users to edit the ‘card text’ when sharing a link in a post, to stop the spread of fake news. Unfortunately this means for some links - such as blogs - that the text that is previewed is the website footer te

[2017-08-30 13:11] meldera commented on #126
Could be related to v6.x not working:

https://www.drupal.org/node/1981472
https://www.drupal.org/node/1936598
https://www.drupal.org/node/2584511
https://www.drupal.org/node/2584539
https://www.drupal.org/node/2833977
https://stackoverflow.com/questions/16374568/php-mysql-bigint-issue
https://stackoverflow.com/questions/13962771/twitter-not-saving-unique-tweet-id

[2017-08-30 13:14] cutlern commented on #69
http://alnap-dev.mrmdev.co.uk/events/rss.xml
http://alnap-dev.mrmdev.co.uk/rss.xml
http://alnap-dev.mrmdev.co.uk/jobs/rss.xml

[2017-08-30 14:45] russ-manta commented on #219
@cutlern can you theme the bookmark resources button please?

[2017-08-30 15:39] russ-manta commented on #69
@cutlern I've had a look and chatted with Arseni and Nadia and we think we should change the views to use fields. Can you do this please as it should give us greater control over the html output in the feeds.

Thanks

[2017-08-30 16:09] russ-manta commented on #15
@Maria-alnap for the evals let's keep the tags in both places for now and then retag using bulk tagging before finally removing the old resource types once all the retagging has been done.

for Crisis to confirm we'll create a 'Syria crisis' parent tag within the tags taxonomy and then create the subtypes of 'Research, policy and analysis' , 'Learning and evaluation of similar crises' & 'Current l

[2017-08-31 14:19] Maria-alnap commented on #15
@russ-manta Great! Sounds like a plan!

[2017-08-31 14:36] russ-manta commented on #126
try different os / version of php?

[2017-08-31 14:39] Maria-alnap commented on #163
@nadia847 I've checked and the only one I haven't ticked is that last one as I tried to filter by location, for example, and that didn't work...

[2017-09-01 10:35] russ-manta opened #268 "Organisation field on blogs (maybe events and jobs too) populated with organisation of user"
### Done criteria
- [ ] Create rule to populate the Organisation entity reference field with that of the user
- [ ] Hide the field for all users except web editos and administators
- [ ] Possibly also do this for Events and Jobs

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-09-01 10:45] russ-manta commented on #15
@Maria-alnap great, the new tags have now been added

[2017-09-01 15:41] #47 closed

[2017-09-01 15:59] russ-manta commented on #59
NB added new task to enable searching for items tagged similarly to the ones you get when searching for a keyword

[2017-09-01 16:02] russ-manta opened #269 "Blog posts view - link person page to user account for blog author"
Currently there is no link between a person and their user account so blog posts are not shown on a person page.
Create a link from the person page eg. http://alnap-dev.mrmdev.co.uk/john-mitchell to that person's profile page and vice versa from the profile page to the person page

---
### Done criteria
- [ ] Create reference between person node and user account
- [ ] Display a user's blogs on the

[2017-09-12 17:09] nadia847 commented on #252
@dave-manta @russ-manta this now looks like the design but as the text format has been changed for the white contact details nugget at the top, alnap won't be able to change content. was that agreed?

[2017-09-13 08:47] dave-manta commented on #252
Had a look at the page, don't believe I can comment.

[2017-09-14 13:01] russ-manta opened #270 "WYSIWYG text crop when pasting text into body"
First line of text is cut in half
### Done criteria
- [x] First line of text is not cut off in the WYSIWYG

---
### ALNAP to check
- [ ] First line of text is not cut off in the WYSIWYG

[2017-09-14 13:02] russ-manta commented on #270
@matty can you verify this?
![cropped text in text editor](https://user-images.githubusercontent.com/25846670/30431064-4a034ee6-9955-11e7-9394-81041dfbc70c.png)

[2017-09-14 13:03] matty commented on #270
You tagged the wrong person? :)

[2017-09-14 13:05] russ-manta commented on #270
@matty sorry about that! I left the rest of the username off :)

[2017-09-14 13:05] russ-manta commented on #270
@matty-manta can you verify this is happening please?

[2017-09-14 13:14] matty-manta commented on #270
@russ-manta yes - you move the scroll bar to the top of the field and the first line of text is hidden. @Maria-alnap you can still find it by placing your cursor in the WYSIWYG and pressing the up arrow until you get to the top of the text.

[2017-09-14 13:52] #34 closed

[2017-09-14 13:52] #39 closed

[2017-09-14 13:52] #44 closed

[2017-09-14 13:52] #46 closed

[2017-09-14 13:52] #113 closed

[2017-09-14 13:52] #169 closed

[2017-09-14 13:52] #194 closed

[2017-09-14 13:52] #209 closed

[2017-09-14 13:52] #211 closed

[2017-09-14 13:52] #250 closed

[2017-09-14 13:53] #35 closed

[2017-09-14 13:53] #49 closed

[2017-09-14 13:53] #79 closed

[2017-09-14 13:53] #120 closed

[2017-09-14 13:53] #123 closed

[2017-09-14 13:53] #146 closed

[2017-09-14 13:53] #171 closed

[2017-09-14 13:53] #193 closed

[2017-09-15 17:12] #100 closed

[2017-09-15 17:26] angievanhegan commented on #241
@russ-manta Maria said that Phil had replied to you on this. Do you have the information you need now? Let me know if you don't. Thanks

[2017-09-18 13:16] russ-manta commented on #38
@meldera can you take a look at this one please?

[2017-09-18 13:17] russ-manta commented on #163
@cutlern can you take a look at this one in relation to Maria's last comment please?

[2017-09-18 13:30] russ-manta commented on #269
@cutlern is this one now done?

[2017-09-18 13:31] cutlern commented on #269
@russ-manta yes? I think i must have stuck it in the wrong column D:

[2017-09-18 13:31] russ-manta commented on #144
@cutlern is this one done now?

[2017-09-18 13:32] cutlern commented on #144
@russ-manta yes

[2017-09-19 08:58] russ-manta opened #271 "Team nugget in sidebar not working as it should"
# ALNAP to review
http://alnap-dev.mrmdev.co.uk/events/annual-meetings/event-rss-test
- [x] Should display one team member at a time in slideshow

[2017-09-19 10:53] russ-manta opened #272 "Browser QA issues"
Firefox

Homepage:
- [x] Placeholder text on help library block getting cut off
- [x] Promo styling: Button is on two lines, text doesn’t always look right
- [x] Newsletter button in footer in out of line
- [x] Select language arrow in top menu style broken
- [x] Menu font is too bold
- [x] When you hover on help library the gap between the text and icon disappears

Event:
- [x] Spacing of RHS blo

[2017-09-19 13:10] angievanhegan commented on #241
FROM SLACK - 19 Sept

ARSENI: @russ we might need an mrm worldpay account after all. alnap already have two installations and there are no options to add any additional ones...

RUSS: @arseni I've created a sandbox account - do you want to try using that?
ARSENI: yes, please

RUSS: ok, details are in lastpass, documentation here if you need it: https://apidocs.securenet.com/docs/getstarted.html

A

[2017-09-19 14:44] angievanhegan commented on #255
@matty-manta Please can you contact Alex and Tim on Skype and arrange to show them how to do these? We need to get stuff signed off by Friday. Cheers.

[2017-09-19 15:57] angievanhegan opened #273 "Bugs in scope for launch"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-09-19 16:04] russ-manta commented on #252
@Maria-alnap should there be a link to the contact us in the footer or somewhere else in addition to the menu under About?

[2017-09-19 16:24] angievanhegan commented on #30
@russ-manta I'm working on the assumption that we're making this content type work for AGMs too. Is this ready for ALNAP review? The done criteria under the 'Annual meeting content' heading of 'Add table in content block nugget to demo' is not marked as done.

Also, are you happy we've got all the requirements for the AGM pages?

[2017-09-19 16:28] matty-manta commented on #255
@angievanhegan I've shown the guys how to do redirects - sorry this was left hanging. This is ready for sign off as far as I know.

[2017-09-20 09:37] russ-manta commented on #38
@Maria-alnap can you check the last two items you commented on are now fixed as required?

[2017-09-20 10:03] russ-manta commented on #271
@Maria-alnap see http://alnap-dev.mrmdev.co.uk/events/annual-meetings/event-rss-test

[2017-09-20 10:04] russ-manta opened #274 "Logo sizes on events should be smaller with more padding"
eg. http://alnap-dev.mrmdev.co.uk/events/annual-meetings/annual-meeting-test-2

[2017-09-20 10:07] russ-manta commented on #267
@Maria-alnap I think Matty showed you how to use Metatags for this

[2017-09-20 10:19] russ-manta commented on #23
@ican-icant is there anything left to check on this now? I think Dilwar fixed the issue with resources opening on the same site

[2017-09-20 10:31] #144 closed

[2017-09-20 10:32] russ-manta commented on #30
@angievanhegan the other card #144 had some new issues from ALNAP which I've moved over here and am checking off now

[2017-09-20 11:57] russ-manta commented on #163
@cutlern can you re-order the location to the end on past events please?

[2017-09-20 14:04] Maria-alnap commented on #252
@russ-manta would it be the title 'Contact' in the footer would be a link? Or would you put 'contact us' as a link under the email? I do think it would make sense to have the link to the contact us page on the footer. (Alex)

[2017-09-20 14:24] Maria-alnap commented on #252
(it's Alex) Just ran through the new checks and these are still issues:

- In the sidebar, I can add and edit boxes, but it sometimes doesn't bold the text
- I can add a new map content block, but the iframe doesn't embed the map on the page

[2017-09-20 16:18] Maria-alnap commented on #75
@angievanhegan I'm naming you on this, as I'm not sure who to tag!

1. Grid/list toggle works on desktop, but not mobile
2. When on mobile, it says '0 items' in each of the event search boxes

[2017-09-20 16:43] Maria-alnap commented on #38
Hi @russ-manta - the filters are working, but I've noticed that on the main page the blogs aren't coming up in the right order. Sort by: latest is active, but they're showing the oldest first - it started doing this after I did one search, and then wouldn't reset, even after I pressed 'reset'.

Also did we choose 'title' as a sort criteria? Does this mean alphabetical order, because I'm not sure i

[2017-09-20 17:11] angievanhegan commented on #75
@russ-manta I've added the issue to the done criteria. It just needs assigning.

[2017-09-21 09:56] russ-manta commented on #75
@cutlern can you look at this one please?

[2017-09-21 11:39] Maria-alnap commented on #94
@angievanhegan

This works fine, but I've got a couple of notes:
1. When on the first page, I can pick a criteria at the top, you can't unselect it
2. I managed to carry out the process, but I can't see where I can check they've been added

(Alex)

[2017-09-21 12:00] Maria-alnap commented on #221
@russ-manta breadcrumbs are fine, but I'm afraid I don't know what an alias is! Could you let me know and I'll check.

[2017-09-21 13:14] angievanhegan commented on #94
@russ-manta some new issues added from ALNAP. Up to you to decide if they're both in scope. Thanks

[2017-09-21 14:20] Maria-alnap commented on #71
Hey gang, a few issues with this one:

Selecting resources
1. When you apply a criteria to the search, when the results show, the other selection boxes at the top malfunction (same as bulk upload)
2. You can't deselect a criteria once you've clicked it - you have to change it to another criteria in the same box (which we might not always want to do) (same as bulk upload)

Editing resources
1. Hide

[2017-09-21 16:37] russ-manta commented on #71
@Maria-alnap Alex,
Selecting resources
1. Do you mean some of the boxes are emtpy with no options? If so, this is because for the resources you have filtered they don't  have any content for those fields. This will happen less once all the resources have been entered.
2. You should be able to deselect a criteria by holding down ctrl and clicking the item.

Editing resources
1. Hide from HEP librar

[2017-09-21 19:18] angievanhegan commented on #30
@russ-manta from Tim (in Slack)

I'm having a couple of issues with the new functionality on the annual meeting pages - (see here: http://alnap-dev.mrmdev.co.uk/node/19980/revisions/19981/view): the sub topic links only seem to appear in the hero, which is placed above the main title of the page. Am I doing something wrong?

[2017-09-22 12:48] Maria-alnap commented on #71
Hi @russ-manta

Great! Happy with all of those! Ticked off now.

[2017-09-22 15:26] #186 closed

[2017-09-22 15:39] russ-manta commented on #94
@Maria-alnap you can only check if tagsd have been added by looking at one of the resources you just tagged or re-run a search for that new tag and checking for the resource

[2017-09-25 14:20] nadia847 commented on #142
Hi @Maria-alnap

I've sent you test mail outs of the Events and Jobs newsletters.

The name at the top would be replaced with the First name of the recipient. If this is not a mandatory component of your subscribe form, it would be better to remove this line from the template.

You will be able to edit the intro text to the emails.

If you're happy with how they look, we can send you the templates

[2017-09-25 14:51] meldera commented on #228
Term reference for http://alnap-dev.mrmdev.co.uk/admin/structure/taxonomy/resource_category vocabulary

[2017-09-26 09:03] russ-manta opened #275 "Display portals at top of help Library"
### Done criteria
- [x] Modify portal content type to include link and image fields, and maybe card text
- [x] Modify Help library attachment view to display portals added, perhaps also add nodequeue to view

---
### Designs
- [ ] See help library designs

---
### ALNAP to check
- [ ] Check can add new portals to the top of the help library (an order using number field)
- [ ] Check portals display

[2017-09-26 13:57] angievanhegan commented on #108
@dave-manta Don't suppose you can shed any more light on this. Maria thinks it's probably nothing. Thanks

[2017-09-26 13:59] angievanhegan commented on #87
Maria and I agreed to close this.

[2017-09-26 13:59] #87 closed

[2017-09-26 14:33] russ-manta commented on #30
@Maria-alnap I've asked the following question to tim in slack about this but here is that message:

just been looking at this. For the content above what would you prefer:
1) Keep the hero as is but make the heading slightly larger and remove the duplicate heading/image/share icons beneath
2) move the hero and links beneath the existing event header/image/share icons (and remove the hero header)

[2017-09-26 14:37] angievanhegan commented on #206
@russ-manta for launch, ALNAP won't have migrated over all the blog items that they want (there are some old and popular ones which they'll bring across later). @Maria-alnap asked if it's possible to migrate some of the comments now (for the blog items they've migrated) and the other ones later (for the ones they'll migrate later)? Thanks

[2017-09-27 13:01] angievanhegan commented on #271
@Maria-alnap this is ready to review. Thanks

[2017-09-27 13:02] angievanhegan commented on #267
@Maria-alnap If @matty-manta has explained this to you, can it be signed off? Thanks

[2017-09-27 13:03] angievanhegan commented on #15
@Maria-alnap It looks like this can be reviewed now and hopefully you can tick your checklist! Thanks

[2017-09-27 13:04] angievanhegan commented on #269
All the ALNAP criteria have been ticked so I'm moving this to done.

[2017-09-27 13:05] angievanhegan commented on #142
@Maria-alnap This one looks ready for you to check. thanks

[2017-09-27 13:06] angievanhegan commented on #221
@matty-manta do you have a second to explain this to @Maria-alnap please? Thanks

[2017-09-27 13:07] angievanhegan commented on #94
@Maria-alnap If you're happy with Russ's answer (above) please can you move this to done? Thanks

[2017-09-27 13:36] russ-manta commented on #252
@cutlern can you take a look at these 2 issues please?
@Maria-alnap (alex) will you ever need more than 1 map on this page?

[2017-09-27 13:50] russ-manta commented on #275
@cutlern please add nodequeue in the morning

[2017-09-27 14:00] russ-manta commented on #38
@meldera could you look at these issues.
1. Remove title from sort criteria
2. Fix the issue that after searching so the view shows latest first

[2017-09-27 16:05] matty-manta commented on #221
Hey @Maria-alnap (Alex)

The alias is just the url that is given to any created piece of content, eg when you add a blog, is the path something like: http://alnap-dev.mrmdev.co.uk/blogs/a-blog-title (with "blog" in the url).

And making sure that structure is repeated for other relevant content types, events within events, etc.

Hope that make sense, let me know otherwise.
Matty

[2017-09-28 09:58] cutlern commented on #275
Using a select list field instead of nodequeue/entityqueue because they're not supported by search api

[2017-09-28 10:16] Maria-alnap commented on #271
Great! I'll move to done

[2017-09-28 10:17] Maria-alnap commented on #267
Yes, all good. I'll move to done.

[2017-09-28 10:25] Maria-alnap commented on #142
@nadia847 would you please confirm the subject and recipient of the emails so that I can dig them up? I was on leave and my inbox is a bit of a nightmare at the moment!

[2017-09-28 10:53] Maria-alnap commented on #221
All good and clear. Moving it to done now :)

[2017-09-28 11:15] Maria-alnap commented on #111
@russ-manta CoPs are quite important to have sorted for the website launch. These are like closed forums of practitioners who meet there to rant/share/discuss about their area of work, basically. For the past few years we've been using a software called Partner Platform to host these (https://partnerplatform.org/).

We currently have 2 CoPs, one on evaluation and one on urban response. Both are pa

[2017-09-28 11:21] Maria-alnap commented on #91
@angievanhegan @russ-manta just to say that this was in scope, has been developed and it is working so I'll move it to done

[2017-09-28 11:39] Maria-alnap commented on #15
@russ-manta @angievanhegan I've ticked all but the "edit tag" box as we haven't been explained how to do this yet.

Also, on the resources backend there's still a legacy field which we won't need: resource category (past, current, operational, analysis)

[2017-09-28 11:41] Maria-alnap commented on #94
Happy. I'll move it

[2017-09-28 12:57] Maria-alnap commented on #30
@russ-manta we would like to go with option 1, please. Thanks!

[2017-09-28 13:42] angievanhegan commented on #111
@Maria-alnap This is perfect. Thanks so much. I'll sort it out. Yes please do the contact details for the partner platform. Thanks

[2017-09-28 13:46] Maria-alnap commented on #111
@angievanhegan @russ-manta no problem. Here you go:

Damir Simunic: damir.simunic@gmail.com

You can say that I (from ALNAP @ ODI) suggested to get in touch

[2017-09-28 13:50] nadia847 commented on #142
Hi @Maria-alnap

Should be:

- [Test] Jobs & Consultancies update - from Pipe Salom <pipe@mantaraymedia.co.uk
- [Test] Events update - from Nelle Cutler <nelle@mantaraymedia.co.uk

[2017-09-28 13:55] angievanhegan commented on #15
@matty-manta Please can you explain to Maria how to edit these? Thank you.
@russ-manta There are two taxonomy amends (noted at the top). Thanks too.

[2017-09-28 13:58] russ-manta commented on #30
@Maria-alnap no problem
@cutlern can you add a checkbox to hide the title/image/share and then change the view so that the hero title is an H1 and has the same treatment as other event titles

[2017-09-28 14:45] cutlern commented on #252
@Maria-alnap

Hi Maria! I think the issue was with the address you pasted in the iframe URL, did you paste the web address or the share > embed map address?

Also, sorry but I haven't been able to recreate your issue with the bold text, I've tested it by using the bold button and holding cmd + b and they both seem okay, what part of the text in the sidebar are you trying to bold?

[2017-09-28 15:09] Maria-alnap commented on #252
@cutlern Thanks! All good now. Will move to done 👍

[2017-09-28 15:12] Maria-alnap commented on #142
@nadia847 the jobs one looks great. The events one looks a bit funny. The text goes all the way to the edges of the white boxes that contain them (see attached). Not sure whether it is an Outlook issue?
![events email screenshot](https://user-images.githubusercontent.com/29306539/30974559-d8a5c422-a467-11e7-8ed2-222d83645cb7.PNG)

[2017-09-28 15:22] nadia847 commented on #142
@Maria-alnap how annoying. which email client (and version) are you using?

[2017-09-28 15:32] Maria-alnap commented on #142
@nadia847 We have Outlook 2016 running on Windows 10 (which I ABSOLUTELY hate)

[2017-09-29 13:53] russ-manta commented on #38
@Maria-alnap this is now fixed

[2017-09-29 14:56] ican-icant opened #276 "Jump to label on topic pages"
### Done criteria
- [x] ISSUE: Need to align the arrow with the jump to text so it's on the same line
- [ ] ?

---
### Designs
- [x] https://projects.invisionapp.com/d/main#/console/10292473/236467475/preview See topic node
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-09-29 15:05] dave-manta commented on #67
@Maria-alnap I need you to confirm the workflow for user account registration at the top of this thread. Any questions do let us know.

Dave

[2017-09-29 15:36] Maria-alnap commented on #67
@dave-manta just to confirm. Does the workflow outlined above means that we'll need to approve EVERY new organisation added?

[2017-09-29 16:34] angievanhegan opened #277 "Topics page - more text to display alongside hero image"
### Related to
#191

---
### Done criteria
- [x] The portion of text showing up next to the hero image needs to show at least 3 rows when it's collapsed [currently shows 1](http://alnap-dev.mrmdev.co.uk/our-topics/the-state-of-the-humanitarian-system)

---
### ALNAP to check
[currently shows 1](http://alnap-dev.mrmdev.co.uk/our-topics/the-state-of-the-humanitarian-system)
- [ ] 3 lines of text app

[2017-09-29 16:35] angievanhegan commented on #277
@Maria-alnap FYI
@russ-manta Is it ok to add this issue to this epic? Also, please can you estimate it? Thanks

[2017-09-29 16:58] angievanhegan commented on #111
@russ-manta Please can you have a look at this one and tell me what the next steps will be? This is the one that Maria said we need for launch.
@cat-manta Do you think you'll need to get involved?

Thanks!

[2017-09-29 18:58] dave-manta commented on #67
@Maria-alnap you do not need to approve as such as the organisation will get automatically added to Civi, however you'll need to approve the employees relationship to their employer and at that point you can check and amend the employer info should you wish.  Note that as soon as someone adds a new organisation it will then be available for others that register.

[2017-10-02 12:58] russ-manta commented on #206
@Maria-alnap @angievanhegan yes I think this is ok. What we could do is create some empty blog posts for the ones which you plan to bring over later (and leave these unpublished) and then bring over all of the comments at once anyway ready for you to complete the content when you have time.  Could you provide a list of the blogs you will/won't be bringing over for launch?

[2017-10-02 13:43] Maria-alnap commented on #38
Great! All good now. Will move to done 👍

[2017-10-02 13:43] Maria-alnap commented on #270
OK, all good. I'll move to done too 👍

[2017-10-02 14:52] dave-manta commented on #67
@Maria-alnap just checking into to see if my response above is OK?

[2017-10-02 15:11] angievanhegan opened #278 "Resource page - organisation data appearing below main box"
### Done criteria
- [x] Organisation data appearing on white box as per [design](https://invis.io/ANC0GIX8Q)

---
### ALNAP to check
- [ ] content appearing as per design

![screen shot 2017-10-02 at 10 05 19](https://user-images.githubusercontent.com/3796718/31084468-7b997c62-a762-11e7-9cd7-417f029f511b.png)

[2017-10-02 15:14] angievanhegan commented on #278
@russ-manta I'm assuming this is ok to put in the pre-launch epic. Can you review and estimate please? Thanks

[2017-10-02 15:59] angievanhegan opened #279 "Resource page - more button needs two click to expand"
### Done criteria
- [x] Ensure 'More' button on resource page only needs one click to expand

---
### ALNAP to check
- [x] More button works as expected

[2017-10-02 15:59] angievanhegan commented on #279
@russ-manta A new bug to size. I'm waiting on Tim to confirm the browser he's using. Thanks

[2017-10-02 16:17] angievanhegan opened #280 "Hashtag for event content types is not showing up"
Hashtag for event content types is not showing up despite us populating the field
### Done criteria
- [x] Hashtag for event content types shows up (http://alnap-dev.mrmdev.co.uk/events/annual-meetings/annual-meeting-test-2)
---
### ALNAP to check
- [ ] Works as expected

[2017-10-02 16:18] angievanhegan commented on #280
@russ-manta New bug for you to estimate.
@Maria-alnap Please can you add a little more detail in the description at the top? Thanks

[2017-10-02 17:16] angievanhegan opened #281 "Searches should be closed by default"
Request from Steve:
### Done criteria
- [x] [HELP library](http://alnap-dev.mrmdev.co.uk/help-library) closed by default
- [x] [Events](http://alnap-dev.mrmdev.co.uk/events) closed by default
- [x] [News](http://alnap-dev.mrmdev.co.uk/news)
- [x] [Blogs](http://alnap-dev.mrmdev.co.uk/blogs)
- [x] [Jobs](http://alnap-dev.mrmdev.co.uk/jobs)
- [x] All searches dropdowns retain the same open/closed po

[2017-10-02 17:17] angievanhegan commented on #281
@ican-icant Should it only be closed by default the first time the users sees it, then it should stay in whatever state they set it to? Thanks

@Maria-alnap FYI

[2017-10-03 09:16] cat-manta commented on #111
@angievanhegan Yes I think so

[2017-10-03 12:38] ican-icant commented on #281
It remembers what you last did, ie. left it open / had it closed. That's fine, but it should not function this way across all the search boxes. So if you leave it open for news it should not open the search by default for events of the library. They should open / close independantly. Make sense @angievanhegan ?

[2017-10-03 13:28] Maria-alnap commented on #206
@russ-manta We've looked at our analytics and we have decided that we will only migrate blogs from the beginning of 2014 until now. I will finish these by Thursday, so you can migrate comments whenever you want after that :)

[2017-10-03 13:34] Maria-alnap commented on #280
@nadia847 @russ-manta I can confirm that despite removing the hashtag, the twitter feed is not showing up. We've used that hashtag last in July. Was the import of tweets done after that?

[2017-10-03 13:34] angievanhegan commented on #281
@ican-icant yeah - I've updated the done criteria. ta

[2017-10-03 13:35] Maria-alnap commented on #275
@russ-manta @matty-manta can you please explain to us how to add a portal to the top of the HELP search as mentioned above? No idea how to do it. Thanks!

[2017-10-03 13:36] angievanhegan commented on #111
@cat-manta do you need a wireframe or do you think the current site is enough to work from? And, do you have time to do it in the next day or so? We're trying to finish all the development for ALNAP by friday. Thanks

[2017-10-03 13:43] cat-manta commented on #111
@angievanhegan I don't think I need a wireframe, but could we have a quick call about it? Yes should be fine to do it in the next day, although Steve and I also need a chat with you about priority of other projects.

[2017-10-03 14:32] nadia847 commented on #280
@Maria-alnap the tweets were imported on the 17th of august (from what I can see here: http://alnap-dev.mrmdev.co.uk/admin/tweets). Those are the earliest ones we have.

[2017-10-04 10:06] russ-manta commented on #111
@Maria-alnap @angievanhegan are we sure this was in the original scope/designs etc? Could it come later?

[2017-10-04 10:48] matty-manta commented on #275
@Maria-alnap Sure - we've added a new Portal content type to manage this.

If you head to the content table:

http://alnap-dev.mrmdev.co.uk/admin/content

And filter for Portal - you'll see that we've created two items.

If you edit the Urban humanitarian response item, you'll see how it works.

There are fields to provide a link to the relevant portal, and then a field called "Order", which deter

[2017-10-04 10:49] Maria-alnap commented on #111
@russ-manta this needs to be done. It is very important. Happy to have a temporary solution at first, but we need to have something

[2017-10-04 10:50] Maria-alnap commented on #111
We may be able to get away with it by embedding them in a basic page and pull them as cards where they're needed?

[2017-10-04 11:13] ican-icant commented on #111
@Maria-alnap I also think the best place to expose these conversations is on the landing page of the external site

[2017-10-04 14:44] Maria-alnap commented on #67
OK, all clear (may need you to explain it again when we use it as I'm in full population mode at the moment!)

[2017-10-04 15:22] russ-manta opened #282 "Resource content type changes"
### Done criteria
- [x] Change display of resources that have video/media so videos display above white box
- [x] Display link field in white box with other fields
- [x] Check for missing resource file imports eg. http://www.alnap.org/admin/resource/edit.aspx?id=5239 & http://alnap-dev.mrmdev.co.uk/help-library/responding-to-earthquakes-learning-from-earthquake-relief-and-recovery-operations - it

[2017-10-04 15:24] russ-manta opened #283 "Make featured content autocomplete in subtopic paragraph wider"
### Done criteria
- [ ] Make featured content autocomplete in subtopic paragraph wider, see image below eg. http://alnap-dev.mrmdev.co.uk/node/32809/edit

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-04 15:25] russ-manta commented on #283
<img width="840" alt="box not wide enough" src="https://user-images.githubusercontent.com/25846670/31184163-8f8ef886-a920-11e7-886d-7c304bb1a1e7.png">

[2017-10-04 15:37] dave-manta commented on #67
@Maria-alnap OK, so we're going to build it that way! It will be fine.

[2017-10-04 16:04] russ-manta commented on #70
comment for me..
Recommended resources should show at the bottom of the page (this uses the recommended field)- remove the image as pdf cover is too big
Related resources are using tags and should show on the right (the current related resources on the right is wrong it's using entity ref but should be using tags)
see http://alnap-dev.mrmdev.co.uk/help-library/responding-to-earthquakes-learning-fr

[2017-10-04 16:29] angievanhegan commented on #111
@russ-manta @cat-manta @ican-icant I'm putting 10 mins in the diary tomorrow so we can talk this through together and agree a plan of action. Thanks

[2017-10-05 08:58] Maria-alnap commented on #275
@matty-manta thanks! all clear 👍 will move this to done

[2017-10-05 09:03] matty-manta commented on #275
@Maria-alnap Great stuff :)

[2017-10-09 10:10] meldera commented on #279
Would be useful to know, as I was not able to reproduce this...

[2017-10-09 10:10] russ-manta commented on #280
@dilwarhussain can you take a look at this one please?

[2017-10-09 10:11] russ-manta commented on #272
@pipemanta can you help @cutlern with these ones please?

[2017-10-09 10:12] russ-manta commented on #277
@dilwarhussain can you take a look at this please?

[2017-10-09 10:13] russ-manta commented on #274
@nadia847 can you take a look at this please?

[2017-10-09 10:21] russ-manta opened #284 "Menu items/Nav missing when viewing a news node"
### Done criteria
- [x] Menu items/Nav missing when viewing a news node: http://alnap-dev.mrmdev.co.uk/news/the-sohs-2018-survey-is-out

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [x] ?
- [x] ?

[2017-10-09 10:23] russ-manta opened #285 "Ability to add timezone to events, needs new field"
### Done criteria
- [ ] Ability to add timezone to events, needs new field 'Format for timezone should be GMT, GMT+1, etc.'  Possibly use https://www.drupal.org/project/tzfield
- [ ] Should be visible within the white box on an event

---
### ALNAP to check
- [ ] Timezone is selectable using the GMT field on events
- [ ] Timezone is visible after the date/time when viewing an event

[2017-10-09 10:24] russ-manta opened #286 "Blog formatting when adding white box style"
### Done criteria
- [ ] 'Tried to frame a para in a blog in white box format and, although the code in the backend looks right, the box is framing the whole text in that nugget, not the bit I selected...' http://alnap-dev.mrmdev.co.uk/blogs/responding-to-changing-needs-can-the-humanitarian-sector-adapt-to-the-new-normal

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-09 10:25] russ-manta opened #287 "Resource series title"
### Done criteria
- [ ] Display title of resource series node in the view instead of just 'Resource series' eg. here: http://alnap-dev.mrmdev.co.uk/help-library/sohs-2015-launches-is-the-system-broken

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-09 11:00] meldera commented on #284
It is there. This is a styling issue.

[2017-10-09 11:02] meldera commented on #285
Already commented on this somewhere  -  date field setting provide this functionality.

[2017-10-09 12:16] russ-manta opened #288 "Resources iframe"
### Done criteria
- [x] Display prezi on resources - iframe is currently blocked eg.http://alnap-dev.mrmdev.co.uk/help-library/the-state-of-the-humanitarian-system-2015-launch-prezi
- [x] Ensure souncloud also works via soundcloud nugget

---
### ALNAP to check
- [x] Can display prezi on resources
- [ ] Can embed soundcloud clips

[2017-10-09 12:17] russ-manta opened #289 "WYSIWYG formats and permissions"
### Done criteria
- [ ] Consider what formatting options to use in WYSIWYG for researchers (etc?)
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-09 12:26] russ-manta opened #290 "Video not displayed on some resources"
### Done criteria
- [x] URL added to video field but video not shown: http://alnap-dev.mrmdev.co.uk/node/32827/edit , http://alnap-dev.mrmdev.co.uk/node/32826/edit

### ALNAP to check
- [ ] Video is visible on resources http://alnap-dev.mrmdev.co.uk/node/32827 , http://alnap-dev.mrmdev.co.uk/node/32826

[2017-10-09 12:51] meldera commented on #288
Added an IFrame field and a Body filter to the resources admin view. Frames will have to be moved manually.

[2017-10-09 14:47] Maria-alnap commented on #284
@russ-manta @angievanhegan checked and it's looking good now!

[2017-10-09 14:52] russ-manta commented on #279
@arseni timharcourtpowell [< 1 minute ago]
Just tried it again - the one on the homepage seems to work on first click, but the panels one is still two clicks on this page: http://alnap-dev.mrmdev.co.uk/events/annual-meetings/31st-annual-meeting-changing-humanitarian-action

[2017-10-09 15:41] russ-manta commented on #288
@meldera can you take a look at the soundcloud issue: http://alnap-dev.mrmdev.co.uk/events/3rd-asop-conference

[2017-10-09 15:46] meldera commented on #288
Using the wrong nugget for soundcloud.

[2017-10-10 08:45] russ-manta commented on #70
@cutlern can you take another look at this one - see my comment above - it looks like we have two views currently showing the same thing - call me if unclear

[2017-10-10 08:46] russ-manta commented on #279
@meldera just tested - still needs two clicks from me

[2017-10-10 08:52] russ-manta commented on #175
@angievanhegan not sure why I moved this into review - do you know if this is still to be done post launch?

[2017-10-10 08:53] russ-manta commented on #278
@Maria-alnap see here as an example: http://alnap-dev.mrmdev.co.uk/help-library/evaluation-of-the-peace-and-national-recovery-project-519-0394-el-salvador

[2017-10-10 08:56] meldera commented on #279
Some JS changes were overwritten since yesterday. Now fixed again...

[2017-10-10 08:58] russ-manta commented on #263
@dave-manta have you done this bit? 'Dave to create spreadsheet linking all resources in export to the relevant node id for the new organistion node in Drupal'

[2017-10-10 09:30] meldera commented on #272
About the "List/block display is overlapping filter box"... This trigger and functionality is not needed on mobile, is it?..

[2017-10-10 09:49] meldera commented on #283
This has been done already. Forgot to move it..

[2017-10-10 09:54] russ-manta commented on #281
@meldera can you take a look at this one please?

[2017-10-10 09:55] russ-manta commented on #75
@cutlern do you know if this one was done? does it just need moving to review?

[2017-10-10 10:01] dave-manta commented on #263
@russ-manta negative. Might need to discuss with you how this can be done.

[2017-10-10 11:05] russ-manta opened #291 "Reduce spacing between nuggets within rendered content"
### Done criteria
- [ ] 'another thing we've seen is that the spacing between nuggets within content types in general is quite substantial (e.g. between videos and content blocks' http://alnap-dev.mrmdev.co.uk/events/webinar-flying-blind-gathering-and-using-quality-information-in-situations-of-constrained 'between content blocks themselves in blog posts' http://alnap-dev.mrmdev.co.uk/blogs/a-job-w

[2017-10-10 11:20] Maria-alnap commented on #290
All good with this now. Will move to done

[2017-10-10 11:21] Maria-alnap commented on #280
@nadia847 this makes sense, thanks for clarifying! Will move to done

[2017-10-10 11:23] Maria-alnap commented on #278
@russ-manta, Looking good now, will move to done.

[2017-10-10 11:28] Maria-alnap commented on #277
@russ-manta this is looking better. May I ask what is the criteria for the number of rows showing up? Some look great and aligned to the photo, others still don't. Can we make it so that all text boxes next to photos in heroes in topic pages align to the photos?

[2017-10-10 12:25] cutlern commented on #75
@russ Dilwar is working on the issue for this card about mobile

[2017-10-10 12:27] cutlern commented on #272
@meldera well it only works when my phone is landscape, so i guess i'd agree?

[2017-10-10 13:32] dilwarhussain commented on #75
@russ-manta I've removed the grid/list button on mobile as at that width there is no difference in how the items are shown, they are always stacked one on top another. Also the chosen module does not work on mobile so the filters revert to a simple multi-select list when on mobile.

[2017-10-10 14:20] angievanhegan commented on #175
I think it's out of scope. I'll move it.

[2017-10-10 14:21] angievanhegan commented on #175
@Maria-alnap Can you confirm this one is out of scope please? I just want to be sure. Thanks.

[2017-10-10 14:38] Maria-alnap commented on #274
This looks good, thanks! I'll move to done

[2017-10-10 14:40] Maria-alnap commented on #163
All good. I'll move to done

[2017-10-10 14:40] Maria-alnap commented on #279
This is ok now. Will move to done.

[2017-10-10 14:42] Maria-alnap commented on #283
This is so helpful! Thanks. Will move to done :)

[2017-10-10 14:48] russ-manta commented on #287
@meldera another one for you..

[2017-10-10 15:08] russ-manta commented on #75
@dilwarhussain thanks

[2017-10-10 15:16] russ-manta commented on #228
@Maria-alnap this corresponds to the crisis category on your current site and will be removed once all resources have been imported and retagged

[2017-10-10 15:28] Maria-alnap commented on #75
This looks good. I'll move to done

[2017-10-10 15:34] Maria-alnap commented on #282
All good with this. Will move to done :)

[2017-10-10 15:34] Maria-alnap commented on #228
OK all good. WIll move to done

[2017-10-10 15:52] russ-manta commented on #30
@cutlern is this one now ready for review?

[2017-10-10 16:10] meldera commented on #287
This needs to be a field view to show the series title, not a teaser view.

[2017-10-11 06:48] cutlern commented on #30
@russ-manta Don't think so, i only assigned it to you so that it wouldn't get lost while i was on holiday

[2017-10-11 06:53] cutlern commented on #70
@russ-manta should images be removed from the sidebar related content view too?

[2017-10-11 08:35] Maria-alnap commented on #288
@russ-manta thanks for this. I haven't ticked the last box as we still prefer the way the soundcloud widget looks. Alex and @nadia847 have been talking about this in slack and she said that you could tweak it. I'll paste convo below:

commented on @alex’s file website soundcloud widget error.PNG: The problem with the soundcloud nugget is that it shows up as a big square, rather than the long thin

[2017-10-11 08:46] russ-manta commented on #288
@nadia847 can you look at the soundcloud issue please?

[2017-10-11 09:18] nadia847 commented on #286
@Maria-alnap The white box style is designed to frame the entire nugget. If you would like to just frame a bit of text in there, you should separate into different nuggets.

[2017-10-11 09:49] nadia847 commented on #288
@russ-manta fixed.

[2017-10-11 09:59] russ-manta commented on #70
@cutlern yes please remove images and can we show perhaps 5 items max on RHS?

[2017-10-11 10:09] russ-manta commented on #30
@dilwarhussain for the event content type can you add a checkbox to hide the title/image/share and then change the view so that the hero title is an H1 and has the same treatment as other event titles - Nelle knows about this so please ask her/me if not clear. This is an example page where this needs to work: http://alnap-dev.mrmdev.co.uk/events/annual-meetings/28th-annual-meeting-evidence-and-kno

[2017-10-11 10:20] russ-manta commented on #127
@meldera can you theme other content type labels such as organisation & team (and all others) in the same way as organisation: http://alnap-dev.mrmdev.co.uk/search?keywords=alnap

Also should we have a brief text summary beneath the title?

[2017-10-11 10:21] russ-manta commented on #23
@ican-icant are you able to take a look at this?

[2017-10-11 10:32] russ-manta commented on #70
@cutlern can we have a bigger font for the 'Related content' title above the related items on the RHS?

[2017-10-11 10:55] Maria-alnap commented on #286
@nadia847 Aaaah! I thought that would be the case. Great, thanks for clarifying. will move to done

[2017-10-11 10:57] Maria-alnap commented on #288
@russ-manta @nadia847 thanks for this. Any chance you could tweak it so that it shows up a bit thinner?

[2017-10-11 10:57] Maria-alnap commented on #291
This looks great now, thanks! I'll move to done

[2017-10-11 10:59] nadia847 commented on #286
@Maria-alnap yeah it was basically built just to do the white box on the contact us page :o)

[2017-10-11 11:00] nadia847 commented on #286
@Maria-alnap oh and I've reduced spacing between nuggets in the main content region so it should be easier to do this without content looking tot spaced out.

[2017-10-11 11:05] nadia847 commented on #288
@Maria-alnap is it better now?

[2017-10-11 11:17] Maria-alnap commented on #288
@nadia847 looking better. If we wanted it just to be a plain background, is that something you can tweak or we'd need to strip things back in our soundcloud account?

[2017-10-11 11:29] nadia847 commented on #288
@Maria-alnap I'm afraid you'll have to make that change in soundcloud.

[2017-10-11 12:37] ican-icant commented on #23
Done done @russ-manta

[2017-10-11 13:31] russ-manta opened #292 "Resource redirects"
We need to create redirects from all imported resources from their old url eg resource/id
http://www.alnap.org/resource/22855 to the new url in drupal
---
### Done criteria
- [x] Create process for creating redirects
- [x] Create redirects

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-11 13:48] russ-manta commented on #238
@dilwarhussain @nadia847 can we stup the new portals now please?

[2017-10-11 14:03] russ-manta opened #293 "Civi and mailchimp sync"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-11 14:40] meldera commented on #292
should be imported after resources

[2017-10-11 15:15] russ-manta opened #294 "Portals landing page"
Create new portals landing page which will sit in 'underneath' HELP library in the menu structure.
Portals will be removed from the HELP library landing page and instead added to this new page

---
### Done criteria
- [x] Create standard page for Portals with view of portals beneath like 'design' below
- [x] Remove portals from HELP library page

---
### ALNAP to check
- [ ] ?
- [ ] ?

![portals-n

[2017-10-11 15:18] russ-manta commented on #206
@meldera can you take a look at this? Note comments need to be migrated into DISCUS

[2017-10-11 15:29] russ-manta opened #295 "Community of practice"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-11 16:23] dilwarhussain commented on #30
@russ-manta Can you test this for me please. There needs to be something in the hero for the title to sit above it. Thanks.

[2017-10-11 16:45] angievanhegan opened #296 "Build portals landing page"
### Done criteria
- [x] Page built according to design
- [x] Page is dynamically populated (with the same content as appears on the HELP library landing page)
- [x] Page appears as a secondary nav item within HELP library
- [x] ALNAP are able to edit the top box
- [x] Add all the portal links for Urban, Syria, Principled and ECB and point to the live urls

---
### Designs
- [Portal landing page](h

[2017-10-11 16:46] angievanhegan commented on #296
@Maria-alnap @russ-manta @ican-icant This is the issue for the new portal page. Please can you all check the done criteria are correct and I've not missed anything. Thanks

[2017-10-11 17:05] angievanhegan commented on #111
@Maria-alnap @russ-manta Please can you check the done criteria.

[2017-10-11 17:36] nadia847 commented on #142
@dave-manta please let me know if there are any issues with either of the emails in outlook 2016, I have just sent you a couple of tests

[2017-10-11 18:10] angievanhegan commented on #261
@russ-manta @Maria-alnap This is the list of things we can live without if we need to for launch. Please check it and add as you see fit. Thanks! A

[2017-10-11 20:55] dave-manta commented on #142
@nadia847 unfortunately there are :(  I can show you...

[2017-10-12 12:02] Maria-alnap commented on #207
@russ-manta @nadia847 Would you please explain to me what I need to do/check here? I'm not sure. Thanks!

[2017-10-12 12:43] nadia847 commented on #207
@Maria-alnap use the sign up field in the footer to subscribe to your mailchimp list. If the email address ends up correctly subscribed: it works.

[2017-10-12 12:55] Maria-alnap commented on #207
@nadia847 haha, sounded more complicated than it was. Apologies! All checked and working well 👍

[2017-10-12 13:19] nadia847 commented on #207
@Maria-alnap perfect! 👍

[2017-10-12 14:21] nadia847 commented on #142
@Maria-alnap sent you a couple more emails both from Pipe Salom

[Test] Jobs & Consultancies

&

[Test] Event updates

[2017-10-12 14:33] russ-manta commented on #241
@nadia847 can you have a go at adding a job/resource/event as a member/user and see what's left from the list and anything else that needs doing?

[2017-10-12 14:45] Maria-alnap commented on #142
@nadia847 these look good, thanks! Would you pls explain how to do the tasks I have to tick above?

[2017-10-12 16:11] nadia847 commented on #142
1. change your mailchimp password 😜
2. Import the Jobs template into your account (link sent via slack)
3. Import the Events template into your account (also sent via slack)

_The next bit can probably be done after the site goes live so you have the proper RSS links  but you can test it with the dev feeds if you want_

4. Go to Campaigns > Create Campaign > Search for RSS and select "Share blog u

[2017-10-13 10:29] nadia847 opened #297 "Recommended resources order on mobile"
### Done criteria
- [x] ISSUE: Recommended resources should appear after Download resource (sidebar) on mobile

### ALNAP to check
- [ ] Recommended resources should appear after Download resource (sidebar) on mobile

[2017-10-13 13:05] #295 closed

[2017-10-13 13:13] russ-manta commented on #294
@cutlern can we reduce the spacing between the white box at the top and the portals beneath?

[2017-10-13 13:24] russ-manta opened #298 "Topics page responsiveness"
This page looks a bit odd in firefox 55.0.3
http://alnap-dev.mrmdev.co.uk/our-topics/coordination

---
### ALNAP to check
- [x] Tim to check - Responsiveness issue resolved

[2017-10-13 13:24] russ-manta commented on #298
![1](https://user-images.githubusercontent.com/25846670/31548281-48384c18-b022-11e7-9706-633db2eec7f2.png)

[2017-10-13 16:19] pipemanta commented on #272
It wasn't possible to fix the position of the Share buttons on iPad, there is not flexbox for iPad...

[2017-10-13 16:31] Maria-alnap commented on #70
All good. Will move to done

[2017-10-13 16:33] Maria-alnap commented on #281
@russ-manta Apologies, what am I meant to be checking here? I tried with a search in events but when I go back it doesn't go to the search results...

[2017-10-13 16:39] Maria-alnap commented on #297
@nadia847 the download button is not showing up on mobile, at least on this resource that I tried: http://alnap-dev.mrmdev.co.uk/help-library/responding-to-earthquakes-learning-from-earthquake-relief-and-recovery-operations

[2017-10-13 16:40] Maria-alnap commented on #243
@russ-manta I cannot check this yet as it would make more sense to do it once the final resource import has been done

[2017-10-13 17:40] nadia847 commented on #297
@Maria-alnap http://alnap-dev.mrmdev.co.uk/node/27395/edit this one has a file uploaded on Files > Main report files

As does http://alnap-dev.mrmdev.co.uk/node/32571/edit

The one you sent does not. The download button and cover are automatically generated from the Main report file field.

[2017-10-16 12:37] russ-manta commented on #285
@cutlern can you look at this one please?  ALNAP need to be able to show the timezone of an event on the content in the white box I think: http://alnap-dev.mrmdev.co.uk/events/3rd-asop-conference  we need a new field on Events that will show this, some kind of list they can choose from with eg GMT, GMT+1 etc

[2017-10-16 14:06] russ-manta opened #299 "HELP library - make filters selective"
### Done criteria
- [ ] Look at adding this functionality to the views selective module
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-16 14:57] #131 closed

[2017-10-16 15:16] #141 closed

[2017-10-17 12:05] meldera commented on #299
Isn't an option with search api.

[2017-10-17 12:12] russ-manta commented on #299
@meldera not strictly true as per this thread https://www.drupal.org/node/2548881 it needs someone to add the functionality with a patch(es), which could potentially be us.

the other option may be to use Facets.  This site which we took on from another client uses search api and facets and is selective: http://www.mhinnovation.net/resources , http://www.mhinnovation.net/admin/config/search/search

[2017-10-17 12:13] russ-manta commented on #299
@meldera this will be something for after go live

[2017-10-17 12:19] Maria-alnap commented on #142
@nadia847 I couldn't upload the templates to mailchimp. It is asking me to have an html file, not a link. Can you please send me that?

[2017-10-17 12:48] russ-manta opened #300 "Search members filter"
### Done criteria
- [x] Fix filter so that it expands and is usable : http://alnap-dev.mrmdev.co.uk/membership/members

[2017-10-17 12:50] russ-manta opened #301 "Resources organisation tag link"
### Done criteria
- [x] Should display as a link for published organisations linking to their node but text should display without link if the related organisation is unpublished

[2017-10-17 13:23] #281 closed

[2017-10-17 15:54] russ-manta opened #302 "Blog author title on card - remove"
### Done criteria
- [x] Remove eg Mr/Mrs from cards here: http://alnap-dev.mrmdev.co.uk/blogs

### ALNAP to check
- [ ] Check Mr etc removed from blog cards

[2017-10-18 05:41] russ-manta opened #303 "Resource import issues"
---
### Done criteria
- [ ] No ALNAP publications (there should be) - presumably none have been related to ALNAP
- [ ] Differing totals on HELP library of 14049 and 13790 resources - why
- [ ] 3 blank resource cards at top of HELP search
- [ ] Link field needs truncating on display eg. http://alnap-dev.mrmdev.co.uk/help-library/aid-the-real-exchange-rate-and-why-policy-matters-the-cases-of-morocco

[2017-10-18 08:47] russ-manta opened #304 "Shopping cart icon and placement"
Shopping cart icon needs checking and putting in the best location on the site.
### Done criteria
- [x] Design created
- [x] Theming to match design
- [ ] Move to live

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-18 08:48] russ-manta commented on #304
@cat-manta can you take a look at the ALNAP site with Steve and work out the best positioning for the shopping cart?  Thanks http://alnap-dev.mrmdev.co.uk/

[2017-10-18 09:23] russ-manta opened #305 "Resources breadrumb not showing title but instead 'menu postion rule'"
### Done criteria
- [ ] Fix breadcrumb to display title for resources eg. http://alnap-dev.mrmdev.co.uk/help-library/management-response-to-the-recommendations-of-the-summary-evaluation-report-niger

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-18 09:28] nadia847 commented on #142
@Maria-alnap I'll either need the new mailchimp password or for you to revert it (temporarily) to what it was before so i can try import those templates for you. if i send you the html, it will no longer be a drag and drop mailchimp template where you have flexibility to easily add other bits of content.

[2017-10-18 09:36] #305 closed

[2017-10-18 09:53] cat-manta commented on #304
@russ-manta Here's where the new icon is:
Files/PROJECTS/ALNAP website and CRM - 526/Design/Assets/basket.svg

It's fine where it is, it just needs to be centred like the social media icons.

[2017-10-18 09:57] russ-manta commented on #304
@cat-manta Thanks
@cutlern can you style the shopping cart icon accordingly please?

[2017-10-18 10:02] Maria-alnap commented on #142
@nadia847 no problem! Here's the new password: #xzq$jJFs6n7

[2017-10-18 10:08] russ-manta opened #306 "Add count of number of items in resources and content VBO views"
### Done criteria
- [ ] Can view number of nodes in view at top of the page
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-18 10:17] matty-manta opened #307 "Promo padding"
When adding the "Under Construction" promo to a page, there is a large area of padding above the title.

### Done criteria
- [x] Padding removed

---
### ALNAP to check
- [ ] Padding removed

[2017-10-18 10:20] dave-manta opened #308 "Organisation node / civi / taxonomy reference tweaks"
### To do
- [x] Hide title field on org content type
- [x] Disable editing Civi reference field
- [x] Prevent web editor editing organisation vocabulary
- [x] Disable rule that deleted organisation on update Civi contact

[2017-10-18 10:31] cutlern opened #309 "Fix org nodes"
### To do
- [x] Views
- [x] Use Civi fields

[2017-10-18 10:35] dilwarhussain opened #310 "Blog node blog author image"
On the blog node, the design for the blog author on the RHS has a smaller landscape image with curved bottom right corner.

http://alnap-dev.mrmdev.co.uk/blogs/a-thought-for-world-humanitarian-day

### Done criteria
- [ ] Add new image field for profile image
- [ ] Add cropper to user image field
- [ ] Change image style for view on blog node and also on user profile page
- [ ] Copy existing user

[2017-10-18 10:40] nadia847 commented on #142
@Maria-alnap ok added the templates to your account. Had to recreate the links, not sure what happened to the old ones to stop them working but all done now!

[2017-10-18 11:25] russ-manta commented on #111
@cutlern can you pick this one up please. There are a few things that need tweaking.
1. Ability to add to homepage content type so we can add to portals homepages
2. Ability to add a title above all 4 items eg 'Community of Practice'
3. Jump links seem to be displayed twice in error

[2017-10-18 13:17] russ-manta opened #311 "Import user photos from old site?"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-18 13:51] dave-manta commented on #308
@meldera as a web editor I can't see the taxonomy vocab at all.  Is this unrelated?

[2017-10-18 15:48] russ-manta opened #312 "Hide links for submitting content?"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-18 18:10] russ-manta opened #313 "Events blank box in RHS when contact details empty"
### Done criteria
- [ ] No blank box on RHS if content empty on Events, see screenshot below

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] No blank box on RHS if content empty on Events, see screenshot below

<img width="476" alt="events contact" src="https://user-images.githubusercontent.com/25846670/31734866-f5235d32-b437-11e7-9bc2-67bd17d22242.PNG">

[2017-10-19 08:38] russ-manta opened #314 "Portals bugs"
### Done criteria
- [x] Remove PDF covers from all resources in the portal resources search, Same as we have done in the main help library, see here: http://alnap-domain1.mrmdev.co.uk/resources
- [x] 'Search library' button on home is linking to http://alnap-domain1.mrmdev.co.uk/resources for all portals it should link to the domain that you are on see: http://alnap-ecb.mrmdev.co.uk/
- [x] Favicon

[2017-10-19 08:41] russ-manta opened #315 "Submit resource, event etc buttons for live"
### Done criteria
- [x] Create a page called 'coming soon' or similar
- [x] Unpublish existing pages for Add a resource etc eg. http://alnap-dev.mrmdev.co.uk/help-library/add-a-resource
- [x] Repoint all buttons/links for adding events/resource/jobs to this coming soon page eg. the buttons found here: http://alnap-ecb.mrmdev.co.uk/ , http://alnap-dev.mrmdev.co.uk/events , http://alnap-dev.mrmdev.c

[2017-10-19 08:43] russ-manta commented on #315
@ican-icant @dave-manta rather than removing these buttons should we just redirect them to some kind of holding page for now saying this functionality is coming soon?
eg the buttons found here: http://alnap-ecb.mrmdev.co.uk/ , http://alnap-dev.mrmdev.co.uk/events , http://alnap-dev.mrmdev.co.uk/help-library, http://alnap-dev.mrmdev.co.uk/user etc

[2017-10-19 09:36] matty-manta opened #316 "Promo content type - "Find out more""
### Done criteria
- [ ] Field added to let editor change text on this button.

---
### ALNAP to check
- [ ] Can edit button text

[2017-10-19 09:37] matty-manta commented on #307
@Maria-alnap this is done now - take a look.

Matty

[2017-10-19 09:38] russ-manta commented on #243
@Maria-alnap resources are all in but this is really about creating new resources. Anywa one to be reviewed next week now I think

[2017-10-19 09:42] russ-manta opened #317 "Resource download button missing"
### Done criteria
- [x] Reinstate button eg here: http://alnap-dev.mrmdev.co.uk/help-library/responding-to-earthquakes-learning-from-earthquake-relief-and-recovery-operations or upload missing file

---
### Designs
- [ ]  https://projects.invisionapp.com/d/main#/console/10292473/236943102/preview
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-19 09:47] russ-manta commented on #296
@cutlern can you add all the portal links for the live portal urls so they point to the old sites.
http://www.urban-response.org/
http://www.syrialearning.org/
http://www.principlesinpractice.info/
http://www.ecbproject.org/

[2017-10-19 09:55] russ-manta commented on #226
@meldera can you check if there's anything left to do here?

[2017-10-19 09:59] russ-manta commented on #296
@Maria-alnap logos and some text above need adding for the portals: http://alnap-dev.mrmdev.co.uk/help-library/portals

[2017-10-19 10:07] russ-manta commented on #206
@cutlern we have some blog comments to import into Disqus and I think there are also some dummy ones to remove. Let me know when you're ready to talk about this

[2017-10-19 10:09] #312 closed

[2017-10-19 10:17] russ-manta opened #318 "Homepage large promo resource card missing fields"
### Done criteria
- [x] Can we add in author and org like other resource cards and as shown in the design
- [ ] ?

---
### Designs
- [ ] https://projects.invisionapp.com/d/main#/console/10292473/235626263/preview
- [ ] ?

---
### ALNAP to check
- [x] Can we add in author and org like other resource cards and as shown in the design

[2017-10-19 11:13] meldera commented on #317
Is there a file that can be downloaded?

[2017-10-19 11:15] meldera commented on #313
Looks like this is fixed already: http://alnap-dev.mrmdev.co.uk/events/humanitarian-evidence-programme-whats-the-state-of-the-evidence

[2017-10-19 11:17] russ-manta commented on #317
@meldera can you reassign to me instead of closing please?  In this case it looks like this is one of the files that was in all caps before. Can you check to see if there is a similar file naem to the PDF cover and uplado the file to this resource please? http://alnap-dev.mrmdev.co.uk/node/48004/edit

[2017-10-19 11:22] dave-manta opened #319 "User registration"
### To do
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

---

### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-19 11:42] russ-manta commented on #310
@dilwarhussain done criteria updated

[2017-10-19 11:44] russ-manta commented on #233
@meldera can you do anything with this? you mentioned something about a fade?

[2017-10-19 13:46] russ-manta opened #320 "Assign resources to portals based on internal_tags/tags"
Urban = 461
Syria = 589
ECB = 659 - done
Principles in Practice = 681

see tags.txt attached for previous tag ids>tags
[alnap-tag-ids.txt](https://github.com/MantaRayMedia/alnap/files/1398539/alnap-tag-ids.txt)

---
### Done criteria
- [x] Resources for all 4 portals above have been assigned to relevant domains (using Add from resources vbo view)

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to

[2017-10-19 14:29] russ-manta opened #321 "Assign users to ALNAP domain"
All users need to be assigned to the ALNAP domain otherwise they can't login
### Done criteria
- [ ] Build VBO view to do this
- [ ] Execute
- [ ] Adjust civicrm rule/add new rule so that when new users are created they are assigned the default domain

### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-19 14:52] #293 closed

[2017-10-19 15:05] #321 closed

[2017-10-19 15:18] meldera commented on #233
I mentioned something about how it works  -  that truncated element gets replaced by another one, with full text... and it being nearly impossible to animate this because of that.

[2017-10-19 15:29] russ-manta commented on #233
@meldera no problem I'll move to out of scope for now

[2017-10-19 15:41] russ-manta opened #322 "Padding missing in Annual meeting event pages"
### Done criteria
- [x] Fix LH padding eg http://alnap-dev.mrmdev.co.uk/events/annual-meetings/31st-annual-meeting-changing-humanitarian-action
- [x] The jump to buttons are not showing

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [x] Fix LH padding eg http://alnap-dev.mrmdev.co.uk/events/annual-meetings/31st-annual-meeting-changing-humanitarian-action
- [x] The jump to buttons are n

[2017-10-19 15:54] russ-manta opened #323 "RSS feeds redirect?"
http://www.alnap.org/rss/general.aspx - http://alnap-dev.mrmdev.co.uk/rss.xml
http://www.alnap.org/rss/news.aspx - http://alnap-dev.mrmdev.co.uk/rss.xml
http://www.alnap.org/rss/blogs.aspx - http://alnap-dev.mrmdev.co.uk/rss.xml
http://www.alnap.org/rss/events.aspx - http://alnap-dev.mrmdev.co.uk/events/rss.xml
http://www.alnap.org/rss/vacancies.aspx - http://alnap-dev.mrmdev.co.uk/jobs/rss.xml
ht

[2017-10-19 16:24] russ-manta commented on #315
@cutlern are these all done now?

[2017-10-19 16:45] Maria-alnap commented on #307
Cool!

[2017-10-19 18:03] russ-manta opened #324 "Double click needed on more button"
### Done criteria
- [x] This page - http://www.alnap.org/our-topics/coordination remove requirement for double click

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [x] This page - http://www.alnap.org/our-topics/coordination remove requirement for double click
- [ ] ?

[2017-10-19 20:06] dave-manta commented on #147
@nadia847 couple of changes.
- [ ] If not social fields are provided, "find me on" should be hidden
- [ ] If an incorrect URL is put in, it looks to take the linkedin profile by default?

[2017-10-19 20:52] cutlern commented on #206
Couple of accounts need verification before their comments (and the ones after) can be added

juanluis.dg@gmail.com / ai.sumihira@gmail.com

[2017-10-20 08:32] russ-manta opened #325 "Bugs"
### Dependencies
- [x] Events/Past events year in red box gets smaller after you load more Fix styling issue
- [x] Members toggle view toggles both (maybe hide second toggle)
- [x] Hide internal fields in ALNAP themes for Resource, jobs and events content type
- [x] No download file on resources for multiple files, eg. http://alnap-dev.mrmdev.co.uk/node/46930/edit need to list all files
- [x] Reso

[2017-10-20 09:00] ican-icant opened #326 "Author page needs fixing - styling gone wrong"
http://alnap-dev.mrmdev.co.uk/users/john-mitchell

[2017-10-20 09:08] ican-icant opened #327 "Steve's bugs and issues"
- [x] Site speed: Seems a little slow - ARSENI
- [x] Creating an account: Image upload is on password page which is silly - let's move to details page plus the crop feature is confusing,. It does not explicitly say you need to edit your image, which is should.  - DAVE
- [x]  It may be a content issue; but when I click the register button there is no info on what I'm registering for... [http://alna

[2017-10-20 09:29] russ-manta opened #328 "Remove Undefined text from jump links if no sub topics added"
### Done criteria
- [ ] Remove/hide undefined text eg. here: http://alnap-dev.mrmdev.co.uk/our-topics/innovation
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [x] Remove/hide undefined text eg. here: http://www.alnap.org/our-topics/innovation
- [ ] ?

[2017-10-20 09:30] russ-manta commented on #206
[blog_comment_issues.zip](https://github.com/MantaRayMedia/alnap/files/1401416/blog_comment_issues.zip)

Blog comment issues

[2017-10-20 11:16] ican-icant commented on #310
Blog authors look good on sidebar - thanks @dilwarhussain

[2017-10-20 12:59] meldera commented on #319
I've hidden the error messages. Theme needs to be updated on the live site.

[2017-10-20 13:24] dave-manta commented on #319
@meldera when and who will do that?

[2017-10-20 13:59] dilwarhussain commented on #326
@ican-icant Fixed on dev: http://alnap-dev.mrmdev.co.uk/users/john-mitchell
Will also be fixed on live when we roll out our styling changes to live later today.

[2017-10-20 15:26] #75 closed

[2017-10-20 15:26] #163 closed

[2017-10-20 15:26] #207 closed

[2017-10-20 15:26] #228 closed

[2017-10-20 15:26] #282 closed

[2017-10-20 15:26] #285 closed

[2017-10-20 15:26] #286 closed

[2017-10-20 15:26] #288 closed

[2017-10-20 15:26] #291 closed

[2017-10-20 15:26] #297 closed

[2017-10-20 15:26] #302 closed

[2017-10-20 15:26] #307 closed

[2017-10-20 15:26] #38 closed

[2017-10-20 15:26] #41 closed

[2017-10-20 15:26] #94 closed

[2017-10-20 15:26] #252 closed

[2017-10-20 15:26] #267 closed

[2017-10-20 15:26] #270 closed

[2017-10-20 15:26] #274 closed

[2017-10-20 15:26] #275 closed

[2017-10-20 15:26] #277 closed

[2017-10-20 15:26] #278 closed

[2017-10-20 15:26] #279 closed

[2017-10-20 15:26] #280 closed

[2017-10-20 15:26] #283 closed

[2017-10-20 15:26] #284 closed

[2017-10-20 15:26] #290 closed

[2017-10-20 15:26] #67 closed

[2017-10-20 15:26] #69 closed

[2017-10-20 15:26] #71 closed

[2017-10-20 15:26] #85 closed

[2017-10-20 15:26] #91 closed

[2017-10-20 15:26] #213 closed

[2017-10-20 15:26] #221 closed

[2017-10-20 15:26] #249 closed

[2017-10-20 15:26] #255 closed

[2017-10-20 15:26] #256 closed

[2017-10-20 15:26] #269 closed

[2017-10-20 15:26] #271 closed

[2017-10-20 15:26] #29 closed

[2017-10-20 15:26] #70 closed

[2017-10-20 15:26] #132 closed

[2017-10-20 15:26] #137 closed

[2017-10-20 15:26] #183 closed

[2017-10-20 15:26] #201 closed

[2017-10-20 15:26] #225 closed

[2017-10-20 15:26] #254 closed

[2017-10-20 15:26] #263 closed

[2017-10-20 15:26] #276 closed

[2017-10-20 15:26] #287 closed

[2017-10-20 15:26] #294 closed

[2017-10-20 15:26] #300 closed

[2017-10-20 15:26] #301 closed

[2017-10-20 15:26] #306 closed

[2017-10-20 15:31] russ-manta commented on #241
@nadia847 is this ready for review?

[2017-10-20 15:33] #133 closed

[2017-10-20 15:34] russ-manta commented on #311
won't fix - images are too  small

[2017-10-20 15:36] russ-manta commented on #314
@pipemanta can you ask Dilwar if you have any questions about this

[2017-10-20 15:36] russ-manta commented on #238
@pipemanta this may all be done - can you check with @dilwarhussain

[2017-10-20 15:37] russ-manta commented on #235
@pipemanta can you check with Dilwar if anything left here?

[2017-10-20 15:38] russ-manta commented on #272
@pipemanta is there anything left here?

[2017-10-20 15:39] russ-manta commented on #327
@meldera can you look at these with @pipemanta if needed please?

[2017-10-20 15:41] russ-manta commented on #241
@dave-manta can you check with @nadia847 if anything needed and then test before assigning any issues to @meldera

[2017-10-20 15:44] russ-manta commented on #206
@Maria-alnap we've added most of the comments now. Unfortunately it wouldn't let us add the original dates but we've added them in date order.  There are a few outstanding in the blogs_comments_issues.zip file above which we can;t add as these people don't have disqus accounts.  Do you want us to add these under another name, add and get them to verify their emails address (ie sned them an email t

[2017-10-20 15:45] russ-manta commented on #126
@meldera we now have x64 on live and it's pulling in the tweets but not all images can you see if anything can be done?

[2017-10-20 15:46] russ-manta commented on #243
@dave-manta can you review this one please?

[2017-10-20 15:52] russ-manta commented on #326
@ican-icant can you review and then assign to pipe/arseni to put live

[2017-10-20 15:52] #317 closed

[2017-10-20 15:53] #310 closed

[2017-10-20 15:54] #86 closed

[2017-10-20 15:54] #129 closed

[2017-10-20 15:54] #134 closed

[2017-10-20 15:54] #247 closed

[2017-10-20 15:54] #260 closed

[2017-10-20 15:56] russ-manta commented on #236
@pipemanta linkchecker is installed on live but needs configuring. Can you configure and the run the checker and finally share the report page with ALNAP so they can fix any broken links.  For conig just copy setup at LSTM or simila - then need to run cron to generate report

[2017-10-20 15:56] angievanhegan commented on #23
@matty-manta Please can you show ALNAP how to edit these? thanks

[2017-10-20 16:02] russ-manta commented on #111
@meldera can you see the 3 issues above and fix any outstanding - discuss with Nelle

[2017-10-20 16:03] meldera commented on #319
"After submitting email, Drupal user account is active. Should it not be pending?"

According to the following setting it should not.

[2017-10-20 16:06] #139 closed

[2017-10-20 16:06] #138 closed

[2017-10-20 16:07] russ-manta commented on #304
@pipemanta can you check what needs doing here with nelle?

[2017-10-20 16:08] #261 closed

[2017-10-20 16:11] russ-manta opened #329 "Move DNS for alnap domains to MRM"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-23 07:46] Maria-alnap commented on #142
@nadia847 great! I'll sort this out later this week.

[2017-10-23 09:22] Maria-alnap commented on #298
All looking good!

[2017-10-23 09:24] Maria-alnap commented on #30
All working well on these pages now. I'll move to done

[2017-10-23 09:25] Maria-alnap commented on #318
This is working now. Will move to done

[2017-10-23 09:28] Maria-alnap commented on #313
All working well here as well. I'll move to done :)

[2017-10-23 09:29] Maria-alnap commented on #322
All looking good here! Will move to done

[2017-10-23 09:31] Maria-alnap commented on #245
@nadia847 What is it that I have to check here? (Apologies, with Russ away I'm unsure!)

[2017-10-23 09:33] Maria-alnap commented on #206
@russ-manta @cutlern please do!

[2017-10-23 09:35] Maria-alnap commented on #324
All looking good. Will move to done

[2017-10-23 10:14] cutlern commented on #206
@Maria-alnap Sorry, do you mean you want us to add them or leave them?

[2017-10-23 10:32] nadia847 opened #330 "Honey pot/captcha on registration form"
Prevent spammy sign up accounts

[2017-10-23 11:15] dave-manta commented on #308
@meldera your thoughts on my question above?

[2017-10-23 11:21] dave-manta commented on #64
@dilwarhussain need a different notification for when someone is logged in with a non-member account, along the lines of...

This resource is for members only.  You are currently logged in as a non-member.  If you believe you should be a member of ALNAP, please contact us.

Link through to the contact us page.

[2017-10-23 11:30] dave-manta commented on #245
@Maria-alnap I believe this is all done, but let's discuss as part of our review of registration / login.

[2017-10-23 11:58] nadia847 opened #331 "Events load more Grouping bug"
When you load more events, the November date grouping box is duplicated

[2017-10-23 13:21] Maria-alnap commented on #206
@cutlern please add them, I meant!

[2017-10-23 13:27] Maria-alnap commented on #166
@dave-manta  Not sure what I should be looking at here...

[2017-10-23 13:49] dilwarhussain commented on #30
Hi @Maria-alnap
To get this working with the sub-topics, you need to check all three of the checkboxes in the sub-topics tab, 'Hide title' 'Hide RHS' and 'Hide details' and if you're happy with the changes you need to publish that node using the 'Revision' tab.

Here's a link to the same annual event on the dev site with the checkboxes checked for you to have a look.

[2017-10-23 14:30] Maria-alnap commented on #127
This looks and works OK.

[2017-10-23 14:31] Maria-alnap commented on #245
@dave-manta Don't think that we touched on this earlier?

[2017-10-23 14:33] Maria-alnap commented on #296
All good. Will add those later in the week.

[2017-10-23 15:18] dave-manta commented on #245
@Maria-alnap nope we didn't in the end. Didn't want info overload?!  Whenever you want...

[2017-10-24 11:37] dilwarhussain commented on #64
@dave-manta Test this out on dev for me please.

[2017-10-24 12:39] Maria-alnap commented on #30
@dilwarhussain thanks! All clear now 👍

[2017-10-24 12:40] Maria-alnap commented on #166
Gone through sign up process and updated wording where required. Will move to done

[2017-10-24 13:49] nadia847 opened #332 "Non member events - contributor field"
There's a bit of quirk when adding events on the back end - every time I create one for a non-member and set the contributor to 'none', it seems to revert it to listing as a Member. Then I go back in and edit it, and it works the second time? Am I doing something wrong?

[2017-10-24 13:51] nadia847 opened #333 "Dummy text on card hover"
See "why ALNAP?" card here: https://www.alnap.org/about under "who we are"

[2017-10-24 13:54] nadia847 opened #334 "Member orgs - missing address fields"
some Members addresses in Civi are not getting fully spit out on the Member pages. See https://www.alnap.org/membership/members/danida (the main line of the address is missing)

https://www.alnap.org/membership/members/danish-refugee-council another one: address reads "3rd floor, Copenhagen"

[2017-10-24 14:02] nadia847 opened #335 "Error generating images"
Logo not showing up here https://www.alnap.org/federal-foreign-office-germany

[2017-10-24 14:19] angievanhegan opened #336 "Retain search results when returning to search after viewing a resource"
#Maria believes that the journey people will take is to go to search, enter search criteria, select one resource from the results, review it, then go back to the search - where they'd like to see the previous search results.

---
### Done criteria
- [x] Add pagination to search results and remove 'load more' button
- [x] Ensure search still works ok
- [x] User can select an item from the search re

[2017-10-24 14:19] angievanhegan commented on #336
@Maria-alnap Please can you confirm I've captured this correctly before I ask Arseni to estimate it? Also, can you confirm which searches it should relate to? Thanks very much

[2017-10-24 15:05] matty-manta commented on #333
Cards are displaying summaries from other languages when you remove the english summary text.

Eg:

https://i.imgur.com/V9Xq4Gt.png

displays on box link on this page:

http://alnap-dev.mrmdev.co.uk/about

From this node:

http://alnap-dev.mrmdev.co.uk/why-alnap

[2017-10-24 16:27] dave-manta commented on #245
@Maria-alnap I believe all you need to do is add the organisaton in Civi, for brand new organisations that you want to add to your site.

[2017-10-24 16:31] dave-manta commented on #64
@dilwarhussain yep, put this live!

[2017-10-25 09:21] nadia847 opened #337 "Post launch hiccoughs"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-25 10:34] Maria-alnap commented on #336
@angievanhegan This is what we need, thanks!

[2017-10-25 14:18] angievanhegan commented on #336
Hi @meldera - please could you estimate how long this might take. It's important for @Maria-alnap  and we might need to prioritise it over other issues. Thank you.

[2017-10-25 14:24] angievanhegan commented on #336
From Arseni: this is a relatively quick one, but would require ditching "load more" button in favour of a regular pager

[2017-10-25 14:26] angievanhegan commented on #336
@meldera so all the results relevant to the search request would load, which might slow down the delivery of the search results? How many points would it be to do it if:

1. we lose the 'load more' button
2. we don't lose the 'load more' button

Thanks

[2017-10-26 07:19] meldera commented on #336
I'd estimate a couple to a few hours. #2 is not an option.

[2017-10-26 10:56] nadia847 opened #338 "Resource node edit issues"
Issues for Russ
- [x] Check why cover images are not being generated for resources by sanguinettichloe_568 - might be related to  issue 335

Issues for Arseni
- [ ] Problem when IDP/refugees tag has been chosen as the first tag – you then can’t add any other tags

[2017-10-26 13:59] angievanhegan commented on #336
@meldera so if Maria really doesn't want to lose the 'load more' button, are there any alternatives?
 Such as having a list of pages of search results?

[2017-10-26 14:11] cutlern commented on #338
@nadia847 okay with the subtitle size here? http://alnap-dev.mrmdev.co.uk/help-library/how-governments-learn

[2017-10-26 14:51] meldera commented on #338
Problem with / in tags is drupal core issue. Shall I try a patch? Or perhaps just rename the term?..

[2017-10-26 14:53] meldera commented on #338
Covers not being generated is a server issue...

[2017-10-26 15:21] nadia847 opened #339 "Uploading profile pics"
there seems to be an issue with uploading profile pics. "when I reset my password it it wouldnt let me upload a profile photo. Less urgent but just FYI. I selected the file, click upload, it refreshes, but then nothing happened and the file name disappears and nothing is uploaded. I gave up but now can't find anywhere to try again – the upload picture option isn’t in ‘edit my details’. Just flaggi

[2017-10-26 15:27] nadia847 opened #340 "Resource node display issues"
- [x] Display subtitle above details box
- [x] Display subtitle on resource card

## ALNAP criteria
- [ ] Display subtitle above details box
- [ ] Display subtitle on resource card

[2017-10-26 15:28] nadia847 commented on #340
okay with the subtitle size here? http://alnap-dev.mrmdev.co.uk/help-library/how-governments-learn

[2017-10-26 16:01] meldera commented on #325
Removed editor permission to "administer content"

[2017-10-26 16:39] nadia847 opened #341 "Redirects showing page not found"
See https://www.alnap.org/sohs-2018-survey in incognito/private browsing

[2017-10-27 13:41] angievanhegan opened #342 "Setup crazy egg on homepage and HELP library"
We want to see if many people are clicking on the 'HELP' logo.

---
### Done criteria
- [ ] Setup Crazy Egg
- [ ] Capture details after 1 week
- [ ] Share details with ALNAP

[2017-10-27 13:41] angievanhegan commented on #342
@Maria-alnap FYI

[2017-10-27 13:44] angievanhegan opened #343 "Sort out all portal domains"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-27 14:19] Maria-alnap opened #344 "Translations of resources to show up in cards when available"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-27 14:20] Maria-alnap commented on #344
We translate most of the resources that we produce, hence it would be good if this could be pulled into cards for the English version of those resources.

[2017-10-27 14:22] Maria-alnap opened #345 "Update styling for text in About content type pages"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-27 14:23] Maria-alnap commented on #345
e.g. https://www.alnap.org/become-a-member

[2017-10-27 14:23] Maria-alnap commented on #345
Steve suggested that margins on the page could be tweaked?

[2017-10-27 14:24] Maria-alnap opened #346 "Add subtopic buttons to About content type"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-10-27 14:25] Maria-alnap commented on #346
We need to be able to jump to content further down the page in About pages. We thought re creating the subtopic buttons would sort this out. Dave mentioned these may need to be set up as nuggets throughout the site.

[2017-10-27 14:26] Maria-alnap opened #347 "Set up CrazyEgg on HELP homepage and homepage itself to check whether users click on HELP logo as button"
# Done criteria
- [ ] ?
- [ ] ?

# Designs
- [ ] ?
- [ ] ?

# ALNAP to check
- [ ] ?
- [ ] ?

[2017-11-01 15:21] Maria-alnap commented on #340
Size looks okay! Looks a little odd not being as indented as the title text, perhaps. Could we shift it in a bit, or perhaps include it (as a smaller size) within the blue and orange bracket things? Also, will this display in cards, or just on the page? (Tim)

[2017-11-01 18:43] angievanhegan commented on #234
@russ-manta can I move #135 and #224 out of the sprint backlog and onto the backlog (along with this sprint goal? Thanks

[2017-11-03 14:42] Maria-alnap commented on #219
With the could we swap the member update (maybe four on a row in a slider for more?) and the bookmarked resources around on the user page? They get a little lost all the way down at the bottom

[2017-11-03 15:07] Maria-alnap commented on #206
I found a few missing in a quick survey, I've detailed them below (didn't go through all the blogs). Are these due to missing email addresses/accounts, if so do we have a work around? (Tim)

['New year new you'](https://www.alnap.org/blogs/new-year-new-you-what-the-whs-can-learn-from-failed-new-year%E2%80%99s-resolutions) had three comments on it previously (Ephraim Amos, Carlisle Levine, John Bor

[2017-11-03 15:21] cutlern commented on #206
Hi Maria! A few of these are identified in the blog comment issues zip above:

-'New year new you': John Borton's comment needed ALNAP moderating, Carlisle Levine's comment need's ALNAP verification.
-'Is palliative care in humanitarian crises a luxury?' these comments will be added once Juan-luis Dominguez's account is sorted
-'A hunter gatherers response to the Indian Ocean Tsunami; an aspiratio

[2017-11-03 15:47] Maria-alnap commented on #206
Hi @cutlern! Apologies - it's Tim pretending to be Maria (she's on leave this week). I'm not totally up to speed on this, so I'm sorry if I'm going over old ground/being confusing:

- New year new you: where would these be moderated/verified? I've just logged into our Disqus account but I can't see any outstanding comments...
- Ephraim Amos: sorry, that one was my mistake, ignore me! I was going b

[2017-11-03 15:55] Maria-alnap commented on #315
@russ-manta there's no criteria to check here - how should I proceed?

[2017-11-03 16:19] #108 closed

[2017-11-03 16:19] #140 closed

[2017-11-03 16:24] Maria-alnap commented on #219
@russ-manta

also, in addition to the above comment, how might we edit/update the bio as displayed here? http://alnap-dev.mrmdev.co.uk/users/mr-admin-admin

[2017-11-03 16:24] #334 closed

[2017-11-03 16:24] #30 closed

[2017-11-03 16:24] #64 closed

[2017-11-03 16:24] #118 closed

[2017-11-03 16:24] #166 closed

[2017-11-03 16:24] #216 closed

[2017-11-03 16:24] #226 closed

[2017-11-03 16:24] #245 closed

[2017-11-03 16:24] #298 closed

[2017-11-03 16:24] #309 closed

[2017-11-03 16:24] #313 closed

[2017-11-03 16:24] #318 closed

[2017-11-03 16:24] #322 closed

[2017-11-03 16:24] #324 closed

[2017-11-03 16:24] #326 closed

[2017-11-03 16:24] #328 closed

[2017-11-03 16:24] #127 closed

[2017-11-03 16:24] #210 closed

[2017-11-03 16:24] #214 closed

[2017-11-03 16:24] #234 closed

[2017-11-03 16:24] #337 closed

[2017-11-03 16:39] russ-manta commented on #340
@nadia847 can you take a look at this please?

[2017-11-03 16:49] #135 closed

[2017-11-03 16:49] #224 closed

[2017-11-03 16:49] #272 closed

[2017-11-03 16:49] #339 closed

[2017-11-03 16:49] #341 closed

[2017-11-03 16:51] angievanhegan opened #348 "Barbara Streisand mop up"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-11-03 16:52] #235 closed

[2017-11-03 16:54] #315 closed

[2017-11-03 16:59] #335 closed

[2017-11-03 17:01] #327 closed

[2017-11-06 14:32] nadia847 commented on #340
@Maria-alnap
![screen shot 2017-11-06 at 12 25 18](https://user-images.githubusercontent.com/29143619/32441057-b367bb94-c2ed-11e7-9c56-b4e2b34e3429.png)

Cat and I are both certain that the indented title looks weird and that it;s better when it's aligned with the white box below.

It should definitely not go in the brackets with the main page title especially because this title is likely to be so

[2017-11-07 12:33] Maria-alnap commented on #340
Hey @nadia847 - yeah, agreed that it looks weird! Let's go back to the white box align. And could you should us what it would look like if the subtitle did display in the cards? Additionally, would there be the option to turn it on/off for particular cards? (I guess by not adding any subtitle? Sorry - thinking out loud here!)

[2017-11-09 11:41] nadia847 commented on #340
@Maria-alnap lucky I didn't change it then :o)

This is what the strap line could look like:

![screen shot 2017-11-09 at 11 35 13](https://user-images.githubusercontent.com/29143619/32603579-249a7878-c542-11e7-82d7-216a510e7276.png)

If you wanted to turn it on/off for particular cards, you could either maybe use the card summary field for subtitles you want on cards or we could have a checkbox w

[2017-11-09 14:57] russ-manta opened #349 "Add test portal domain for ALNAP to use"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-11-09 17:29] nadia847 opened #350 "Help library text"
Changed header text on resources landing page

[2017-11-13 10:53] nadia847 opened #351 "Member load more replicates associated members"
after you click ‘more’, associated members get reattached to the full members.

![image](https://user-images.githubusercontent.com/29143619/32722044-84b6ed9c-c860-11e7-887e-053d613573a5.png)

[2017-11-13 11:30] nadia847 commented on #351
@Maria-alnap we have a few options for a way forward with this issue:

1. We display all 87 members on the page
2. We separate out associate members into a separate "view" which means the filters will no longer applied to associate members, only full but as there are only 14 associated members this shouldn;t really be an issue
3. We switch the load more into a regular (numbered) pager.

How would

[2017-11-13 15:35] #342 closed

[2017-11-13 15:37] nadia847 commented on #340
@Maria-alnap have you decided based on the screenshot above whether you want subtitles on resource cards?

[2017-11-15 13:50] meldera commented on #336
this can be tested on alnap-dev.mrmdev2.co.uk (same login details as live site)

[2017-11-17 14:11] #349 closed

[2017-11-17 14:11] #330 closed

[2017-11-17 14:11] #248 closed

[2017-11-17 14:14] #343 closed

[2017-11-17 14:21] meldera commented on #338
https://www.drupal.org/project/autocomplete_post
https://www.drupal.org/project/autocomplete_hack

[2017-11-21 11:13] Maria-alnap commented on #142
@angievanhegan @nadia847 @russ-manta I haven't set this up yet as I've been waiting for the jobs and events set up to be sorted. Consider this issue on stand by and dependent on the set up of these two.

[2017-11-21 11:18] Maria-alnap commented on #111
@meldera @cutlern @russ-manta @angievanhegan Where is this at?

[2017-11-21 11:19] #350 closed

[2017-11-21 11:20] #351 closed

[2017-11-21 11:21] Maria-alnap commented on #336
@nadia847 @russ-manta this looks like it has been sorted?

[2017-11-21 11:23] Maria-alnap commented on #15
@matty-manta @russ-manta where are we at with this? Not sure we've been explained what @angievanhegan says above

[2017-11-21 11:24] Maria-alnap commented on #340
@nadia847 please go ahead and include them. Also, it would be great if we could have an answer to the date display issue. Thanks!

[2017-11-21 11:30] russ-manta commented on #111
@Maria-alnap this is done. I think @dilwarhussain  gave tim some training on it a week or so ago

[2017-11-21 11:39] russ-manta commented on #15
@Maria-alnap I went through this on one of the conf calls a while back. It's done using this url https://www.alnap.org/admin/content/resources  you search for the resources using this form, check the ones which are relevant and then from the operations drop down choose 'Modify entity values' . You then select the tags checkbox, add tags you want and then check 'Add new value(s) to Tags, instead of

[2017-11-21 11:40] russ-manta commented on #336
@Maria-alnap yes this is now fixed on live

[2017-11-21 11:42] Maria-alnap commented on #111
@dilwarhussain @russ-manta not sure there's an rss nugget enabled on topic pages...

[2017-11-22 11:15] nadia847 commented on #340
@Maria-alnap I'm sorry I assumed the display date issue was fixed. we're looking into this now and will get back to you!

[2017-11-22 11:35] russ-manta commented on #340
@Maria-alnap I'm picking this up. With the date display how do you want it to work differently to the moment. At the moment it's just using the published date field and the other date fields 'Date display mode' and 'Diplay date override' are not used - do these need to work - is that the issue?

[2017-11-22 11:42] Maria-alnap commented on #340
@russ-manta when selecting to just show month and year, for example, that is not working...

[2017-11-23 10:14] russ-manta commented on #111
@Maria-alnap in research topics there's an RSS nugget in the hero section https://www.alnap.org/node/add/research-topic

[2017-11-23 11:31] Maria-alnap commented on #111
@russ-manta, thanks! So what URL do I have to put there for the CoP feeds?

[2017-11-23 13:24] #320 closed

[2017-11-23 15:00] russ-manta commented on #111
@meldera can you investigate why no feed items are appearing on this page https://www.alnap.org/our-topics/evaluation beneath 'Humanitarian Evaluation Community of Practice'  the RSS nugget appears to be populated correctly

[2017-11-24 14:48] nadia847 opened #352 "Member text search"
No results returned when searching for something

![image](https://user-images.githubusercontent.com/29143619/33215173-ab073d02-d126-11e7-9d54-aca4039d3937.png)

[2017-12-04 16:45] angievanhegan commented on #199
@Maria-alnap please add dropbox link

[2017-12-04 16:46] Maria-alnap commented on #199
@russ-manta here's the dropbox folder with the data from the old site: https://www.dropbox.com/sh/yl9h2r7y14t4avx/AAD-hjIq7eNINYv9ElMLJSNza?dl=0

[2017-12-04 17:13] angievanhegan opened #353 "Various resource issue"
### Dependencies
- [ ] ?
- [ ] ?

---
### Done criteria
- [ ] ?
- [ ] ?

---
### Designs
- [ ] ?
- [ ] ?

---
### ALNAP to check
- [ ] ?
- [ ] ?

[2017-12-05 09:26] russ-manta commented on #241
@meldera Here are some preliminary issues to fix:
General issues
1. I can't view any of the forms when logged in a full member.  I can see the page but no fields. - Can you fix this and test they all work as a member or anyone logged in.
2. Non VAT payments from the webform should, redirect here: http://alnap-dev.mrmdev.co.uk/civicrm/contribute/transact?reset=1&id=2
3. VAT payments should go here:

[2017-12-05 13:15] #296 closed

[2017-12-05 13:16] #336 closed

[2017-12-05 13:20] Maria-alnap commented on #15
@russ-manta great! I'll close this one then

[2017-12-05 13:20] #15 closed

[2017-12-05 13:33] #352 closed

[2017-12-05 13:34] Maria-alnap commented on #238
Update: have requested to @russ-manta to create the basic portals for the last two that we haven't set up (tec and haiti). They should be ready by the end of the week :)

[2017-12-08 16:19] angievanhegan opened #354 "Create UN portal - live before 20 Dec"
### Done criteria
- [ ] Upload 40 resources (programatically)
- [ ] Add UN blue
- [ ] ?

[2017-12-08 16:19] angievanhegan commented on #354
@Maria-alnap can you provide the url? Thanks

[2017-12-15 10:50] russ-manta commented on #353
@Maria-alnap re related content are you happy to display 5 on the side like this or do you want fewer? http://alnap-dev.mrmdev.co.uk/help-library/29th-alnap-annual-meeting-engaging-with-crisis-affected-people-in-humanitarian-action
also can you give an example on live where images are not being shown (ie some example pages)

[2017-12-15 10:52] #257 closed

[2017-12-15 10:52] #147 closed

[2017-12-15 10:52] #206 closed

[2017-12-15 10:53] #23 closed

[2017-12-15 10:55] #314 closed

[2017-12-15 10:59] #340 closed

[2017-12-15 10:59] #304 closed

[2017-12-15 11:00] #333 closed

[2017-12-15 11:00] #332 closed

[2017-12-15 11:00] #308 closed

[2017-12-15 11:03] #323 closed

[2017-12-15 11:03] #242 closed

[2017-12-15 11:04] #338 closed

[2017-12-15 11:05] #331 closed

[2017-12-15 13:38] #325 closed

[2017-12-15 13:38] #347 closed

[2017-12-15 13:38] #292 closed

[2017-12-20 12:14] dave-manta commented on #72
Current system - emails are received by members of the team and these are forwarded to Charli who adds them via a form to the site.

FIELDS
Title
Resource tagging is optional - need more than just URL pasted in to text field, possibly title as well. Be nice if that wasn't manual.  If it was a list, it's all resources from ALNAP as an org, not all resources in the library.
Activity type (Multi-sele

[2018-01-18 15:12] #238 closed

[2018-01-18 15:23] angievanhegan opened #355 "Forms with DAve"

[2018-01-18 15:23] angievanhegan opened #356 "Issue with Sphere"

[2018-01-18 15:23] angievanhegan opened #357 "Analystics dashboard setup"

[2018-01-18 15:24] angievanhegan opened #358 "Search getting 'stuck'"
The reset button isn't erasing search selections

[2018-01-22 10:37] nadia847 opened #359 "RSS feed not importing latest content"
RSS feed: https://www.alnap.org/jobs/rss.xml
View: https://www.alnap.org/admin/structure/views/view/rss_feed/edit/feed_1
Validation: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.alnap.org%2Fjobs%2Frss.xml (even when namespaces have been remover from the views template)
Views template: /var/www/alnap-live/sites/all/themes/alnap/templates/views/views-view-rss.tpl.php

[2018-01-23 12:50] meldera commented on #359
@nadia Got the feed working. Over to you to check/map the fields you need.

[2018-01-24 10:20] russ-manta commented on #358
@Maria-alnap is this an issue with the reset button no working or just with the selected organisation persisting after removing it from a search box?
I think the reset button works ok.  The problem with removing the organisation is because we have the option enabled to remember searches.  If we remove that then the search will not get 'stuck' otherwise we keep it and you have to use reset to clear

[2018-01-24 10:22] russ-manta commented on #353
@Maria-alnap any feedback on home many related items you want to appear on the RHS?  see my comment above..

[2018-01-24 14:37] russ-manta commented on #356
Fixed taxonomy terms and resources related term and change node title:
UPDATE `field_data_field_organisation` SET field_organisation_tid=31038 WHERE field_organisation_tid=30737
UPDATE `node` SET title='Sphere' WHERE nid=36140

[2018-01-29 11:36] #219 closed

[2018-01-29 13:57] russ-manta commented on #353
We are not able to links resources both ways without rebuilding the field for relating resources and copying all the data from one field to another

[2018-01-29 15:44] Maria-alnap commented on #358
@russ-manta the issue is that when you try to reset it doesn't really reset it...

[2018-01-29 15:46] Maria-alnap commented on #353
@russ-manta 5 is fine...

[2018-01-30 11:26] russ-manta commented on #199
@Maria-alnap @matty-manta Ryan has had a look through the previous stats yoanduMantaRayMedia/alnap#199
Investigate way to transfer the current numbers of downloads from the old site to the new provided and believes it will take between 2-3 days of work (@ £560 per day) to combine these stats with the new stats in Google analytics and create a report of downloaded resources for 2017.  Let us know w

[2018-01-30 11:31] Maria-alnap commented on #199
@russ-manta just wondering whether we could use the 5k that we had earmarked for the search-based recommendations that we have already paid for but haven't developed...

[2018-02-01 10:59] russ-manta commented on #199
@Maria-alnap possibly yes, I'm going to chat to @angievanhegan to confirm if we have done any extra work that we feel may have eaten into that 5k. Will come bakc to you on this later.  Our data man Ryan is back in on Monday and could start this next week all being well

[2018-02-21 15:31] #329 closed

[2018-03-13 17:14] meldera commented on #359
@nadia see http://alnap-dev.mrmdev2.co.uk/admin/structure/views/view/rss_feed/edit/feed_1 for an example and use "Global: PHP" to construct your final output. Note "Content: Post date (>= -70 days)" is set for testing only...

[2018-03-14 11:12] nadia847 commented on #359
@Maria-alnap the jobs RSS feed is now pulling in organisation logos. over to you for testing :o)

[2018-03-14 12:20] Maria-alnap commented on #359
@nadia847 thanks! I just sent a test to my outlook  it's still not showing up on my end, though (see attached).
![logo in jobs email not showing](https://user-images.githubusercontent.com/29306539/37402053-024ba010-2782-11e8-8b5a-015caf3f5d9d.PNG)

[2018-03-15 13:16] meldera commented on #359
@Maria-alnap Could you forward the email to arseni@mantaraymedia.co.uk please?

[2018-03-16 15:58] nadia847 commented on #359
@Maria-alnap the logos are appearing for me in the preview of your mailchimp and a test i sent out from our mailchimp. Is this working OK for you?

[2018-03-16 16:27] Maria-alnap commented on #359
@nadia847 just checked and they're indeed loading now but they look a bit pixelated. Any idea why this might be?

[2018-03-19 11:15] Maria-alnap commented on #359
@nadia847  Just got a test of the jobs email and the logos now look huge! I assume you're seeing the same and still tweaking this?

[2018-03-19 11:18] nadia847 commented on #359
@Maria-alnap the template was pulling in smaller thumbnails which I've now made bigger. I've also created a  test rss campaign in your mailchimp account to send tests to you and myself so I could ensure this was working ok; I'm getting different results from the template in our manta mailchimp than yours so i wanted to make sure your template works.

As mentioned, it's a paused clone of your RSS c

[2018-03-19 11:22] nadia847 commented on #359
@Maria-alnap not looking "huge" for me but I'll make them a little smaller!

[2018-03-19 11:44] Maria-alnap commented on #359
@nadia847 Thanks! The logos look OK now. I'll close this issue 👍

[2018-03-19 11:50] #359 closed